/*
Djangolang

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// ExecutionAPIService ExecutionAPI service
type ExecutionAPIService service

type ApiDeleteExecutionRequest struct {
	ctx context.Context
	ApiService *ExecutionAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiDeleteExecutionRequest) Depth(depth int64) ApiDeleteExecutionRequest {
	r.depth = &depth
	return r
}

func (r ApiDeleteExecutionRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteExecutionExecute(r)
}

/*
DeleteExecution Method for DeleteExecution

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiDeleteExecutionRequest
*/
func (a *ExecutionAPIService) DeleteExecution(ctx context.Context, primaryKey string) ApiDeleteExecutionRequest {
	return ApiDeleteExecutionRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
func (a *ExecutionAPIService) DeleteExecutionExecute(r ApiDeleteExecutionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionAPIService.DeleteExecution")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/executions/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetExecutionRequest struct {
	ctx context.Context
	ApiService *ExecutionAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiGetExecutionRequest) Depth(depth int64) ApiGetExecutionRequest {
	r.depth = &depth
	return r
}

func (r ApiGetExecutionRequest) Execute() (*ResponseWithGenericOfExecution, *http.Response, error) {
	return r.ApiService.GetExecutionExecute(r)
}

/*
GetExecution Method for GetExecution

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiGetExecutionRequest
*/
func (a *ExecutionAPIService) GetExecution(ctx context.Context, primaryKey string) ApiGetExecutionRequest {
	return ApiGetExecutionRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfExecution
func (a *ExecutionAPIService) GetExecutionExecute(r ApiGetExecutionRequest) (*ResponseWithGenericOfExecution, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfExecution
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionAPIService.GetExecution")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/executions/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetExecutionsRequest struct {
	ctx context.Context
	ApiService *ExecutionAPIService
	limit *int32
	offset *int32
	depth *int32
	changeLoad *string
	jobLoad *string
	referencedByOutputLoad *string
	idEq *string
	idNe *string
	idGt *string
	idGte *string
	idLt *string
	idLte *string
	idIn *string
	idNotin *string
	idContains *string
	idNotcontains *string
	idLike *string
	idNotlike *string
	idIlike *string
	idNotilike *string
	idDesc *string
	idAsc *string
	createdAtEq *time.Time
	createdAtNe *time.Time
	createdAtGt *time.Time
	createdAtGte *time.Time
	createdAtLt *time.Time
	createdAtLte *time.Time
	createdAtIn *time.Time
	createdAtNotin *time.Time
	createdAtContains *time.Time
	createdAtNotcontains *time.Time
	createdAtLike *time.Time
	createdAtNotlike *time.Time
	createdAtIlike *time.Time
	createdAtNotilike *time.Time
	createdAtDesc *string
	createdAtAsc *string
	updatedAtEq *time.Time
	updatedAtNe *time.Time
	updatedAtGt *time.Time
	updatedAtGte *time.Time
	updatedAtLt *time.Time
	updatedAtLte *time.Time
	updatedAtIn *time.Time
	updatedAtNotin *time.Time
	updatedAtContains *time.Time
	updatedAtNotcontains *time.Time
	updatedAtLike *time.Time
	updatedAtNotlike *time.Time
	updatedAtIlike *time.Time
	updatedAtNotilike *time.Time
	updatedAtDesc *string
	updatedAtAsc *string
	deletedAtEq *time.Time
	deletedAtNe *time.Time
	deletedAtGt *time.Time
	deletedAtGte *time.Time
	deletedAtLt *time.Time
	deletedAtLte *time.Time
	deletedAtIn *time.Time
	deletedAtNotin *time.Time
	deletedAtContains *time.Time
	deletedAtNotcontains *time.Time
	deletedAtLike *time.Time
	deletedAtNotlike *time.Time
	deletedAtIlike *time.Time
	deletedAtNotilike *time.Time
	deletedAtDesc *string
	deletedAtAsc *string
	statusEq *string
	statusNe *string
	statusGt *string
	statusGte *string
	statusLt *string
	statusLte *string
	statusIn *string
	statusNotin *string
	statusContains *string
	statusNotcontains *string
	statusLike *string
	statusNotlike *string
	statusIlike *string
	statusNotilike *string
	statusDesc *string
	statusAsc *string
	startedAtEq *time.Time
	startedAtNe *time.Time
	startedAtGt *time.Time
	startedAtGte *time.Time
	startedAtLt *time.Time
	startedAtLte *time.Time
	startedAtIn *time.Time
	startedAtNotin *time.Time
	startedAtContains *time.Time
	startedAtNotcontains *time.Time
	startedAtLike *time.Time
	startedAtNotlike *time.Time
	startedAtIlike *time.Time
	startedAtNotilike *time.Time
	startedAtDesc *string
	startedAtAsc *string
	endedAtEq *time.Time
	endedAtNe *time.Time
	endedAtGt *time.Time
	endedAtGte *time.Time
	endedAtLt *time.Time
	endedAtLte *time.Time
	endedAtIn *time.Time
	endedAtNotin *time.Time
	endedAtContains *time.Time
	endedAtNotcontains *time.Time
	endedAtLike *time.Time
	endedAtNotlike *time.Time
	endedAtIlike *time.Time
	endedAtNotilike *time.Time
	endedAtDesc *string
	endedAtAsc *string
	jobExecutorClaimedUntilEq *time.Time
	jobExecutorClaimedUntilNe *time.Time
	jobExecutorClaimedUntilGt *time.Time
	jobExecutorClaimedUntilGte *time.Time
	jobExecutorClaimedUntilLt *time.Time
	jobExecutorClaimedUntilLte *time.Time
	jobExecutorClaimedUntilIn *time.Time
	jobExecutorClaimedUntilNotin *time.Time
	jobExecutorClaimedUntilContains *time.Time
	jobExecutorClaimedUntilNotcontains *time.Time
	jobExecutorClaimedUntilLike *time.Time
	jobExecutorClaimedUntilNotlike *time.Time
	jobExecutorClaimedUntilIlike *time.Time
	jobExecutorClaimedUntilNotilike *time.Time
	jobExecutorClaimedUntilDesc *string
	jobExecutorClaimedUntilAsc *string
	changeIdEq *string
	changeIdNe *string
	changeIdGt *string
	changeIdGte *string
	changeIdLt *string
	changeIdLte *string
	changeIdIn *string
	changeIdNotin *string
	changeIdContains *string
	changeIdNotcontains *string
	changeIdLike *string
	changeIdNotlike *string
	changeIdIlike *string
	changeIdNotilike *string
	changeIdDesc *string
	changeIdAsc *string
	changeIdObjectContains *interface{}
	changeIdObjectNotcontains *interface{}
	changeIdObjectDesc *string
	changeIdObjectAsc *string
	jobIdEq *string
	jobIdNe *string
	jobIdGt *string
	jobIdGte *string
	jobIdLt *string
	jobIdLte *string
	jobIdIn *string
	jobIdNotin *string
	jobIdContains *string
	jobIdNotcontains *string
	jobIdLike *string
	jobIdNotlike *string
	jobIdIlike *string
	jobIdNotilike *string
	jobIdDesc *string
	jobIdAsc *string
	jobIdObjectContains *interface{}
	jobIdObjectNotcontains *interface{}
	jobIdObjectDesc *string
	jobIdObjectAsc *string
	referencedByOutputExecutionIdObjectsContains *interface{}
	referencedByOutputExecutionIdObjectsNotcontains *interface{}
	referencedByOutputExecutionIdObjectsDesc *string
	referencedByOutputExecutionIdObjectsAsc *string
}

// SQL LIMIT operator
func (r ApiGetExecutionsRequest) Limit(limit int32) ApiGetExecutionsRequest {
	r.limit = &limit
	return r
}

// SQL OFFSET operator
func (r ApiGetExecutionsRequest) Offset(offset int32) ApiGetExecutionsRequest {
	r.offset = &offset
	return r
}

// Max recursion depth for loading foreign objects; default &#x3D; 1  (0 &#x3D; recurse until graph cycle detected, 1 &#x3D; this object only, 2 &#x3D; this object + neighbours, 3 &#x3D; this object + neighbours + their neighbours... etc)
func (r ApiGetExecutionsRequest) Depth(depth int32) ApiGetExecutionsRequest {
	r.depth = &depth
	return r
}

// load the given directly related object, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) ChangeLoad(changeLoad string) ApiGetExecutionsRequest {
	r.changeLoad = &changeLoad
	return r
}

// load the given directly related object, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) JobLoad(jobLoad string) ApiGetExecutionsRequest {
	r.jobLoad = &jobLoad
	return r
}

// load the given indirectly related objects, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) ReferencedByOutputLoad(referencedByOutputLoad string) ApiGetExecutionsRequest {
	r.referencedByOutputLoad = &referencedByOutputLoad
	return r
}

// SQL &#x3D; comparison
func (r ApiGetExecutionsRequest) IdEq(idEq string) ApiGetExecutionsRequest {
	r.idEq = &idEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetExecutionsRequest) IdNe(idNe string) ApiGetExecutionsRequest {
	r.idNe = &idNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) IdGt(idGt string) ApiGetExecutionsRequest {
	r.idGt = &idGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) IdGte(idGte string) ApiGetExecutionsRequest {
	r.idGte = &idGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) IdLt(idLt string) ApiGetExecutionsRequest {
	r.idLt = &idLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) IdLte(idLte string) ApiGetExecutionsRequest {
	r.idLte = &idLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) IdIn(idIn string) ApiGetExecutionsRequest {
	r.idIn = &idIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) IdNotin(idNotin string) ApiGetExecutionsRequest {
	r.idNotin = &idNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetExecutionsRequest) IdContains(idContains string) ApiGetExecutionsRequest {
	r.idContains = &idContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetExecutionsRequest) IdNotcontains(idNotcontains string) ApiGetExecutionsRequest {
	r.idNotcontains = &idNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) IdLike(idLike string) ApiGetExecutionsRequest {
	r.idLike = &idLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) IdNotlike(idNotlike string) ApiGetExecutionsRequest {
	r.idNotlike = &idNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) IdIlike(idIlike string) ApiGetExecutionsRequest {
	r.idIlike = &idIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) IdNotilike(idNotilike string) ApiGetExecutionsRequest {
	r.idNotilike = &idNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) IdDesc(idDesc string) ApiGetExecutionsRequest {
	r.idDesc = &idDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) IdAsc(idAsc string) ApiGetExecutionsRequest {
	r.idAsc = &idAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetExecutionsRequest) CreatedAtEq(createdAtEq time.Time) ApiGetExecutionsRequest {
	r.createdAtEq = &createdAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetExecutionsRequest) CreatedAtNe(createdAtNe time.Time) ApiGetExecutionsRequest {
	r.createdAtNe = &createdAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) CreatedAtGt(createdAtGt time.Time) ApiGetExecutionsRequest {
	r.createdAtGt = &createdAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) CreatedAtGte(createdAtGte time.Time) ApiGetExecutionsRequest {
	r.createdAtGte = &createdAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) CreatedAtLt(createdAtLt time.Time) ApiGetExecutionsRequest {
	r.createdAtLt = &createdAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) CreatedAtLte(createdAtLte time.Time) ApiGetExecutionsRequest {
	r.createdAtLte = &createdAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) CreatedAtIn(createdAtIn time.Time) ApiGetExecutionsRequest {
	r.createdAtIn = &createdAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) CreatedAtNotin(createdAtNotin time.Time) ApiGetExecutionsRequest {
	r.createdAtNotin = &createdAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetExecutionsRequest) CreatedAtContains(createdAtContains time.Time) ApiGetExecutionsRequest {
	r.createdAtContains = &createdAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetExecutionsRequest) CreatedAtNotcontains(createdAtNotcontains time.Time) ApiGetExecutionsRequest {
	r.createdAtNotcontains = &createdAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) CreatedAtLike(createdAtLike time.Time) ApiGetExecutionsRequest {
	r.createdAtLike = &createdAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) CreatedAtNotlike(createdAtNotlike time.Time) ApiGetExecutionsRequest {
	r.createdAtNotlike = &createdAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) CreatedAtIlike(createdAtIlike time.Time) ApiGetExecutionsRequest {
	r.createdAtIlike = &createdAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) CreatedAtNotilike(createdAtNotilike time.Time) ApiGetExecutionsRequest {
	r.createdAtNotilike = &createdAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) CreatedAtDesc(createdAtDesc string) ApiGetExecutionsRequest {
	r.createdAtDesc = &createdAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) CreatedAtAsc(createdAtAsc string) ApiGetExecutionsRequest {
	r.createdAtAsc = &createdAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetExecutionsRequest) UpdatedAtEq(updatedAtEq time.Time) ApiGetExecutionsRequest {
	r.updatedAtEq = &updatedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetExecutionsRequest) UpdatedAtNe(updatedAtNe time.Time) ApiGetExecutionsRequest {
	r.updatedAtNe = &updatedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) UpdatedAtGt(updatedAtGt time.Time) ApiGetExecutionsRequest {
	r.updatedAtGt = &updatedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) UpdatedAtGte(updatedAtGte time.Time) ApiGetExecutionsRequest {
	r.updatedAtGte = &updatedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) UpdatedAtLt(updatedAtLt time.Time) ApiGetExecutionsRequest {
	r.updatedAtLt = &updatedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) UpdatedAtLte(updatedAtLte time.Time) ApiGetExecutionsRequest {
	r.updatedAtLte = &updatedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) UpdatedAtIn(updatedAtIn time.Time) ApiGetExecutionsRequest {
	r.updatedAtIn = &updatedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) UpdatedAtNotin(updatedAtNotin time.Time) ApiGetExecutionsRequest {
	r.updatedAtNotin = &updatedAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetExecutionsRequest) UpdatedAtContains(updatedAtContains time.Time) ApiGetExecutionsRequest {
	r.updatedAtContains = &updatedAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetExecutionsRequest) UpdatedAtNotcontains(updatedAtNotcontains time.Time) ApiGetExecutionsRequest {
	r.updatedAtNotcontains = &updatedAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) UpdatedAtLike(updatedAtLike time.Time) ApiGetExecutionsRequest {
	r.updatedAtLike = &updatedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) UpdatedAtNotlike(updatedAtNotlike time.Time) ApiGetExecutionsRequest {
	r.updatedAtNotlike = &updatedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) UpdatedAtIlike(updatedAtIlike time.Time) ApiGetExecutionsRequest {
	r.updatedAtIlike = &updatedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) UpdatedAtNotilike(updatedAtNotilike time.Time) ApiGetExecutionsRequest {
	r.updatedAtNotilike = &updatedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) UpdatedAtDesc(updatedAtDesc string) ApiGetExecutionsRequest {
	r.updatedAtDesc = &updatedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) UpdatedAtAsc(updatedAtAsc string) ApiGetExecutionsRequest {
	r.updatedAtAsc = &updatedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetExecutionsRequest) DeletedAtEq(deletedAtEq time.Time) ApiGetExecutionsRequest {
	r.deletedAtEq = &deletedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetExecutionsRequest) DeletedAtNe(deletedAtNe time.Time) ApiGetExecutionsRequest {
	r.deletedAtNe = &deletedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) DeletedAtGt(deletedAtGt time.Time) ApiGetExecutionsRequest {
	r.deletedAtGt = &deletedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) DeletedAtGte(deletedAtGte time.Time) ApiGetExecutionsRequest {
	r.deletedAtGte = &deletedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) DeletedAtLt(deletedAtLt time.Time) ApiGetExecutionsRequest {
	r.deletedAtLt = &deletedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) DeletedAtLte(deletedAtLte time.Time) ApiGetExecutionsRequest {
	r.deletedAtLte = &deletedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) DeletedAtIn(deletedAtIn time.Time) ApiGetExecutionsRequest {
	r.deletedAtIn = &deletedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) DeletedAtNotin(deletedAtNotin time.Time) ApiGetExecutionsRequest {
	r.deletedAtNotin = &deletedAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetExecutionsRequest) DeletedAtContains(deletedAtContains time.Time) ApiGetExecutionsRequest {
	r.deletedAtContains = &deletedAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetExecutionsRequest) DeletedAtNotcontains(deletedAtNotcontains time.Time) ApiGetExecutionsRequest {
	r.deletedAtNotcontains = &deletedAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) DeletedAtLike(deletedAtLike time.Time) ApiGetExecutionsRequest {
	r.deletedAtLike = &deletedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) DeletedAtNotlike(deletedAtNotlike time.Time) ApiGetExecutionsRequest {
	r.deletedAtNotlike = &deletedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) DeletedAtIlike(deletedAtIlike time.Time) ApiGetExecutionsRequest {
	r.deletedAtIlike = &deletedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) DeletedAtNotilike(deletedAtNotilike time.Time) ApiGetExecutionsRequest {
	r.deletedAtNotilike = &deletedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) DeletedAtDesc(deletedAtDesc string) ApiGetExecutionsRequest {
	r.deletedAtDesc = &deletedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) DeletedAtAsc(deletedAtAsc string) ApiGetExecutionsRequest {
	r.deletedAtAsc = &deletedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetExecutionsRequest) StatusEq(statusEq string) ApiGetExecutionsRequest {
	r.statusEq = &statusEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetExecutionsRequest) StatusNe(statusNe string) ApiGetExecutionsRequest {
	r.statusNe = &statusNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) StatusGt(statusGt string) ApiGetExecutionsRequest {
	r.statusGt = &statusGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) StatusGte(statusGte string) ApiGetExecutionsRequest {
	r.statusGte = &statusGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) StatusLt(statusLt string) ApiGetExecutionsRequest {
	r.statusLt = &statusLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) StatusLte(statusLte string) ApiGetExecutionsRequest {
	r.statusLte = &statusLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) StatusIn(statusIn string) ApiGetExecutionsRequest {
	r.statusIn = &statusIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) StatusNotin(statusNotin string) ApiGetExecutionsRequest {
	r.statusNotin = &statusNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetExecutionsRequest) StatusContains(statusContains string) ApiGetExecutionsRequest {
	r.statusContains = &statusContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetExecutionsRequest) StatusNotcontains(statusNotcontains string) ApiGetExecutionsRequest {
	r.statusNotcontains = &statusNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) StatusLike(statusLike string) ApiGetExecutionsRequest {
	r.statusLike = &statusLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) StatusNotlike(statusNotlike string) ApiGetExecutionsRequest {
	r.statusNotlike = &statusNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) StatusIlike(statusIlike string) ApiGetExecutionsRequest {
	r.statusIlike = &statusIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) StatusNotilike(statusNotilike string) ApiGetExecutionsRequest {
	r.statusNotilike = &statusNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) StatusDesc(statusDesc string) ApiGetExecutionsRequest {
	r.statusDesc = &statusDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) StatusAsc(statusAsc string) ApiGetExecutionsRequest {
	r.statusAsc = &statusAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetExecutionsRequest) StartedAtEq(startedAtEq time.Time) ApiGetExecutionsRequest {
	r.startedAtEq = &startedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetExecutionsRequest) StartedAtNe(startedAtNe time.Time) ApiGetExecutionsRequest {
	r.startedAtNe = &startedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) StartedAtGt(startedAtGt time.Time) ApiGetExecutionsRequest {
	r.startedAtGt = &startedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) StartedAtGte(startedAtGte time.Time) ApiGetExecutionsRequest {
	r.startedAtGte = &startedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) StartedAtLt(startedAtLt time.Time) ApiGetExecutionsRequest {
	r.startedAtLt = &startedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) StartedAtLte(startedAtLte time.Time) ApiGetExecutionsRequest {
	r.startedAtLte = &startedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) StartedAtIn(startedAtIn time.Time) ApiGetExecutionsRequest {
	r.startedAtIn = &startedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) StartedAtNotin(startedAtNotin time.Time) ApiGetExecutionsRequest {
	r.startedAtNotin = &startedAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetExecutionsRequest) StartedAtContains(startedAtContains time.Time) ApiGetExecutionsRequest {
	r.startedAtContains = &startedAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetExecutionsRequest) StartedAtNotcontains(startedAtNotcontains time.Time) ApiGetExecutionsRequest {
	r.startedAtNotcontains = &startedAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) StartedAtLike(startedAtLike time.Time) ApiGetExecutionsRequest {
	r.startedAtLike = &startedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) StartedAtNotlike(startedAtNotlike time.Time) ApiGetExecutionsRequest {
	r.startedAtNotlike = &startedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) StartedAtIlike(startedAtIlike time.Time) ApiGetExecutionsRequest {
	r.startedAtIlike = &startedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) StartedAtNotilike(startedAtNotilike time.Time) ApiGetExecutionsRequest {
	r.startedAtNotilike = &startedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) StartedAtDesc(startedAtDesc string) ApiGetExecutionsRequest {
	r.startedAtDesc = &startedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) StartedAtAsc(startedAtAsc string) ApiGetExecutionsRequest {
	r.startedAtAsc = &startedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetExecutionsRequest) EndedAtEq(endedAtEq time.Time) ApiGetExecutionsRequest {
	r.endedAtEq = &endedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetExecutionsRequest) EndedAtNe(endedAtNe time.Time) ApiGetExecutionsRequest {
	r.endedAtNe = &endedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) EndedAtGt(endedAtGt time.Time) ApiGetExecutionsRequest {
	r.endedAtGt = &endedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) EndedAtGte(endedAtGte time.Time) ApiGetExecutionsRequest {
	r.endedAtGte = &endedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) EndedAtLt(endedAtLt time.Time) ApiGetExecutionsRequest {
	r.endedAtLt = &endedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) EndedAtLte(endedAtLte time.Time) ApiGetExecutionsRequest {
	r.endedAtLte = &endedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) EndedAtIn(endedAtIn time.Time) ApiGetExecutionsRequest {
	r.endedAtIn = &endedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) EndedAtNotin(endedAtNotin time.Time) ApiGetExecutionsRequest {
	r.endedAtNotin = &endedAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetExecutionsRequest) EndedAtContains(endedAtContains time.Time) ApiGetExecutionsRequest {
	r.endedAtContains = &endedAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetExecutionsRequest) EndedAtNotcontains(endedAtNotcontains time.Time) ApiGetExecutionsRequest {
	r.endedAtNotcontains = &endedAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) EndedAtLike(endedAtLike time.Time) ApiGetExecutionsRequest {
	r.endedAtLike = &endedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) EndedAtNotlike(endedAtNotlike time.Time) ApiGetExecutionsRequest {
	r.endedAtNotlike = &endedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) EndedAtIlike(endedAtIlike time.Time) ApiGetExecutionsRequest {
	r.endedAtIlike = &endedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) EndedAtNotilike(endedAtNotilike time.Time) ApiGetExecutionsRequest {
	r.endedAtNotilike = &endedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) EndedAtDesc(endedAtDesc string) ApiGetExecutionsRequest {
	r.endedAtDesc = &endedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) EndedAtAsc(endedAtAsc string) ApiGetExecutionsRequest {
	r.endedAtAsc = &endedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetExecutionsRequest) JobExecutorClaimedUntilEq(jobExecutorClaimedUntilEq time.Time) ApiGetExecutionsRequest {
	r.jobExecutorClaimedUntilEq = &jobExecutorClaimedUntilEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetExecutionsRequest) JobExecutorClaimedUntilNe(jobExecutorClaimedUntilNe time.Time) ApiGetExecutionsRequest {
	r.jobExecutorClaimedUntilNe = &jobExecutorClaimedUntilNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) JobExecutorClaimedUntilGt(jobExecutorClaimedUntilGt time.Time) ApiGetExecutionsRequest {
	r.jobExecutorClaimedUntilGt = &jobExecutorClaimedUntilGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) JobExecutorClaimedUntilGte(jobExecutorClaimedUntilGte time.Time) ApiGetExecutionsRequest {
	r.jobExecutorClaimedUntilGte = &jobExecutorClaimedUntilGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) JobExecutorClaimedUntilLt(jobExecutorClaimedUntilLt time.Time) ApiGetExecutionsRequest {
	r.jobExecutorClaimedUntilLt = &jobExecutorClaimedUntilLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) JobExecutorClaimedUntilLte(jobExecutorClaimedUntilLte time.Time) ApiGetExecutionsRequest {
	r.jobExecutorClaimedUntilLte = &jobExecutorClaimedUntilLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) JobExecutorClaimedUntilIn(jobExecutorClaimedUntilIn time.Time) ApiGetExecutionsRequest {
	r.jobExecutorClaimedUntilIn = &jobExecutorClaimedUntilIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) JobExecutorClaimedUntilNotin(jobExecutorClaimedUntilNotin time.Time) ApiGetExecutionsRequest {
	r.jobExecutorClaimedUntilNotin = &jobExecutorClaimedUntilNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetExecutionsRequest) JobExecutorClaimedUntilContains(jobExecutorClaimedUntilContains time.Time) ApiGetExecutionsRequest {
	r.jobExecutorClaimedUntilContains = &jobExecutorClaimedUntilContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetExecutionsRequest) JobExecutorClaimedUntilNotcontains(jobExecutorClaimedUntilNotcontains time.Time) ApiGetExecutionsRequest {
	r.jobExecutorClaimedUntilNotcontains = &jobExecutorClaimedUntilNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) JobExecutorClaimedUntilLike(jobExecutorClaimedUntilLike time.Time) ApiGetExecutionsRequest {
	r.jobExecutorClaimedUntilLike = &jobExecutorClaimedUntilLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) JobExecutorClaimedUntilNotlike(jobExecutorClaimedUntilNotlike time.Time) ApiGetExecutionsRequest {
	r.jobExecutorClaimedUntilNotlike = &jobExecutorClaimedUntilNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) JobExecutorClaimedUntilIlike(jobExecutorClaimedUntilIlike time.Time) ApiGetExecutionsRequest {
	r.jobExecutorClaimedUntilIlike = &jobExecutorClaimedUntilIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) JobExecutorClaimedUntilNotilike(jobExecutorClaimedUntilNotilike time.Time) ApiGetExecutionsRequest {
	r.jobExecutorClaimedUntilNotilike = &jobExecutorClaimedUntilNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) JobExecutorClaimedUntilDesc(jobExecutorClaimedUntilDesc string) ApiGetExecutionsRequest {
	r.jobExecutorClaimedUntilDesc = &jobExecutorClaimedUntilDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) JobExecutorClaimedUntilAsc(jobExecutorClaimedUntilAsc string) ApiGetExecutionsRequest {
	r.jobExecutorClaimedUntilAsc = &jobExecutorClaimedUntilAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetExecutionsRequest) ChangeIdEq(changeIdEq string) ApiGetExecutionsRequest {
	r.changeIdEq = &changeIdEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetExecutionsRequest) ChangeIdNe(changeIdNe string) ApiGetExecutionsRequest {
	r.changeIdNe = &changeIdNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) ChangeIdGt(changeIdGt string) ApiGetExecutionsRequest {
	r.changeIdGt = &changeIdGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) ChangeIdGte(changeIdGte string) ApiGetExecutionsRequest {
	r.changeIdGte = &changeIdGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) ChangeIdLt(changeIdLt string) ApiGetExecutionsRequest {
	r.changeIdLt = &changeIdLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) ChangeIdLte(changeIdLte string) ApiGetExecutionsRequest {
	r.changeIdLte = &changeIdLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) ChangeIdIn(changeIdIn string) ApiGetExecutionsRequest {
	r.changeIdIn = &changeIdIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) ChangeIdNotin(changeIdNotin string) ApiGetExecutionsRequest {
	r.changeIdNotin = &changeIdNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetExecutionsRequest) ChangeIdContains(changeIdContains string) ApiGetExecutionsRequest {
	r.changeIdContains = &changeIdContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetExecutionsRequest) ChangeIdNotcontains(changeIdNotcontains string) ApiGetExecutionsRequest {
	r.changeIdNotcontains = &changeIdNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) ChangeIdLike(changeIdLike string) ApiGetExecutionsRequest {
	r.changeIdLike = &changeIdLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) ChangeIdNotlike(changeIdNotlike string) ApiGetExecutionsRequest {
	r.changeIdNotlike = &changeIdNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) ChangeIdIlike(changeIdIlike string) ApiGetExecutionsRequest {
	r.changeIdIlike = &changeIdIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) ChangeIdNotilike(changeIdNotilike string) ApiGetExecutionsRequest {
	r.changeIdNotilike = &changeIdNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) ChangeIdDesc(changeIdDesc string) ApiGetExecutionsRequest {
	r.changeIdDesc = &changeIdDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) ChangeIdAsc(changeIdAsc string) ApiGetExecutionsRequest {
	r.changeIdAsc = &changeIdAsc
	return r
}

// SQL @&gt; comparison
func (r ApiGetExecutionsRequest) ChangeIdObjectContains(changeIdObjectContains interface{}) ApiGetExecutionsRequest {
	r.changeIdObjectContains = &changeIdObjectContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetExecutionsRequest) ChangeIdObjectNotcontains(changeIdObjectNotcontains interface{}) ApiGetExecutionsRequest {
	r.changeIdObjectNotcontains = &changeIdObjectNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) ChangeIdObjectDesc(changeIdObjectDesc string) ApiGetExecutionsRequest {
	r.changeIdObjectDesc = &changeIdObjectDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) ChangeIdObjectAsc(changeIdObjectAsc string) ApiGetExecutionsRequest {
	r.changeIdObjectAsc = &changeIdObjectAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetExecutionsRequest) JobIdEq(jobIdEq string) ApiGetExecutionsRequest {
	r.jobIdEq = &jobIdEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetExecutionsRequest) JobIdNe(jobIdNe string) ApiGetExecutionsRequest {
	r.jobIdNe = &jobIdNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) JobIdGt(jobIdGt string) ApiGetExecutionsRequest {
	r.jobIdGt = &jobIdGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) JobIdGte(jobIdGte string) ApiGetExecutionsRequest {
	r.jobIdGte = &jobIdGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) JobIdLt(jobIdLt string) ApiGetExecutionsRequest {
	r.jobIdLt = &jobIdLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) JobIdLte(jobIdLte string) ApiGetExecutionsRequest {
	r.jobIdLte = &jobIdLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) JobIdIn(jobIdIn string) ApiGetExecutionsRequest {
	r.jobIdIn = &jobIdIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) JobIdNotin(jobIdNotin string) ApiGetExecutionsRequest {
	r.jobIdNotin = &jobIdNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetExecutionsRequest) JobIdContains(jobIdContains string) ApiGetExecutionsRequest {
	r.jobIdContains = &jobIdContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetExecutionsRequest) JobIdNotcontains(jobIdNotcontains string) ApiGetExecutionsRequest {
	r.jobIdNotcontains = &jobIdNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) JobIdLike(jobIdLike string) ApiGetExecutionsRequest {
	r.jobIdLike = &jobIdLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) JobIdNotlike(jobIdNotlike string) ApiGetExecutionsRequest {
	r.jobIdNotlike = &jobIdNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) JobIdIlike(jobIdIlike string) ApiGetExecutionsRequest {
	r.jobIdIlike = &jobIdIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) JobIdNotilike(jobIdNotilike string) ApiGetExecutionsRequest {
	r.jobIdNotilike = &jobIdNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) JobIdDesc(jobIdDesc string) ApiGetExecutionsRequest {
	r.jobIdDesc = &jobIdDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) JobIdAsc(jobIdAsc string) ApiGetExecutionsRequest {
	r.jobIdAsc = &jobIdAsc
	return r
}

// SQL @&gt; comparison
func (r ApiGetExecutionsRequest) JobIdObjectContains(jobIdObjectContains interface{}) ApiGetExecutionsRequest {
	r.jobIdObjectContains = &jobIdObjectContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetExecutionsRequest) JobIdObjectNotcontains(jobIdObjectNotcontains interface{}) ApiGetExecutionsRequest {
	r.jobIdObjectNotcontains = &jobIdObjectNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) JobIdObjectDesc(jobIdObjectDesc string) ApiGetExecutionsRequest {
	r.jobIdObjectDesc = &jobIdObjectDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) JobIdObjectAsc(jobIdObjectAsc string) ApiGetExecutionsRequest {
	r.jobIdObjectAsc = &jobIdObjectAsc
	return r
}

// SQL @&gt; comparison
func (r ApiGetExecutionsRequest) ReferencedByOutputExecutionIdObjectsContains(referencedByOutputExecutionIdObjectsContains interface{}) ApiGetExecutionsRequest {
	r.referencedByOutputExecutionIdObjectsContains = &referencedByOutputExecutionIdObjectsContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetExecutionsRequest) ReferencedByOutputExecutionIdObjectsNotcontains(referencedByOutputExecutionIdObjectsNotcontains interface{}) ApiGetExecutionsRequest {
	r.referencedByOutputExecutionIdObjectsNotcontains = &referencedByOutputExecutionIdObjectsNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) ReferencedByOutputExecutionIdObjectsDesc(referencedByOutputExecutionIdObjectsDesc string) ApiGetExecutionsRequest {
	r.referencedByOutputExecutionIdObjectsDesc = &referencedByOutputExecutionIdObjectsDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) ReferencedByOutputExecutionIdObjectsAsc(referencedByOutputExecutionIdObjectsAsc string) ApiGetExecutionsRequest {
	r.referencedByOutputExecutionIdObjectsAsc = &referencedByOutputExecutionIdObjectsAsc
	return r
}

func (r ApiGetExecutionsRequest) Execute() (*ResponseWithGenericOfExecution, *http.Response, error) {
	return r.ApiService.GetExecutionsExecute(r)
}

/*
GetExecutions Method for GetExecutions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetExecutionsRequest
*/
func (a *ExecutionAPIService) GetExecutions(ctx context.Context) ApiGetExecutionsRequest {
	return ApiGetExecutionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfExecution
func (a *ExecutionAPIService) GetExecutionsExecute(r ApiGetExecutionsRequest) (*ResponseWithGenericOfExecution, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfExecution
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionAPIService.GetExecutions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/executions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	if r.changeLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "change__load", r.changeLoad, "form", "")
	}
	if r.jobLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job__load", r.jobLoad, "form", "")
	}
	if r.referencedByOutputLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_output__load", r.referencedByOutputLoad, "form", "")
	}
	if r.idEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__eq", r.idEq, "form", "")
	}
	if r.idNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ne", r.idNe, "form", "")
	}
	if r.idGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gt", r.idGt, "form", "")
	}
	if r.idGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gte", r.idGte, "form", "")
	}
	if r.idLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lt", r.idLt, "form", "")
	}
	if r.idLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lte", r.idLte, "form", "")
	}
	if r.idIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__in", r.idIn, "form", "")
	}
	if r.idNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notin", r.idNotin, "form", "")
	}
	if r.idContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__contains", r.idContains, "form", "")
	}
	if r.idNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notcontains", r.idNotcontains, "form", "")
	}
	if r.idLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__like", r.idLike, "form", "")
	}
	if r.idNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notlike", r.idNotlike, "form", "")
	}
	if r.idIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ilike", r.idIlike, "form", "")
	}
	if r.idNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notilike", r.idNotilike, "form", "")
	}
	if r.idDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__desc", r.idDesc, "form", "")
	}
	if r.idAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__asc", r.idAsc, "form", "")
	}
	if r.createdAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__eq", r.createdAtEq, "form", "")
	}
	if r.createdAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ne", r.createdAtNe, "form", "")
	}
	if r.createdAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gt", r.createdAtGt, "form", "")
	}
	if r.createdAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gte", r.createdAtGte, "form", "")
	}
	if r.createdAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lt", r.createdAtLt, "form", "")
	}
	if r.createdAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lte", r.createdAtLte, "form", "")
	}
	if r.createdAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__in", r.createdAtIn, "form", "")
	}
	if r.createdAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notin", r.createdAtNotin, "form", "")
	}
	if r.createdAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__contains", r.createdAtContains, "form", "")
	}
	if r.createdAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notcontains", r.createdAtNotcontains, "form", "")
	}
	if r.createdAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__like", r.createdAtLike, "form", "")
	}
	if r.createdAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notlike", r.createdAtNotlike, "form", "")
	}
	if r.createdAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ilike", r.createdAtIlike, "form", "")
	}
	if r.createdAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notilike", r.createdAtNotilike, "form", "")
	}
	if r.createdAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__desc", r.createdAtDesc, "form", "")
	}
	if r.createdAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__asc", r.createdAtAsc, "form", "")
	}
	if r.updatedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__eq", r.updatedAtEq, "form", "")
	}
	if r.updatedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ne", r.updatedAtNe, "form", "")
	}
	if r.updatedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gt", r.updatedAtGt, "form", "")
	}
	if r.updatedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gte", r.updatedAtGte, "form", "")
	}
	if r.updatedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lt", r.updatedAtLt, "form", "")
	}
	if r.updatedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lte", r.updatedAtLte, "form", "")
	}
	if r.updatedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__in", r.updatedAtIn, "form", "")
	}
	if r.updatedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notin", r.updatedAtNotin, "form", "")
	}
	if r.updatedAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__contains", r.updatedAtContains, "form", "")
	}
	if r.updatedAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notcontains", r.updatedAtNotcontains, "form", "")
	}
	if r.updatedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__like", r.updatedAtLike, "form", "")
	}
	if r.updatedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notlike", r.updatedAtNotlike, "form", "")
	}
	if r.updatedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ilike", r.updatedAtIlike, "form", "")
	}
	if r.updatedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notilike", r.updatedAtNotilike, "form", "")
	}
	if r.updatedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__desc", r.updatedAtDesc, "form", "")
	}
	if r.updatedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__asc", r.updatedAtAsc, "form", "")
	}
	if r.deletedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__eq", r.deletedAtEq, "form", "")
	}
	if r.deletedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ne", r.deletedAtNe, "form", "")
	}
	if r.deletedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gt", r.deletedAtGt, "form", "")
	}
	if r.deletedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gte", r.deletedAtGte, "form", "")
	}
	if r.deletedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lt", r.deletedAtLt, "form", "")
	}
	if r.deletedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lte", r.deletedAtLte, "form", "")
	}
	if r.deletedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__in", r.deletedAtIn, "form", "")
	}
	if r.deletedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notin", r.deletedAtNotin, "form", "")
	}
	if r.deletedAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__contains", r.deletedAtContains, "form", "")
	}
	if r.deletedAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notcontains", r.deletedAtNotcontains, "form", "")
	}
	if r.deletedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__like", r.deletedAtLike, "form", "")
	}
	if r.deletedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notlike", r.deletedAtNotlike, "form", "")
	}
	if r.deletedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ilike", r.deletedAtIlike, "form", "")
	}
	if r.deletedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notilike", r.deletedAtNotilike, "form", "")
	}
	if r.deletedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__desc", r.deletedAtDesc, "form", "")
	}
	if r.deletedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__asc", r.deletedAtAsc, "form", "")
	}
	if r.statusEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__eq", r.statusEq, "form", "")
	}
	if r.statusNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__ne", r.statusNe, "form", "")
	}
	if r.statusGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__gt", r.statusGt, "form", "")
	}
	if r.statusGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__gte", r.statusGte, "form", "")
	}
	if r.statusLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__lt", r.statusLt, "form", "")
	}
	if r.statusLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__lte", r.statusLte, "form", "")
	}
	if r.statusIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__in", r.statusIn, "form", "")
	}
	if r.statusNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__notin", r.statusNotin, "form", "")
	}
	if r.statusContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__contains", r.statusContains, "form", "")
	}
	if r.statusNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__notcontains", r.statusNotcontains, "form", "")
	}
	if r.statusLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__like", r.statusLike, "form", "")
	}
	if r.statusNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__notlike", r.statusNotlike, "form", "")
	}
	if r.statusIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__ilike", r.statusIlike, "form", "")
	}
	if r.statusNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__notilike", r.statusNotilike, "form", "")
	}
	if r.statusDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__desc", r.statusDesc, "form", "")
	}
	if r.statusAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__asc", r.statusAsc, "form", "")
	}
	if r.startedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__eq", r.startedAtEq, "form", "")
	}
	if r.startedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__ne", r.startedAtNe, "form", "")
	}
	if r.startedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__gt", r.startedAtGt, "form", "")
	}
	if r.startedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__gte", r.startedAtGte, "form", "")
	}
	if r.startedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__lt", r.startedAtLt, "form", "")
	}
	if r.startedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__lte", r.startedAtLte, "form", "")
	}
	if r.startedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__in", r.startedAtIn, "form", "")
	}
	if r.startedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__notin", r.startedAtNotin, "form", "")
	}
	if r.startedAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__contains", r.startedAtContains, "form", "")
	}
	if r.startedAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__notcontains", r.startedAtNotcontains, "form", "")
	}
	if r.startedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__like", r.startedAtLike, "form", "")
	}
	if r.startedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__notlike", r.startedAtNotlike, "form", "")
	}
	if r.startedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__ilike", r.startedAtIlike, "form", "")
	}
	if r.startedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__notilike", r.startedAtNotilike, "form", "")
	}
	if r.startedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__desc", r.startedAtDesc, "form", "")
	}
	if r.startedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__asc", r.startedAtAsc, "form", "")
	}
	if r.endedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__eq", r.endedAtEq, "form", "")
	}
	if r.endedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__ne", r.endedAtNe, "form", "")
	}
	if r.endedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__gt", r.endedAtGt, "form", "")
	}
	if r.endedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__gte", r.endedAtGte, "form", "")
	}
	if r.endedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__lt", r.endedAtLt, "form", "")
	}
	if r.endedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__lte", r.endedAtLte, "form", "")
	}
	if r.endedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__in", r.endedAtIn, "form", "")
	}
	if r.endedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__notin", r.endedAtNotin, "form", "")
	}
	if r.endedAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__contains", r.endedAtContains, "form", "")
	}
	if r.endedAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__notcontains", r.endedAtNotcontains, "form", "")
	}
	if r.endedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__like", r.endedAtLike, "form", "")
	}
	if r.endedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__notlike", r.endedAtNotlike, "form", "")
	}
	if r.endedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__ilike", r.endedAtIlike, "form", "")
	}
	if r.endedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__notilike", r.endedAtNotilike, "form", "")
	}
	if r.endedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__desc", r.endedAtDesc, "form", "")
	}
	if r.endedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__asc", r.endedAtAsc, "form", "")
	}
	if r.jobExecutorClaimedUntilEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_executor_claimed_until__eq", r.jobExecutorClaimedUntilEq, "form", "")
	}
	if r.jobExecutorClaimedUntilNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_executor_claimed_until__ne", r.jobExecutorClaimedUntilNe, "form", "")
	}
	if r.jobExecutorClaimedUntilGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_executor_claimed_until__gt", r.jobExecutorClaimedUntilGt, "form", "")
	}
	if r.jobExecutorClaimedUntilGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_executor_claimed_until__gte", r.jobExecutorClaimedUntilGte, "form", "")
	}
	if r.jobExecutorClaimedUntilLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_executor_claimed_until__lt", r.jobExecutorClaimedUntilLt, "form", "")
	}
	if r.jobExecutorClaimedUntilLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_executor_claimed_until__lte", r.jobExecutorClaimedUntilLte, "form", "")
	}
	if r.jobExecutorClaimedUntilIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_executor_claimed_until__in", r.jobExecutorClaimedUntilIn, "form", "")
	}
	if r.jobExecutorClaimedUntilNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_executor_claimed_until__notin", r.jobExecutorClaimedUntilNotin, "form", "")
	}
	if r.jobExecutorClaimedUntilContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_executor_claimed_until__contains", r.jobExecutorClaimedUntilContains, "form", "")
	}
	if r.jobExecutorClaimedUntilNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_executor_claimed_until__notcontains", r.jobExecutorClaimedUntilNotcontains, "form", "")
	}
	if r.jobExecutorClaimedUntilLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_executor_claimed_until__like", r.jobExecutorClaimedUntilLike, "form", "")
	}
	if r.jobExecutorClaimedUntilNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_executor_claimed_until__notlike", r.jobExecutorClaimedUntilNotlike, "form", "")
	}
	if r.jobExecutorClaimedUntilIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_executor_claimed_until__ilike", r.jobExecutorClaimedUntilIlike, "form", "")
	}
	if r.jobExecutorClaimedUntilNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_executor_claimed_until__notilike", r.jobExecutorClaimedUntilNotilike, "form", "")
	}
	if r.jobExecutorClaimedUntilDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_executor_claimed_until__desc", r.jobExecutorClaimedUntilDesc, "form", "")
	}
	if r.jobExecutorClaimedUntilAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_executor_claimed_until__asc", r.jobExecutorClaimedUntilAsc, "form", "")
	}
	if r.changeIdEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "change_id__eq", r.changeIdEq, "form", "")
	}
	if r.changeIdNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "change_id__ne", r.changeIdNe, "form", "")
	}
	if r.changeIdGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "change_id__gt", r.changeIdGt, "form", "")
	}
	if r.changeIdGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "change_id__gte", r.changeIdGte, "form", "")
	}
	if r.changeIdLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "change_id__lt", r.changeIdLt, "form", "")
	}
	if r.changeIdLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "change_id__lte", r.changeIdLte, "form", "")
	}
	if r.changeIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "change_id__in", r.changeIdIn, "form", "")
	}
	if r.changeIdNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "change_id__notin", r.changeIdNotin, "form", "")
	}
	if r.changeIdContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "change_id__contains", r.changeIdContains, "form", "")
	}
	if r.changeIdNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "change_id__notcontains", r.changeIdNotcontains, "form", "")
	}
	if r.changeIdLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "change_id__like", r.changeIdLike, "form", "")
	}
	if r.changeIdNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "change_id__notlike", r.changeIdNotlike, "form", "")
	}
	if r.changeIdIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "change_id__ilike", r.changeIdIlike, "form", "")
	}
	if r.changeIdNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "change_id__notilike", r.changeIdNotilike, "form", "")
	}
	if r.changeIdDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "change_id__desc", r.changeIdDesc, "form", "")
	}
	if r.changeIdAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "change_id__asc", r.changeIdAsc, "form", "")
	}
	if r.changeIdObjectContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "change_id_object__contains", r.changeIdObjectContains, "form", "")
	}
	if r.changeIdObjectNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "change_id_object__notcontains", r.changeIdObjectNotcontains, "form", "")
	}
	if r.changeIdObjectDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "change_id_object__desc", r.changeIdObjectDesc, "form", "")
	}
	if r.changeIdObjectAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "change_id_object__asc", r.changeIdObjectAsc, "form", "")
	}
	if r.jobIdEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id__eq", r.jobIdEq, "form", "")
	}
	if r.jobIdNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id__ne", r.jobIdNe, "form", "")
	}
	if r.jobIdGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id__gt", r.jobIdGt, "form", "")
	}
	if r.jobIdGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id__gte", r.jobIdGte, "form", "")
	}
	if r.jobIdLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id__lt", r.jobIdLt, "form", "")
	}
	if r.jobIdLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id__lte", r.jobIdLte, "form", "")
	}
	if r.jobIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id__in", r.jobIdIn, "form", "")
	}
	if r.jobIdNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id__notin", r.jobIdNotin, "form", "")
	}
	if r.jobIdContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id__contains", r.jobIdContains, "form", "")
	}
	if r.jobIdNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id__notcontains", r.jobIdNotcontains, "form", "")
	}
	if r.jobIdLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id__like", r.jobIdLike, "form", "")
	}
	if r.jobIdNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id__notlike", r.jobIdNotlike, "form", "")
	}
	if r.jobIdIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id__ilike", r.jobIdIlike, "form", "")
	}
	if r.jobIdNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id__notilike", r.jobIdNotilike, "form", "")
	}
	if r.jobIdDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id__desc", r.jobIdDesc, "form", "")
	}
	if r.jobIdAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id__asc", r.jobIdAsc, "form", "")
	}
	if r.jobIdObjectContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id_object__contains", r.jobIdObjectContains, "form", "")
	}
	if r.jobIdObjectNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id_object__notcontains", r.jobIdObjectNotcontains, "form", "")
	}
	if r.jobIdObjectDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id_object__desc", r.jobIdObjectDesc, "form", "")
	}
	if r.jobIdObjectAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id_object__asc", r.jobIdObjectAsc, "form", "")
	}
	if r.referencedByOutputExecutionIdObjectsContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_output_execution_id_objects__contains", r.referencedByOutputExecutionIdObjectsContains, "form", "")
	}
	if r.referencedByOutputExecutionIdObjectsNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_output_execution_id_objects__notcontains", r.referencedByOutputExecutionIdObjectsNotcontains, "form", "")
	}
	if r.referencedByOutputExecutionIdObjectsDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_output_execution_id_objects__desc", r.referencedByOutputExecutionIdObjectsDesc, "form", "")
	}
	if r.referencedByOutputExecutionIdObjectsAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_output_execution_id_objects__asc", r.referencedByOutputExecutionIdObjectsAsc, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchExecutionRequest struct {
	ctx context.Context
	ApiService *ExecutionAPIService
	primaryKey string
	execution *Execution
	depth *int64
}

func (r ApiPatchExecutionRequest) Execution(execution Execution) ApiPatchExecutionRequest {
	r.execution = &execution
	return r
}

// Query parameter depth
func (r ApiPatchExecutionRequest) Depth(depth int64) ApiPatchExecutionRequest {
	r.depth = &depth
	return r
}

func (r ApiPatchExecutionRequest) Execute() (*ResponseWithGenericOfExecution, *http.Response, error) {
	return r.ApiService.PatchExecutionExecute(r)
}

/*
PatchExecution Method for PatchExecution

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiPatchExecutionRequest
*/
func (a *ExecutionAPIService) PatchExecution(ctx context.Context, primaryKey string) ApiPatchExecutionRequest {
	return ApiPatchExecutionRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfExecution
func (a *ExecutionAPIService) PatchExecutionExecute(r ApiPatchExecutionRequest) (*ResponseWithGenericOfExecution, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfExecution
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionAPIService.PatchExecution")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/executions/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.execution == nil {
		return localVarReturnValue, nil, reportError("execution is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.execution
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostExecutionsRequest struct {
	ctx context.Context
	ApiService *ExecutionAPIService
	execution *[]Execution
	depth *int64
}

func (r ApiPostExecutionsRequest) Execution(execution []Execution) ApiPostExecutionsRequest {
	r.execution = &execution
	return r
}

// Query parameter depth
func (r ApiPostExecutionsRequest) Depth(depth int64) ApiPostExecutionsRequest {
	r.depth = &depth
	return r
}

func (r ApiPostExecutionsRequest) Execute() (*ResponseWithGenericOfExecution, *http.Response, error) {
	return r.ApiService.PostExecutionsExecute(r)
}

/*
PostExecutions Method for PostExecutions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostExecutionsRequest
*/
func (a *ExecutionAPIService) PostExecutions(ctx context.Context) ApiPostExecutionsRequest {
	return ApiPostExecutionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfExecution
func (a *ExecutionAPIService) PostExecutionsExecute(r ApiPostExecutionsRequest) (*ResponseWithGenericOfExecution, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfExecution
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionAPIService.PostExecutions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/executions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.execution == nil {
		return localVarReturnValue, nil, reportError("execution is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.execution
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostExecutionsJobExecutorClaimRequest struct {
	ctx context.Context
	ApiService *ExecutionAPIService
	primaryKey string
	executionJobExecutorClaimRequest *ExecutionJobExecutorClaimRequest
	depth *int64
}

func (r ApiPostExecutionsJobExecutorClaimRequest) ExecutionJobExecutorClaimRequest(executionJobExecutorClaimRequest ExecutionJobExecutorClaimRequest) ApiPostExecutionsJobExecutorClaimRequest {
	r.executionJobExecutorClaimRequest = &executionJobExecutorClaimRequest
	return r
}

// Query parameter depth
func (r ApiPostExecutionsJobExecutorClaimRequest) Depth(depth int64) ApiPostExecutionsJobExecutorClaimRequest {
	r.depth = &depth
	return r
}

func (r ApiPostExecutionsJobExecutorClaimRequest) Execute() (*ResponseWithGenericOfExecution, *http.Response, error) {
	return r.ApiService.PostExecutionsJobExecutorClaimExecute(r)
}

/*
PostExecutionsJobExecutorClaim Method for PostExecutionsJobExecutorClaim

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiPostExecutionsJobExecutorClaimRequest
*/
func (a *ExecutionAPIService) PostExecutionsJobExecutorClaim(ctx context.Context, primaryKey string) ApiPostExecutionsJobExecutorClaimRequest {
	return ApiPostExecutionsJobExecutorClaimRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfExecution
func (a *ExecutionAPIService) PostExecutionsJobExecutorClaimExecute(r ApiPostExecutionsJobExecutorClaimRequest) (*ResponseWithGenericOfExecution, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfExecution
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionAPIService.PostExecutionsJobExecutorClaim")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/executions/{primaryKey}/job-executor-claim"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.executionJobExecutorClaimRequest == nil {
		return localVarReturnValue, nil, reportError("executionJobExecutorClaimRequest is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.executionJobExecutorClaimRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
