/*
Djangolang

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// RuleAPIService RuleAPI service
type RuleAPIService service

type ApiDeleteRuleRequest struct {
	ctx context.Context
	ApiService *RuleAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiDeleteRuleRequest) Depth(depth int64) ApiDeleteRuleRequest {
	r.depth = &depth
	return r
}

func (r ApiDeleteRuleRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteRuleExecute(r)
}

/*
DeleteRule Method for DeleteRule

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiDeleteRuleRequest
*/
func (a *RuleAPIService) DeleteRule(ctx context.Context, primaryKey string) ApiDeleteRuleRequest {
	return ApiDeleteRuleRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
func (a *RuleAPIService) DeleteRuleExecute(r ApiDeleteRuleRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RuleAPIService.DeleteRule")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/rules/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetRuleRequest struct {
	ctx context.Context
	ApiService *RuleAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiGetRuleRequest) Depth(depth int64) ApiGetRuleRequest {
	r.depth = &depth
	return r
}

func (r ApiGetRuleRequest) Execute() (*ResponseWithGenericOfRule, *http.Response, error) {
	return r.ApiService.GetRuleExecute(r)
}

/*
GetRule Method for GetRule

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiGetRuleRequest
*/
func (a *RuleAPIService) GetRule(ctx context.Context, primaryKey string) ApiGetRuleRequest {
	return ApiGetRuleRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfRule
func (a *RuleAPIService) GetRuleExecute(r ApiGetRuleRequest) (*ResponseWithGenericOfRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RuleAPIService.GetRule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/rules/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRulesRequest struct {
	ctx context.Context
	ApiService *RuleAPIService
	limit *int32
	offset *int32
	depth *int32
	idEq *string
	idNe *string
	idGt *string
	idGte *string
	idLt *string
	idLte *string
	idIn *string
	idNotin *string
	idLike *string
	idNotlike *string
	idIlike *string
	idNotilike *string
	idDesc *string
	idAsc *string
	createdAtEq *time.Time
	createdAtNe *time.Time
	createdAtGt *time.Time
	createdAtGte *time.Time
	createdAtLt *time.Time
	createdAtLte *time.Time
	createdAtIn *time.Time
	createdAtNotin *time.Time
	createdAtLike *time.Time
	createdAtNotlike *time.Time
	createdAtIlike *time.Time
	createdAtNotilike *time.Time
	createdAtDesc *string
	createdAtAsc *string
	updatedAtEq *time.Time
	updatedAtNe *time.Time
	updatedAtGt *time.Time
	updatedAtGte *time.Time
	updatedAtLt *time.Time
	updatedAtLte *time.Time
	updatedAtIn *time.Time
	updatedAtNotin *time.Time
	updatedAtLike *time.Time
	updatedAtNotlike *time.Time
	updatedAtIlike *time.Time
	updatedAtNotilike *time.Time
	updatedAtDesc *string
	updatedAtAsc *string
	deletedAtEq *time.Time
	deletedAtNe *time.Time
	deletedAtGt *time.Time
	deletedAtGte *time.Time
	deletedAtLt *time.Time
	deletedAtLte *time.Time
	deletedAtIn *time.Time
	deletedAtNotin *time.Time
	deletedAtLike *time.Time
	deletedAtNotlike *time.Time
	deletedAtIlike *time.Time
	deletedAtNotilike *time.Time
	deletedAtDesc *string
	deletedAtAsc *string
	branchNameEq *string
	branchNameNe *string
	branchNameGt *string
	branchNameGte *string
	branchNameLt *string
	branchNameLte *string
	branchNameIn *string
	branchNameNotin *string
	branchNameLike *string
	branchNameNotlike *string
	branchNameIlike *string
	branchNameNotilike *string
	branchNameDesc *string
	branchNameAsc *string
	repositoryIdEq *string
	repositoryIdNe *string
	repositoryIdGt *string
	repositoryIdGte *string
	repositoryIdLt *string
	repositoryIdLte *string
	repositoryIdIn *string
	repositoryIdNotin *string
	repositoryIdLike *string
	repositoryIdNotlike *string
	repositoryIdIlike *string
	repositoryIdNotilike *string
	repositoryIdDesc *string
	repositoryIdAsc *string
	repositoryIdObjectDesc *string
	repositoryIdObjectAsc *string
	referencedByRuleRequiresJobRuleIdObjectsDesc *string
	referencedByRuleRequiresJobRuleIdObjectsAsc *string
	referencedByTriggerRuleIdObjectsDesc *string
	referencedByTriggerRuleIdObjectsAsc *string
	referencedByJobRuleIdObjectsDesc *string
	referencedByJobRuleIdObjectsAsc *string
}

// SQL LIMIT operator
func (r ApiGetRulesRequest) Limit(limit int32) ApiGetRulesRequest {
	r.limit = &limit
	return r
}

// SQL OFFSET operator
func (r ApiGetRulesRequest) Offset(offset int32) ApiGetRulesRequest {
	r.offset = &offset
	return r
}

// Max recursion depth for loading foreign objects; default &#x3D; 1  (0 &#x3D; recurse until graph cycle detected, 1 &#x3D; this object only, 2 &#x3D; this object + neighbours, 3 &#x3D; this object + neighbours + their neighbours... etc)
func (r ApiGetRulesRequest) Depth(depth int32) ApiGetRulesRequest {
	r.depth = &depth
	return r
}

// SQL &#x3D; comparison
func (r ApiGetRulesRequest) IdEq(idEq string) ApiGetRulesRequest {
	r.idEq = &idEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetRulesRequest) IdNe(idNe string) ApiGetRulesRequest {
	r.idNe = &idNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetRulesRequest) IdGt(idGt string) ApiGetRulesRequest {
	r.idGt = &idGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetRulesRequest) IdGte(idGte string) ApiGetRulesRequest {
	r.idGte = &idGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetRulesRequest) IdLt(idLt string) ApiGetRulesRequest {
	r.idLt = &idLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetRulesRequest) IdLte(idLte string) ApiGetRulesRequest {
	r.idLte = &idLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetRulesRequest) IdIn(idIn string) ApiGetRulesRequest {
	r.idIn = &idIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetRulesRequest) IdNotin(idNotin string) ApiGetRulesRequest {
	r.idNotin = &idNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) IdLike(idLike string) ApiGetRulesRequest {
	r.idLike = &idLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) IdNotlike(idNotlike string) ApiGetRulesRequest {
	r.idNotlike = &idNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) IdIlike(idIlike string) ApiGetRulesRequest {
	r.idIlike = &idIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) IdNotilike(idNotilike string) ApiGetRulesRequest {
	r.idNotilike = &idNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetRulesRequest) IdDesc(idDesc string) ApiGetRulesRequest {
	r.idDesc = &idDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetRulesRequest) IdAsc(idAsc string) ApiGetRulesRequest {
	r.idAsc = &idAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetRulesRequest) CreatedAtEq(createdAtEq time.Time) ApiGetRulesRequest {
	r.createdAtEq = &createdAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetRulesRequest) CreatedAtNe(createdAtNe time.Time) ApiGetRulesRequest {
	r.createdAtNe = &createdAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetRulesRequest) CreatedAtGt(createdAtGt time.Time) ApiGetRulesRequest {
	r.createdAtGt = &createdAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetRulesRequest) CreatedAtGte(createdAtGte time.Time) ApiGetRulesRequest {
	r.createdAtGte = &createdAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetRulesRequest) CreatedAtLt(createdAtLt time.Time) ApiGetRulesRequest {
	r.createdAtLt = &createdAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetRulesRequest) CreatedAtLte(createdAtLte time.Time) ApiGetRulesRequest {
	r.createdAtLte = &createdAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetRulesRequest) CreatedAtIn(createdAtIn time.Time) ApiGetRulesRequest {
	r.createdAtIn = &createdAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetRulesRequest) CreatedAtNotin(createdAtNotin time.Time) ApiGetRulesRequest {
	r.createdAtNotin = &createdAtNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) CreatedAtLike(createdAtLike time.Time) ApiGetRulesRequest {
	r.createdAtLike = &createdAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) CreatedAtNotlike(createdAtNotlike time.Time) ApiGetRulesRequest {
	r.createdAtNotlike = &createdAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) CreatedAtIlike(createdAtIlike time.Time) ApiGetRulesRequest {
	r.createdAtIlike = &createdAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) CreatedAtNotilike(createdAtNotilike time.Time) ApiGetRulesRequest {
	r.createdAtNotilike = &createdAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetRulesRequest) CreatedAtDesc(createdAtDesc string) ApiGetRulesRequest {
	r.createdAtDesc = &createdAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetRulesRequest) CreatedAtAsc(createdAtAsc string) ApiGetRulesRequest {
	r.createdAtAsc = &createdAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetRulesRequest) UpdatedAtEq(updatedAtEq time.Time) ApiGetRulesRequest {
	r.updatedAtEq = &updatedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetRulesRequest) UpdatedAtNe(updatedAtNe time.Time) ApiGetRulesRequest {
	r.updatedAtNe = &updatedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetRulesRequest) UpdatedAtGt(updatedAtGt time.Time) ApiGetRulesRequest {
	r.updatedAtGt = &updatedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetRulesRequest) UpdatedAtGte(updatedAtGte time.Time) ApiGetRulesRequest {
	r.updatedAtGte = &updatedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetRulesRequest) UpdatedAtLt(updatedAtLt time.Time) ApiGetRulesRequest {
	r.updatedAtLt = &updatedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetRulesRequest) UpdatedAtLte(updatedAtLte time.Time) ApiGetRulesRequest {
	r.updatedAtLte = &updatedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetRulesRequest) UpdatedAtIn(updatedAtIn time.Time) ApiGetRulesRequest {
	r.updatedAtIn = &updatedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetRulesRequest) UpdatedAtNotin(updatedAtNotin time.Time) ApiGetRulesRequest {
	r.updatedAtNotin = &updatedAtNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) UpdatedAtLike(updatedAtLike time.Time) ApiGetRulesRequest {
	r.updatedAtLike = &updatedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) UpdatedAtNotlike(updatedAtNotlike time.Time) ApiGetRulesRequest {
	r.updatedAtNotlike = &updatedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) UpdatedAtIlike(updatedAtIlike time.Time) ApiGetRulesRequest {
	r.updatedAtIlike = &updatedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) UpdatedAtNotilike(updatedAtNotilike time.Time) ApiGetRulesRequest {
	r.updatedAtNotilike = &updatedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetRulesRequest) UpdatedAtDesc(updatedAtDesc string) ApiGetRulesRequest {
	r.updatedAtDesc = &updatedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetRulesRequest) UpdatedAtAsc(updatedAtAsc string) ApiGetRulesRequest {
	r.updatedAtAsc = &updatedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetRulesRequest) DeletedAtEq(deletedAtEq time.Time) ApiGetRulesRequest {
	r.deletedAtEq = &deletedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetRulesRequest) DeletedAtNe(deletedAtNe time.Time) ApiGetRulesRequest {
	r.deletedAtNe = &deletedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetRulesRequest) DeletedAtGt(deletedAtGt time.Time) ApiGetRulesRequest {
	r.deletedAtGt = &deletedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetRulesRequest) DeletedAtGte(deletedAtGte time.Time) ApiGetRulesRequest {
	r.deletedAtGte = &deletedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetRulesRequest) DeletedAtLt(deletedAtLt time.Time) ApiGetRulesRequest {
	r.deletedAtLt = &deletedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetRulesRequest) DeletedAtLte(deletedAtLte time.Time) ApiGetRulesRequest {
	r.deletedAtLte = &deletedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetRulesRequest) DeletedAtIn(deletedAtIn time.Time) ApiGetRulesRequest {
	r.deletedAtIn = &deletedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetRulesRequest) DeletedAtNotin(deletedAtNotin time.Time) ApiGetRulesRequest {
	r.deletedAtNotin = &deletedAtNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) DeletedAtLike(deletedAtLike time.Time) ApiGetRulesRequest {
	r.deletedAtLike = &deletedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) DeletedAtNotlike(deletedAtNotlike time.Time) ApiGetRulesRequest {
	r.deletedAtNotlike = &deletedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) DeletedAtIlike(deletedAtIlike time.Time) ApiGetRulesRequest {
	r.deletedAtIlike = &deletedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) DeletedAtNotilike(deletedAtNotilike time.Time) ApiGetRulesRequest {
	r.deletedAtNotilike = &deletedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetRulesRequest) DeletedAtDesc(deletedAtDesc string) ApiGetRulesRequest {
	r.deletedAtDesc = &deletedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetRulesRequest) DeletedAtAsc(deletedAtAsc string) ApiGetRulesRequest {
	r.deletedAtAsc = &deletedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetRulesRequest) BranchNameEq(branchNameEq string) ApiGetRulesRequest {
	r.branchNameEq = &branchNameEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetRulesRequest) BranchNameNe(branchNameNe string) ApiGetRulesRequest {
	r.branchNameNe = &branchNameNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetRulesRequest) BranchNameGt(branchNameGt string) ApiGetRulesRequest {
	r.branchNameGt = &branchNameGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetRulesRequest) BranchNameGte(branchNameGte string) ApiGetRulesRequest {
	r.branchNameGte = &branchNameGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetRulesRequest) BranchNameLt(branchNameLt string) ApiGetRulesRequest {
	r.branchNameLt = &branchNameLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetRulesRequest) BranchNameLte(branchNameLte string) ApiGetRulesRequest {
	r.branchNameLte = &branchNameLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetRulesRequest) BranchNameIn(branchNameIn string) ApiGetRulesRequest {
	r.branchNameIn = &branchNameIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetRulesRequest) BranchNameNotin(branchNameNotin string) ApiGetRulesRequest {
	r.branchNameNotin = &branchNameNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) BranchNameLike(branchNameLike string) ApiGetRulesRequest {
	r.branchNameLike = &branchNameLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) BranchNameNotlike(branchNameNotlike string) ApiGetRulesRequest {
	r.branchNameNotlike = &branchNameNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) BranchNameIlike(branchNameIlike string) ApiGetRulesRequest {
	r.branchNameIlike = &branchNameIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) BranchNameNotilike(branchNameNotilike string) ApiGetRulesRequest {
	r.branchNameNotilike = &branchNameNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetRulesRequest) BranchNameDesc(branchNameDesc string) ApiGetRulesRequest {
	r.branchNameDesc = &branchNameDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetRulesRequest) BranchNameAsc(branchNameAsc string) ApiGetRulesRequest {
	r.branchNameAsc = &branchNameAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetRulesRequest) RepositoryIdEq(repositoryIdEq string) ApiGetRulesRequest {
	r.repositoryIdEq = &repositoryIdEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetRulesRequest) RepositoryIdNe(repositoryIdNe string) ApiGetRulesRequest {
	r.repositoryIdNe = &repositoryIdNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetRulesRequest) RepositoryIdGt(repositoryIdGt string) ApiGetRulesRequest {
	r.repositoryIdGt = &repositoryIdGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetRulesRequest) RepositoryIdGte(repositoryIdGte string) ApiGetRulesRequest {
	r.repositoryIdGte = &repositoryIdGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetRulesRequest) RepositoryIdLt(repositoryIdLt string) ApiGetRulesRequest {
	r.repositoryIdLt = &repositoryIdLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetRulesRequest) RepositoryIdLte(repositoryIdLte string) ApiGetRulesRequest {
	r.repositoryIdLte = &repositoryIdLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetRulesRequest) RepositoryIdIn(repositoryIdIn string) ApiGetRulesRequest {
	r.repositoryIdIn = &repositoryIdIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetRulesRequest) RepositoryIdNotin(repositoryIdNotin string) ApiGetRulesRequest {
	r.repositoryIdNotin = &repositoryIdNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) RepositoryIdLike(repositoryIdLike string) ApiGetRulesRequest {
	r.repositoryIdLike = &repositoryIdLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) RepositoryIdNotlike(repositoryIdNotlike string) ApiGetRulesRequest {
	r.repositoryIdNotlike = &repositoryIdNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) RepositoryIdIlike(repositoryIdIlike string) ApiGetRulesRequest {
	r.repositoryIdIlike = &repositoryIdIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetRulesRequest) RepositoryIdNotilike(repositoryIdNotilike string) ApiGetRulesRequest {
	r.repositoryIdNotilike = &repositoryIdNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetRulesRequest) RepositoryIdDesc(repositoryIdDesc string) ApiGetRulesRequest {
	r.repositoryIdDesc = &repositoryIdDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetRulesRequest) RepositoryIdAsc(repositoryIdAsc string) ApiGetRulesRequest {
	r.repositoryIdAsc = &repositoryIdAsc
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetRulesRequest) RepositoryIdObjectDesc(repositoryIdObjectDesc string) ApiGetRulesRequest {
	r.repositoryIdObjectDesc = &repositoryIdObjectDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetRulesRequest) RepositoryIdObjectAsc(repositoryIdObjectAsc string) ApiGetRulesRequest {
	r.repositoryIdObjectAsc = &repositoryIdObjectAsc
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetRulesRequest) ReferencedByRuleRequiresJobRuleIdObjectsDesc(referencedByRuleRequiresJobRuleIdObjectsDesc string) ApiGetRulesRequest {
	r.referencedByRuleRequiresJobRuleIdObjectsDesc = &referencedByRuleRequiresJobRuleIdObjectsDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetRulesRequest) ReferencedByRuleRequiresJobRuleIdObjectsAsc(referencedByRuleRequiresJobRuleIdObjectsAsc string) ApiGetRulesRequest {
	r.referencedByRuleRequiresJobRuleIdObjectsAsc = &referencedByRuleRequiresJobRuleIdObjectsAsc
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetRulesRequest) ReferencedByTriggerRuleIdObjectsDesc(referencedByTriggerRuleIdObjectsDesc string) ApiGetRulesRequest {
	r.referencedByTriggerRuleIdObjectsDesc = &referencedByTriggerRuleIdObjectsDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetRulesRequest) ReferencedByTriggerRuleIdObjectsAsc(referencedByTriggerRuleIdObjectsAsc string) ApiGetRulesRequest {
	r.referencedByTriggerRuleIdObjectsAsc = &referencedByTriggerRuleIdObjectsAsc
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetRulesRequest) ReferencedByJobRuleIdObjectsDesc(referencedByJobRuleIdObjectsDesc string) ApiGetRulesRequest {
	r.referencedByJobRuleIdObjectsDesc = &referencedByJobRuleIdObjectsDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetRulesRequest) ReferencedByJobRuleIdObjectsAsc(referencedByJobRuleIdObjectsAsc string) ApiGetRulesRequest {
	r.referencedByJobRuleIdObjectsAsc = &referencedByJobRuleIdObjectsAsc
	return r
}

func (r ApiGetRulesRequest) Execute() (*ResponseWithGenericOfRule, *http.Response, error) {
	return r.ApiService.GetRulesExecute(r)
}

/*
GetRules Method for GetRules

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetRulesRequest
*/
func (a *RuleAPIService) GetRules(ctx context.Context) ApiGetRulesRequest {
	return ApiGetRulesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfRule
func (a *RuleAPIService) GetRulesExecute(r ApiGetRulesRequest) (*ResponseWithGenericOfRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RuleAPIService.GetRules")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/rules"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	if r.idEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__eq", r.idEq, "form", "")
	}
	if r.idNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ne", r.idNe, "form", "")
	}
	if r.idGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gt", r.idGt, "form", "")
	}
	if r.idGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gte", r.idGte, "form", "")
	}
	if r.idLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lt", r.idLt, "form", "")
	}
	if r.idLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lte", r.idLte, "form", "")
	}
	if r.idIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__in", r.idIn, "form", "")
	}
	if r.idNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notin", r.idNotin, "form", "")
	}
	if r.idLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__like", r.idLike, "form", "")
	}
	if r.idNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notlike", r.idNotlike, "form", "")
	}
	if r.idIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ilike", r.idIlike, "form", "")
	}
	if r.idNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notilike", r.idNotilike, "form", "")
	}
	if r.idDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__desc", r.idDesc, "form", "")
	}
	if r.idAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__asc", r.idAsc, "form", "")
	}
	if r.createdAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__eq", r.createdAtEq, "form", "")
	}
	if r.createdAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ne", r.createdAtNe, "form", "")
	}
	if r.createdAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gt", r.createdAtGt, "form", "")
	}
	if r.createdAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gte", r.createdAtGte, "form", "")
	}
	if r.createdAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lt", r.createdAtLt, "form", "")
	}
	if r.createdAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lte", r.createdAtLte, "form", "")
	}
	if r.createdAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__in", r.createdAtIn, "form", "")
	}
	if r.createdAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notin", r.createdAtNotin, "form", "")
	}
	if r.createdAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__like", r.createdAtLike, "form", "")
	}
	if r.createdAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notlike", r.createdAtNotlike, "form", "")
	}
	if r.createdAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ilike", r.createdAtIlike, "form", "")
	}
	if r.createdAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notilike", r.createdAtNotilike, "form", "")
	}
	if r.createdAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__desc", r.createdAtDesc, "form", "")
	}
	if r.createdAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__asc", r.createdAtAsc, "form", "")
	}
	if r.updatedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__eq", r.updatedAtEq, "form", "")
	}
	if r.updatedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ne", r.updatedAtNe, "form", "")
	}
	if r.updatedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gt", r.updatedAtGt, "form", "")
	}
	if r.updatedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gte", r.updatedAtGte, "form", "")
	}
	if r.updatedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lt", r.updatedAtLt, "form", "")
	}
	if r.updatedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lte", r.updatedAtLte, "form", "")
	}
	if r.updatedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__in", r.updatedAtIn, "form", "")
	}
	if r.updatedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notin", r.updatedAtNotin, "form", "")
	}
	if r.updatedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__like", r.updatedAtLike, "form", "")
	}
	if r.updatedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notlike", r.updatedAtNotlike, "form", "")
	}
	if r.updatedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ilike", r.updatedAtIlike, "form", "")
	}
	if r.updatedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notilike", r.updatedAtNotilike, "form", "")
	}
	if r.updatedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__desc", r.updatedAtDesc, "form", "")
	}
	if r.updatedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__asc", r.updatedAtAsc, "form", "")
	}
	if r.deletedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__eq", r.deletedAtEq, "form", "")
	}
	if r.deletedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ne", r.deletedAtNe, "form", "")
	}
	if r.deletedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gt", r.deletedAtGt, "form", "")
	}
	if r.deletedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gte", r.deletedAtGte, "form", "")
	}
	if r.deletedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lt", r.deletedAtLt, "form", "")
	}
	if r.deletedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lte", r.deletedAtLte, "form", "")
	}
	if r.deletedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__in", r.deletedAtIn, "form", "")
	}
	if r.deletedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notin", r.deletedAtNotin, "form", "")
	}
	if r.deletedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__like", r.deletedAtLike, "form", "")
	}
	if r.deletedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notlike", r.deletedAtNotlike, "form", "")
	}
	if r.deletedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ilike", r.deletedAtIlike, "form", "")
	}
	if r.deletedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notilike", r.deletedAtNotilike, "form", "")
	}
	if r.deletedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__desc", r.deletedAtDesc, "form", "")
	}
	if r.deletedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__asc", r.deletedAtAsc, "form", "")
	}
	if r.branchNameEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branch_name__eq", r.branchNameEq, "form", "")
	}
	if r.branchNameNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branch_name__ne", r.branchNameNe, "form", "")
	}
	if r.branchNameGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branch_name__gt", r.branchNameGt, "form", "")
	}
	if r.branchNameGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branch_name__gte", r.branchNameGte, "form", "")
	}
	if r.branchNameLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branch_name__lt", r.branchNameLt, "form", "")
	}
	if r.branchNameLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branch_name__lte", r.branchNameLte, "form", "")
	}
	if r.branchNameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branch_name__in", r.branchNameIn, "form", "")
	}
	if r.branchNameNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branch_name__notin", r.branchNameNotin, "form", "")
	}
	if r.branchNameLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branch_name__like", r.branchNameLike, "form", "")
	}
	if r.branchNameNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branch_name__notlike", r.branchNameNotlike, "form", "")
	}
	if r.branchNameIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branch_name__ilike", r.branchNameIlike, "form", "")
	}
	if r.branchNameNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branch_name__notilike", r.branchNameNotilike, "form", "")
	}
	if r.branchNameDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branch_name__desc", r.branchNameDesc, "form", "")
	}
	if r.branchNameAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branch_name__asc", r.branchNameAsc, "form", "")
	}
	if r.repositoryIdEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__eq", r.repositoryIdEq, "form", "")
	}
	if r.repositoryIdNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__ne", r.repositoryIdNe, "form", "")
	}
	if r.repositoryIdGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__gt", r.repositoryIdGt, "form", "")
	}
	if r.repositoryIdGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__gte", r.repositoryIdGte, "form", "")
	}
	if r.repositoryIdLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__lt", r.repositoryIdLt, "form", "")
	}
	if r.repositoryIdLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__lte", r.repositoryIdLte, "form", "")
	}
	if r.repositoryIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__in", r.repositoryIdIn, "form", "")
	}
	if r.repositoryIdNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__notin", r.repositoryIdNotin, "form", "")
	}
	if r.repositoryIdLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__like", r.repositoryIdLike, "form", "")
	}
	if r.repositoryIdNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__notlike", r.repositoryIdNotlike, "form", "")
	}
	if r.repositoryIdIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__ilike", r.repositoryIdIlike, "form", "")
	}
	if r.repositoryIdNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__notilike", r.repositoryIdNotilike, "form", "")
	}
	if r.repositoryIdDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__desc", r.repositoryIdDesc, "form", "")
	}
	if r.repositoryIdAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__asc", r.repositoryIdAsc, "form", "")
	}
	if r.repositoryIdObjectDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id_object__desc", r.repositoryIdObjectDesc, "form", "")
	}
	if r.repositoryIdObjectAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id_object__asc", r.repositoryIdObjectAsc, "form", "")
	}
	if r.referencedByRuleRequiresJobRuleIdObjectsDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_rule_requires_job_rule_id_objects__desc", r.referencedByRuleRequiresJobRuleIdObjectsDesc, "form", "")
	}
	if r.referencedByRuleRequiresJobRuleIdObjectsAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_rule_requires_job_rule_id_objects__asc", r.referencedByRuleRequiresJobRuleIdObjectsAsc, "form", "")
	}
	if r.referencedByTriggerRuleIdObjectsDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_trigger_rule_id_objects__desc", r.referencedByTriggerRuleIdObjectsDesc, "form", "")
	}
	if r.referencedByTriggerRuleIdObjectsAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_trigger_rule_id_objects__asc", r.referencedByTriggerRuleIdObjectsAsc, "form", "")
	}
	if r.referencedByJobRuleIdObjectsDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_job_rule_id_objects__desc", r.referencedByJobRuleIdObjectsDesc, "form", "")
	}
	if r.referencedByJobRuleIdObjectsAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_job_rule_id_objects__asc", r.referencedByJobRuleIdObjectsAsc, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchRuleRequest struct {
	ctx context.Context
	ApiService *RuleAPIService
	primaryKey string
	rule *Rule
	depth *int64
}

func (r ApiPatchRuleRequest) Rule(rule Rule) ApiPatchRuleRequest {
	r.rule = &rule
	return r
}

// Query parameter depth
func (r ApiPatchRuleRequest) Depth(depth int64) ApiPatchRuleRequest {
	r.depth = &depth
	return r
}

func (r ApiPatchRuleRequest) Execute() (*ResponseWithGenericOfRule, *http.Response, error) {
	return r.ApiService.PatchRuleExecute(r)
}

/*
PatchRule Method for PatchRule

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiPatchRuleRequest
*/
func (a *RuleAPIService) PatchRule(ctx context.Context, primaryKey string) ApiPatchRuleRequest {
	return ApiPatchRuleRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfRule
func (a *RuleAPIService) PatchRuleExecute(r ApiPatchRuleRequest) (*ResponseWithGenericOfRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RuleAPIService.PatchRule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/rules/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.rule == nil {
		return localVarReturnValue, nil, reportError("rule is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.rule
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostRulesRequest struct {
	ctx context.Context
	ApiService *RuleAPIService
	rule *[]Rule
	depth *int64
}

func (r ApiPostRulesRequest) Rule(rule []Rule) ApiPostRulesRequest {
	r.rule = &rule
	return r
}

// Query parameter depth
func (r ApiPostRulesRequest) Depth(depth int64) ApiPostRulesRequest {
	r.depth = &depth
	return r
}

func (r ApiPostRulesRequest) Execute() (*ResponseWithGenericOfRule, *http.Response, error) {
	return r.ApiService.PostRulesExecute(r)
}

/*
PostRules Method for PostRules

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostRulesRequest
*/
func (a *RuleAPIService) PostRules(ctx context.Context) ApiPostRulesRequest {
	return ApiPostRulesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfRule
func (a *RuleAPIService) PostRulesExecute(r ApiPostRulesRequest) (*ResponseWithGenericOfRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RuleAPIService.PostRules")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/rules"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.rule == nil {
		return localVarReturnValue, nil, reportError("rule is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.rule
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
