/*
Djangolang

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// LogAPIService LogAPI service
type LogAPIService service

type ApiDeleteLogRequest struct {
	ctx context.Context
	ApiService *LogAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiDeleteLogRequest) Depth(depth int64) ApiDeleteLogRequest {
	r.depth = &depth
	return r
}

func (r ApiDeleteLogRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteLogExecute(r)
}

/*
DeleteLog Method for DeleteLog

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiDeleteLogRequest
*/
func (a *LogAPIService) DeleteLog(ctx context.Context, primaryKey string) ApiDeleteLogRequest {
	return ApiDeleteLogRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
func (a *LogAPIService) DeleteLogExecute(r ApiDeleteLogRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LogAPIService.DeleteLog")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/logs/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetLogRequest struct {
	ctx context.Context
	ApiService *LogAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiGetLogRequest) Depth(depth int64) ApiGetLogRequest {
	r.depth = &depth
	return r
}

func (r ApiGetLogRequest) Execute() (*ResponseWithGenericOfLog, *http.Response, error) {
	return r.ApiService.GetLogExecute(r)
}

/*
GetLog Method for GetLog

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiGetLogRequest
*/
func (a *LogAPIService) GetLog(ctx context.Context, primaryKey string) ApiGetLogRequest {
	return ApiGetLogRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfLog
func (a *LogAPIService) GetLogExecute(r ApiGetLogRequest) (*ResponseWithGenericOfLog, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfLog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LogAPIService.GetLog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/logs/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetLogsRequest struct {
	ctx context.Context
	ApiService *LogAPIService
	limit *int32
	offset *int32
	depth *int32
	outputLoad *string
	referencedByOutputLoad *string
	idEq *string
	idNe *string
	idGt *string
	idGte *string
	idLt *string
	idLte *string
	idIn *string
	idNotin *string
	idLike *string
	idNotlike *string
	idIlike *string
	idNotilike *string
	idDesc *string
	idAsc *string
	createdAtEq *time.Time
	createdAtNe *time.Time
	createdAtGt *time.Time
	createdAtGte *time.Time
	createdAtLt *time.Time
	createdAtLte *time.Time
	createdAtIn *time.Time
	createdAtNotin *time.Time
	createdAtLike *time.Time
	createdAtNotlike *time.Time
	createdAtIlike *time.Time
	createdAtNotilike *time.Time
	createdAtDesc *string
	createdAtAsc *string
	updatedAtEq *time.Time
	updatedAtNe *time.Time
	updatedAtGt *time.Time
	updatedAtGte *time.Time
	updatedAtLt *time.Time
	updatedAtLte *time.Time
	updatedAtIn *time.Time
	updatedAtNotin *time.Time
	updatedAtLike *time.Time
	updatedAtNotlike *time.Time
	updatedAtIlike *time.Time
	updatedAtNotilike *time.Time
	updatedAtDesc *string
	updatedAtAsc *string
	deletedAtEq *time.Time
	deletedAtNe *time.Time
	deletedAtGt *time.Time
	deletedAtGte *time.Time
	deletedAtLt *time.Time
	deletedAtLte *time.Time
	deletedAtIn *time.Time
	deletedAtNotin *time.Time
	deletedAtLike *time.Time
	deletedAtNotlike *time.Time
	deletedAtIlike *time.Time
	deletedAtNotilike *time.Time
	deletedAtDesc *string
	deletedAtAsc *string
	bufferEq *string
	bufferNe *string
	bufferGt *string
	bufferGte *string
	bufferLt *string
	bufferLte *string
	bufferIn *string
	bufferNotin *string
	bufferLike *string
	bufferNotlike *string
	bufferIlike *string
	bufferNotilike *string
	bufferDesc *string
	bufferAsc *string
	outputIdEq *string
	outputIdNe *string
	outputIdGt *string
	outputIdGte *string
	outputIdLt *string
	outputIdLte *string
	outputIdIn *string
	outputIdNotin *string
	outputIdLike *string
	outputIdNotlike *string
	outputIdIlike *string
	outputIdNotilike *string
	outputIdDesc *string
	outputIdAsc *string
	outputIdObjectDesc *string
	outputIdObjectAsc *string
	referencedByOutputLogidObjectsDesc *string
	referencedByOutputLogidObjectsAsc *string
}

// SQL LIMIT operator
func (r ApiGetLogsRequest) Limit(limit int32) ApiGetLogsRequest {
	r.limit = &limit
	return r
}

// SQL OFFSET operator
func (r ApiGetLogsRequest) Offset(offset int32) ApiGetLogsRequest {
	r.offset = &offset
	return r
}

// Max recursion depth for loading foreign objects; default &#x3D; 1  (0 &#x3D; recurse until graph cycle detected, 1 &#x3D; this object only, 2 &#x3D; this object + neighbours, 3 &#x3D; this object + neighbours + their neighbours... etc)
func (r ApiGetLogsRequest) Depth(depth int32) ApiGetLogsRequest {
	r.depth = &depth
	return r
}

// load the given directly related Djangolang object, value is ignored (presence of key is sufficient)
func (r ApiGetLogsRequest) OutputLoad(outputLoad string) ApiGetLogsRequest {
	r.outputLoad = &outputLoad
	return r
}

// load the given indirectly related Djangolang objects, value is ignored (presence of key is sufficient)
func (r ApiGetLogsRequest) ReferencedByOutputLoad(referencedByOutputLoad string) ApiGetLogsRequest {
	r.referencedByOutputLoad = &referencedByOutputLoad
	return r
}

// SQL &#x3D; comparison
func (r ApiGetLogsRequest) IdEq(idEq string) ApiGetLogsRequest {
	r.idEq = &idEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetLogsRequest) IdNe(idNe string) ApiGetLogsRequest {
	r.idNe = &idNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetLogsRequest) IdGt(idGt string) ApiGetLogsRequest {
	r.idGt = &idGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetLogsRequest) IdGte(idGte string) ApiGetLogsRequest {
	r.idGte = &idGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetLogsRequest) IdLt(idLt string) ApiGetLogsRequest {
	r.idLt = &idLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetLogsRequest) IdLte(idLte string) ApiGetLogsRequest {
	r.idLte = &idLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetLogsRequest) IdIn(idIn string) ApiGetLogsRequest {
	r.idIn = &idIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetLogsRequest) IdNotin(idNotin string) ApiGetLogsRequest {
	r.idNotin = &idNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) IdLike(idLike string) ApiGetLogsRequest {
	r.idLike = &idLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) IdNotlike(idNotlike string) ApiGetLogsRequest {
	r.idNotlike = &idNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) IdIlike(idIlike string) ApiGetLogsRequest {
	r.idIlike = &idIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) IdNotilike(idNotilike string) ApiGetLogsRequest {
	r.idNotilike = &idNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetLogsRequest) IdDesc(idDesc string) ApiGetLogsRequest {
	r.idDesc = &idDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetLogsRequest) IdAsc(idAsc string) ApiGetLogsRequest {
	r.idAsc = &idAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetLogsRequest) CreatedAtEq(createdAtEq time.Time) ApiGetLogsRequest {
	r.createdAtEq = &createdAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetLogsRequest) CreatedAtNe(createdAtNe time.Time) ApiGetLogsRequest {
	r.createdAtNe = &createdAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetLogsRequest) CreatedAtGt(createdAtGt time.Time) ApiGetLogsRequest {
	r.createdAtGt = &createdAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetLogsRequest) CreatedAtGte(createdAtGte time.Time) ApiGetLogsRequest {
	r.createdAtGte = &createdAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetLogsRequest) CreatedAtLt(createdAtLt time.Time) ApiGetLogsRequest {
	r.createdAtLt = &createdAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetLogsRequest) CreatedAtLte(createdAtLte time.Time) ApiGetLogsRequest {
	r.createdAtLte = &createdAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetLogsRequest) CreatedAtIn(createdAtIn time.Time) ApiGetLogsRequest {
	r.createdAtIn = &createdAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetLogsRequest) CreatedAtNotin(createdAtNotin time.Time) ApiGetLogsRequest {
	r.createdAtNotin = &createdAtNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) CreatedAtLike(createdAtLike time.Time) ApiGetLogsRequest {
	r.createdAtLike = &createdAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) CreatedAtNotlike(createdAtNotlike time.Time) ApiGetLogsRequest {
	r.createdAtNotlike = &createdAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) CreatedAtIlike(createdAtIlike time.Time) ApiGetLogsRequest {
	r.createdAtIlike = &createdAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) CreatedAtNotilike(createdAtNotilike time.Time) ApiGetLogsRequest {
	r.createdAtNotilike = &createdAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetLogsRequest) CreatedAtDesc(createdAtDesc string) ApiGetLogsRequest {
	r.createdAtDesc = &createdAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetLogsRequest) CreatedAtAsc(createdAtAsc string) ApiGetLogsRequest {
	r.createdAtAsc = &createdAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetLogsRequest) UpdatedAtEq(updatedAtEq time.Time) ApiGetLogsRequest {
	r.updatedAtEq = &updatedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetLogsRequest) UpdatedAtNe(updatedAtNe time.Time) ApiGetLogsRequest {
	r.updatedAtNe = &updatedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetLogsRequest) UpdatedAtGt(updatedAtGt time.Time) ApiGetLogsRequest {
	r.updatedAtGt = &updatedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetLogsRequest) UpdatedAtGte(updatedAtGte time.Time) ApiGetLogsRequest {
	r.updatedAtGte = &updatedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetLogsRequest) UpdatedAtLt(updatedAtLt time.Time) ApiGetLogsRequest {
	r.updatedAtLt = &updatedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetLogsRequest) UpdatedAtLte(updatedAtLte time.Time) ApiGetLogsRequest {
	r.updatedAtLte = &updatedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetLogsRequest) UpdatedAtIn(updatedAtIn time.Time) ApiGetLogsRequest {
	r.updatedAtIn = &updatedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetLogsRequest) UpdatedAtNotin(updatedAtNotin time.Time) ApiGetLogsRequest {
	r.updatedAtNotin = &updatedAtNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) UpdatedAtLike(updatedAtLike time.Time) ApiGetLogsRequest {
	r.updatedAtLike = &updatedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) UpdatedAtNotlike(updatedAtNotlike time.Time) ApiGetLogsRequest {
	r.updatedAtNotlike = &updatedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) UpdatedAtIlike(updatedAtIlike time.Time) ApiGetLogsRequest {
	r.updatedAtIlike = &updatedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) UpdatedAtNotilike(updatedAtNotilike time.Time) ApiGetLogsRequest {
	r.updatedAtNotilike = &updatedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetLogsRequest) UpdatedAtDesc(updatedAtDesc string) ApiGetLogsRequest {
	r.updatedAtDesc = &updatedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetLogsRequest) UpdatedAtAsc(updatedAtAsc string) ApiGetLogsRequest {
	r.updatedAtAsc = &updatedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetLogsRequest) DeletedAtEq(deletedAtEq time.Time) ApiGetLogsRequest {
	r.deletedAtEq = &deletedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetLogsRequest) DeletedAtNe(deletedAtNe time.Time) ApiGetLogsRequest {
	r.deletedAtNe = &deletedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetLogsRequest) DeletedAtGt(deletedAtGt time.Time) ApiGetLogsRequest {
	r.deletedAtGt = &deletedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetLogsRequest) DeletedAtGte(deletedAtGte time.Time) ApiGetLogsRequest {
	r.deletedAtGte = &deletedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetLogsRequest) DeletedAtLt(deletedAtLt time.Time) ApiGetLogsRequest {
	r.deletedAtLt = &deletedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetLogsRequest) DeletedAtLte(deletedAtLte time.Time) ApiGetLogsRequest {
	r.deletedAtLte = &deletedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetLogsRequest) DeletedAtIn(deletedAtIn time.Time) ApiGetLogsRequest {
	r.deletedAtIn = &deletedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetLogsRequest) DeletedAtNotin(deletedAtNotin time.Time) ApiGetLogsRequest {
	r.deletedAtNotin = &deletedAtNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) DeletedAtLike(deletedAtLike time.Time) ApiGetLogsRequest {
	r.deletedAtLike = &deletedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) DeletedAtNotlike(deletedAtNotlike time.Time) ApiGetLogsRequest {
	r.deletedAtNotlike = &deletedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) DeletedAtIlike(deletedAtIlike time.Time) ApiGetLogsRequest {
	r.deletedAtIlike = &deletedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) DeletedAtNotilike(deletedAtNotilike time.Time) ApiGetLogsRequest {
	r.deletedAtNotilike = &deletedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetLogsRequest) DeletedAtDesc(deletedAtDesc string) ApiGetLogsRequest {
	r.deletedAtDesc = &deletedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetLogsRequest) DeletedAtAsc(deletedAtAsc string) ApiGetLogsRequest {
	r.deletedAtAsc = &deletedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetLogsRequest) BufferEq(bufferEq string) ApiGetLogsRequest {
	r.bufferEq = &bufferEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetLogsRequest) BufferNe(bufferNe string) ApiGetLogsRequest {
	r.bufferNe = &bufferNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetLogsRequest) BufferGt(bufferGt string) ApiGetLogsRequest {
	r.bufferGt = &bufferGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetLogsRequest) BufferGte(bufferGte string) ApiGetLogsRequest {
	r.bufferGte = &bufferGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetLogsRequest) BufferLt(bufferLt string) ApiGetLogsRequest {
	r.bufferLt = &bufferLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetLogsRequest) BufferLte(bufferLte string) ApiGetLogsRequest {
	r.bufferLte = &bufferLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetLogsRequest) BufferIn(bufferIn string) ApiGetLogsRequest {
	r.bufferIn = &bufferIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetLogsRequest) BufferNotin(bufferNotin string) ApiGetLogsRequest {
	r.bufferNotin = &bufferNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) BufferLike(bufferLike string) ApiGetLogsRequest {
	r.bufferLike = &bufferLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) BufferNotlike(bufferNotlike string) ApiGetLogsRequest {
	r.bufferNotlike = &bufferNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) BufferIlike(bufferIlike string) ApiGetLogsRequest {
	r.bufferIlike = &bufferIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) BufferNotilike(bufferNotilike string) ApiGetLogsRequest {
	r.bufferNotilike = &bufferNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetLogsRequest) BufferDesc(bufferDesc string) ApiGetLogsRequest {
	r.bufferDesc = &bufferDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetLogsRequest) BufferAsc(bufferAsc string) ApiGetLogsRequest {
	r.bufferAsc = &bufferAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetLogsRequest) OutputIdEq(outputIdEq string) ApiGetLogsRequest {
	r.outputIdEq = &outputIdEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetLogsRequest) OutputIdNe(outputIdNe string) ApiGetLogsRequest {
	r.outputIdNe = &outputIdNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetLogsRequest) OutputIdGt(outputIdGt string) ApiGetLogsRequest {
	r.outputIdGt = &outputIdGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetLogsRequest) OutputIdGte(outputIdGte string) ApiGetLogsRequest {
	r.outputIdGte = &outputIdGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetLogsRequest) OutputIdLt(outputIdLt string) ApiGetLogsRequest {
	r.outputIdLt = &outputIdLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetLogsRequest) OutputIdLte(outputIdLte string) ApiGetLogsRequest {
	r.outputIdLte = &outputIdLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetLogsRequest) OutputIdIn(outputIdIn string) ApiGetLogsRequest {
	r.outputIdIn = &outputIdIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetLogsRequest) OutputIdNotin(outputIdNotin string) ApiGetLogsRequest {
	r.outputIdNotin = &outputIdNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) OutputIdLike(outputIdLike string) ApiGetLogsRequest {
	r.outputIdLike = &outputIdLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) OutputIdNotlike(outputIdNotlike string) ApiGetLogsRequest {
	r.outputIdNotlike = &outputIdNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) OutputIdIlike(outputIdIlike string) ApiGetLogsRequest {
	r.outputIdIlike = &outputIdIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetLogsRequest) OutputIdNotilike(outputIdNotilike string) ApiGetLogsRequest {
	r.outputIdNotilike = &outputIdNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetLogsRequest) OutputIdDesc(outputIdDesc string) ApiGetLogsRequest {
	r.outputIdDesc = &outputIdDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetLogsRequest) OutputIdAsc(outputIdAsc string) ApiGetLogsRequest {
	r.outputIdAsc = &outputIdAsc
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetLogsRequest) OutputIdObjectDesc(outputIdObjectDesc string) ApiGetLogsRequest {
	r.outputIdObjectDesc = &outputIdObjectDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetLogsRequest) OutputIdObjectAsc(outputIdObjectAsc string) ApiGetLogsRequest {
	r.outputIdObjectAsc = &outputIdObjectAsc
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetLogsRequest) ReferencedByOutputLogidObjectsDesc(referencedByOutputLogidObjectsDesc string) ApiGetLogsRequest {
	r.referencedByOutputLogidObjectsDesc = &referencedByOutputLogidObjectsDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetLogsRequest) ReferencedByOutputLogidObjectsAsc(referencedByOutputLogidObjectsAsc string) ApiGetLogsRequest {
	r.referencedByOutputLogidObjectsAsc = &referencedByOutputLogidObjectsAsc
	return r
}

func (r ApiGetLogsRequest) Execute() (*ResponseWithGenericOfLog, *http.Response, error) {
	return r.ApiService.GetLogsExecute(r)
}

/*
GetLogs Method for GetLogs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetLogsRequest
*/
func (a *LogAPIService) GetLogs(ctx context.Context) ApiGetLogsRequest {
	return ApiGetLogsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfLog
func (a *LogAPIService) GetLogsExecute(r ApiGetLogsRequest) (*ResponseWithGenericOfLog, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfLog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LogAPIService.GetLogs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/logs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	if r.outputLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output__load", r.outputLoad, "form", "")
	}
	if r.referencedByOutputLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_output__load", r.referencedByOutputLoad, "form", "")
	}
	if r.idEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__eq", r.idEq, "form", "")
	}
	if r.idNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ne", r.idNe, "form", "")
	}
	if r.idGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gt", r.idGt, "form", "")
	}
	if r.idGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gte", r.idGte, "form", "")
	}
	if r.idLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lt", r.idLt, "form", "")
	}
	if r.idLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lte", r.idLte, "form", "")
	}
	if r.idIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__in", r.idIn, "form", "")
	}
	if r.idNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notin", r.idNotin, "form", "")
	}
	if r.idLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__like", r.idLike, "form", "")
	}
	if r.idNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notlike", r.idNotlike, "form", "")
	}
	if r.idIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ilike", r.idIlike, "form", "")
	}
	if r.idNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notilike", r.idNotilike, "form", "")
	}
	if r.idDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__desc", r.idDesc, "form", "")
	}
	if r.idAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__asc", r.idAsc, "form", "")
	}
	if r.createdAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__eq", r.createdAtEq, "form", "")
	}
	if r.createdAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ne", r.createdAtNe, "form", "")
	}
	if r.createdAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gt", r.createdAtGt, "form", "")
	}
	if r.createdAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gte", r.createdAtGte, "form", "")
	}
	if r.createdAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lt", r.createdAtLt, "form", "")
	}
	if r.createdAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lte", r.createdAtLte, "form", "")
	}
	if r.createdAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__in", r.createdAtIn, "form", "")
	}
	if r.createdAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notin", r.createdAtNotin, "form", "")
	}
	if r.createdAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__like", r.createdAtLike, "form", "")
	}
	if r.createdAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notlike", r.createdAtNotlike, "form", "")
	}
	if r.createdAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ilike", r.createdAtIlike, "form", "")
	}
	if r.createdAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notilike", r.createdAtNotilike, "form", "")
	}
	if r.createdAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__desc", r.createdAtDesc, "form", "")
	}
	if r.createdAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__asc", r.createdAtAsc, "form", "")
	}
	if r.updatedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__eq", r.updatedAtEq, "form", "")
	}
	if r.updatedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ne", r.updatedAtNe, "form", "")
	}
	if r.updatedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gt", r.updatedAtGt, "form", "")
	}
	if r.updatedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gte", r.updatedAtGte, "form", "")
	}
	if r.updatedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lt", r.updatedAtLt, "form", "")
	}
	if r.updatedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lte", r.updatedAtLte, "form", "")
	}
	if r.updatedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__in", r.updatedAtIn, "form", "")
	}
	if r.updatedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notin", r.updatedAtNotin, "form", "")
	}
	if r.updatedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__like", r.updatedAtLike, "form", "")
	}
	if r.updatedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notlike", r.updatedAtNotlike, "form", "")
	}
	if r.updatedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ilike", r.updatedAtIlike, "form", "")
	}
	if r.updatedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notilike", r.updatedAtNotilike, "form", "")
	}
	if r.updatedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__desc", r.updatedAtDesc, "form", "")
	}
	if r.updatedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__asc", r.updatedAtAsc, "form", "")
	}
	if r.deletedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__eq", r.deletedAtEq, "form", "")
	}
	if r.deletedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ne", r.deletedAtNe, "form", "")
	}
	if r.deletedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gt", r.deletedAtGt, "form", "")
	}
	if r.deletedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gte", r.deletedAtGte, "form", "")
	}
	if r.deletedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lt", r.deletedAtLt, "form", "")
	}
	if r.deletedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lte", r.deletedAtLte, "form", "")
	}
	if r.deletedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__in", r.deletedAtIn, "form", "")
	}
	if r.deletedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notin", r.deletedAtNotin, "form", "")
	}
	if r.deletedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__like", r.deletedAtLike, "form", "")
	}
	if r.deletedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notlike", r.deletedAtNotlike, "form", "")
	}
	if r.deletedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ilike", r.deletedAtIlike, "form", "")
	}
	if r.deletedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notilike", r.deletedAtNotilike, "form", "")
	}
	if r.deletedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__desc", r.deletedAtDesc, "form", "")
	}
	if r.deletedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__asc", r.deletedAtAsc, "form", "")
	}
	if r.bufferEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "buffer__eq", r.bufferEq, "form", "")
	}
	if r.bufferNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "buffer__ne", r.bufferNe, "form", "")
	}
	if r.bufferGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "buffer__gt", r.bufferGt, "form", "")
	}
	if r.bufferGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "buffer__gte", r.bufferGte, "form", "")
	}
	if r.bufferLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "buffer__lt", r.bufferLt, "form", "")
	}
	if r.bufferLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "buffer__lte", r.bufferLte, "form", "")
	}
	if r.bufferIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "buffer__in", r.bufferIn, "form", "")
	}
	if r.bufferNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "buffer__notin", r.bufferNotin, "form", "")
	}
	if r.bufferLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "buffer__like", r.bufferLike, "form", "")
	}
	if r.bufferNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "buffer__notlike", r.bufferNotlike, "form", "")
	}
	if r.bufferIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "buffer__ilike", r.bufferIlike, "form", "")
	}
	if r.bufferNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "buffer__notilike", r.bufferNotilike, "form", "")
	}
	if r.bufferDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "buffer__desc", r.bufferDesc, "form", "")
	}
	if r.bufferAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "buffer__asc", r.bufferAsc, "form", "")
	}
	if r.outputIdEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output_id__eq", r.outputIdEq, "form", "")
	}
	if r.outputIdNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output_id__ne", r.outputIdNe, "form", "")
	}
	if r.outputIdGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output_id__gt", r.outputIdGt, "form", "")
	}
	if r.outputIdGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output_id__gte", r.outputIdGte, "form", "")
	}
	if r.outputIdLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output_id__lt", r.outputIdLt, "form", "")
	}
	if r.outputIdLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output_id__lte", r.outputIdLte, "form", "")
	}
	if r.outputIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output_id__in", r.outputIdIn, "form", "")
	}
	if r.outputIdNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output_id__notin", r.outputIdNotin, "form", "")
	}
	if r.outputIdLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output_id__like", r.outputIdLike, "form", "")
	}
	if r.outputIdNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output_id__notlike", r.outputIdNotlike, "form", "")
	}
	if r.outputIdIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output_id__ilike", r.outputIdIlike, "form", "")
	}
	if r.outputIdNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output_id__notilike", r.outputIdNotilike, "form", "")
	}
	if r.outputIdDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output_id__desc", r.outputIdDesc, "form", "")
	}
	if r.outputIdAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output_id__asc", r.outputIdAsc, "form", "")
	}
	if r.outputIdObjectDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output_id_object__desc", r.outputIdObjectDesc, "form", "")
	}
	if r.outputIdObjectAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "output_id_object__asc", r.outputIdObjectAsc, "form", "")
	}
	if r.referencedByOutputLogidObjectsDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_output_logid_objects__desc", r.referencedByOutputLogidObjectsDesc, "form", "")
	}
	if r.referencedByOutputLogidObjectsAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_output_logid_objects__asc", r.referencedByOutputLogidObjectsAsc, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchLogRequest struct {
	ctx context.Context
	ApiService *LogAPIService
	primaryKey string
	log *Log
	depth *int64
}

func (r ApiPatchLogRequest) Log(log Log) ApiPatchLogRequest {
	r.log = &log
	return r
}

// Query parameter depth
func (r ApiPatchLogRequest) Depth(depth int64) ApiPatchLogRequest {
	r.depth = &depth
	return r
}

func (r ApiPatchLogRequest) Execute() (*ResponseWithGenericOfLog, *http.Response, error) {
	return r.ApiService.PatchLogExecute(r)
}

/*
PatchLog Method for PatchLog

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiPatchLogRequest
*/
func (a *LogAPIService) PatchLog(ctx context.Context, primaryKey string) ApiPatchLogRequest {
	return ApiPatchLogRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfLog
func (a *LogAPIService) PatchLogExecute(r ApiPatchLogRequest) (*ResponseWithGenericOfLog, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfLog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LogAPIService.PatchLog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/logs/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.log == nil {
		return localVarReturnValue, nil, reportError("log is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.log
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostLogsRequest struct {
	ctx context.Context
	ApiService *LogAPIService
	log *[]Log
	depth *int64
}

func (r ApiPostLogsRequest) Log(log []Log) ApiPostLogsRequest {
	r.log = &log
	return r
}

// Query parameter depth
func (r ApiPostLogsRequest) Depth(depth int64) ApiPostLogsRequest {
	r.depth = &depth
	return r
}

func (r ApiPostLogsRequest) Execute() (*ResponseWithGenericOfLog, *http.Response, error) {
	return r.ApiService.PostLogsExecute(r)
}

/*
PostLogs Method for PostLogs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostLogsRequest
*/
func (a *LogAPIService) PostLogs(ctx context.Context) ApiPostLogsRequest {
	return ApiPostLogsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfLog
func (a *LogAPIService) PostLogsExecute(r ApiPostLogsRequest) (*ResponseWithGenericOfLog, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfLog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LogAPIService.PostLogs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/logs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.log == nil {
		return localVarReturnValue, nil, reportError("log is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.log
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
