/*
Djangolang

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// ExecutionAPIService ExecutionAPI service
type ExecutionAPIService service

type ApiDeleteExecutionRequest struct {
	ctx context.Context
	ApiService *ExecutionAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiDeleteExecutionRequest) Depth(depth int64) ApiDeleteExecutionRequest {
	r.depth = &depth
	return r
}

func (r ApiDeleteExecutionRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteExecutionExecute(r)
}

/*
DeleteExecution Method for DeleteExecution

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiDeleteExecutionRequest
*/
func (a *ExecutionAPIService) DeleteExecution(ctx context.Context, primaryKey string) ApiDeleteExecutionRequest {
	return ApiDeleteExecutionRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
func (a *ExecutionAPIService) DeleteExecutionExecute(r ApiDeleteExecutionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionAPIService.DeleteExecution")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/executions/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetExecutionRequest struct {
	ctx context.Context
	ApiService *ExecutionAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiGetExecutionRequest) Depth(depth int64) ApiGetExecutionRequest {
	r.depth = &depth
	return r
}

func (r ApiGetExecutionRequest) Execute() (*ResponseWithGenericOfExecution, *http.Response, error) {
	return r.ApiService.GetExecutionExecute(r)
}

/*
GetExecution Method for GetExecution

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiGetExecutionRequest
*/
func (a *ExecutionAPIService) GetExecution(ctx context.Context, primaryKey string) ApiGetExecutionRequest {
	return ApiGetExecutionRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfExecution
func (a *ExecutionAPIService) GetExecutionExecute(r ApiGetExecutionRequest) (*ResponseWithGenericOfExecution, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfExecution
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionAPIService.GetExecution")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/executions/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetExecutionsRequest struct {
	ctx context.Context
	ApiService *ExecutionAPIService
	limit *int32
	offset *int32
	depth *int32
	taskLoad *string
	m2mRuleTriggerJobLoad *string
	idEq *string
	idNe *string
	idGt *string
	idGte *string
	idLt *string
	idLte *string
	idIn *string
	idNotin *string
	idLike *string
	idNotlike *string
	idIlike *string
	idNotilike *string
	idDesc *string
	idAsc *string
	createdAtEq *time.Time
	createdAtNe *time.Time
	createdAtGt *time.Time
	createdAtGte *time.Time
	createdAtLt *time.Time
	createdAtLte *time.Time
	createdAtIn *time.Time
	createdAtNotin *time.Time
	createdAtLike *time.Time
	createdAtNotlike *time.Time
	createdAtIlike *time.Time
	createdAtNotilike *time.Time
	createdAtDesc *string
	createdAtAsc *string
	updatedAtEq *time.Time
	updatedAtNe *time.Time
	updatedAtGt *time.Time
	updatedAtGte *time.Time
	updatedAtLt *time.Time
	updatedAtLte *time.Time
	updatedAtIn *time.Time
	updatedAtNotin *time.Time
	updatedAtLike *time.Time
	updatedAtNotlike *time.Time
	updatedAtIlike *time.Time
	updatedAtNotilike *time.Time
	updatedAtDesc *string
	updatedAtAsc *string
	deletedAtEq *time.Time
	deletedAtNe *time.Time
	deletedAtGt *time.Time
	deletedAtGte *time.Time
	deletedAtLt *time.Time
	deletedAtLte *time.Time
	deletedAtIn *time.Time
	deletedAtNotin *time.Time
	deletedAtLike *time.Time
	deletedAtNotlike *time.Time
	deletedAtIlike *time.Time
	deletedAtNotilike *time.Time
	deletedAtDesc *string
	deletedAtAsc *string
	statusEq *string
	statusNe *string
	statusGt *string
	statusGte *string
	statusLt *string
	statusLte *string
	statusIn *string
	statusNotin *string
	statusLike *string
	statusNotlike *string
	statusIlike *string
	statusNotilike *string
	statusDesc *string
	statusAsc *string
	startedAtEq *time.Time
	startedAtNe *time.Time
	startedAtGt *time.Time
	startedAtGte *time.Time
	startedAtLt *time.Time
	startedAtLte *time.Time
	startedAtIn *time.Time
	startedAtNotin *time.Time
	startedAtLike *time.Time
	startedAtNotlike *time.Time
	startedAtIlike *time.Time
	startedAtNotilike *time.Time
	startedAtDesc *string
	startedAtAsc *string
	endedAtEq *time.Time
	endedAtNe *time.Time
	endedAtGt *time.Time
	endedAtGte *time.Time
	endedAtLt *time.Time
	endedAtLte *time.Time
	endedAtIn *time.Time
	endedAtNotin *time.Time
	endedAtLike *time.Time
	endedAtNotlike *time.Time
	endedAtIlike *time.Time
	endedAtNotilike *time.Time
	endedAtDesc *string
	endedAtAsc *string
	taskIdEq *string
	taskIdNe *string
	taskIdGt *string
	taskIdGte *string
	taskIdLt *string
	taskIdLte *string
	taskIdIn *string
	taskIdNotin *string
	taskIdLike *string
	taskIdNotlike *string
	taskIdIlike *string
	taskIdNotilike *string
	taskIdDesc *string
	taskIdAsc *string
	taskIdObjectDesc *string
	taskIdObjectAsc *string
	m2mRuleTriggerJobIdEq *string
	m2mRuleTriggerJobIdNe *string
	m2mRuleTriggerJobIdGt *string
	m2mRuleTriggerJobIdGte *string
	m2mRuleTriggerJobIdLt *string
	m2mRuleTriggerJobIdLte *string
	m2mRuleTriggerJobIdIn *string
	m2mRuleTriggerJobIdNotin *string
	m2mRuleTriggerJobIdLike *string
	m2mRuleTriggerJobIdNotlike *string
	m2mRuleTriggerJobIdIlike *string
	m2mRuleTriggerJobIdNotilike *string
	m2mRuleTriggerJobIdDesc *string
	m2mRuleTriggerJobIdAsc *string
	m2mRuleTriggerJobIdObjectDesc *string
	m2mRuleTriggerJobIdObjectAsc *string
}

// SQL LIMIT operator
func (r ApiGetExecutionsRequest) Limit(limit int32) ApiGetExecutionsRequest {
	r.limit = &limit
	return r
}

// SQL OFFSET operator
func (r ApiGetExecutionsRequest) Offset(offset int32) ApiGetExecutionsRequest {
	r.offset = &offset
	return r
}

// Max recursion depth for loading foreign objects; default &#x3D; 1  (0 &#x3D; recurse until graph cycle detected, 1 &#x3D; this object only, 2 &#x3D; this object + neighbours, 3 &#x3D; this object + neighbours + their neighbours... etc)
func (r ApiGetExecutionsRequest) Depth(depth int32) ApiGetExecutionsRequest {
	r.depth = &depth
	return r
}

// load the given directly related Djangolang object, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) TaskLoad(taskLoad string) ApiGetExecutionsRequest {
	r.taskLoad = &taskLoad
	return r
}

// load the given directly related Djangolang object, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) M2mRuleTriggerJobLoad(m2mRuleTriggerJobLoad string) ApiGetExecutionsRequest {
	r.m2mRuleTriggerJobLoad = &m2mRuleTriggerJobLoad
	return r
}

// SQL &#x3D; comparison
func (r ApiGetExecutionsRequest) IdEq(idEq string) ApiGetExecutionsRequest {
	r.idEq = &idEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetExecutionsRequest) IdNe(idNe string) ApiGetExecutionsRequest {
	r.idNe = &idNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) IdGt(idGt string) ApiGetExecutionsRequest {
	r.idGt = &idGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) IdGte(idGte string) ApiGetExecutionsRequest {
	r.idGte = &idGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) IdLt(idLt string) ApiGetExecutionsRequest {
	r.idLt = &idLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) IdLte(idLte string) ApiGetExecutionsRequest {
	r.idLte = &idLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) IdIn(idIn string) ApiGetExecutionsRequest {
	r.idIn = &idIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) IdNotin(idNotin string) ApiGetExecutionsRequest {
	r.idNotin = &idNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) IdLike(idLike string) ApiGetExecutionsRequest {
	r.idLike = &idLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) IdNotlike(idNotlike string) ApiGetExecutionsRequest {
	r.idNotlike = &idNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) IdIlike(idIlike string) ApiGetExecutionsRequest {
	r.idIlike = &idIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) IdNotilike(idNotilike string) ApiGetExecutionsRequest {
	r.idNotilike = &idNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) IdDesc(idDesc string) ApiGetExecutionsRequest {
	r.idDesc = &idDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) IdAsc(idAsc string) ApiGetExecutionsRequest {
	r.idAsc = &idAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetExecutionsRequest) CreatedAtEq(createdAtEq time.Time) ApiGetExecutionsRequest {
	r.createdAtEq = &createdAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetExecutionsRequest) CreatedAtNe(createdAtNe time.Time) ApiGetExecutionsRequest {
	r.createdAtNe = &createdAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) CreatedAtGt(createdAtGt time.Time) ApiGetExecutionsRequest {
	r.createdAtGt = &createdAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) CreatedAtGte(createdAtGte time.Time) ApiGetExecutionsRequest {
	r.createdAtGte = &createdAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) CreatedAtLt(createdAtLt time.Time) ApiGetExecutionsRequest {
	r.createdAtLt = &createdAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) CreatedAtLte(createdAtLte time.Time) ApiGetExecutionsRequest {
	r.createdAtLte = &createdAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) CreatedAtIn(createdAtIn time.Time) ApiGetExecutionsRequest {
	r.createdAtIn = &createdAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) CreatedAtNotin(createdAtNotin time.Time) ApiGetExecutionsRequest {
	r.createdAtNotin = &createdAtNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) CreatedAtLike(createdAtLike time.Time) ApiGetExecutionsRequest {
	r.createdAtLike = &createdAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) CreatedAtNotlike(createdAtNotlike time.Time) ApiGetExecutionsRequest {
	r.createdAtNotlike = &createdAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) CreatedAtIlike(createdAtIlike time.Time) ApiGetExecutionsRequest {
	r.createdAtIlike = &createdAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) CreatedAtNotilike(createdAtNotilike time.Time) ApiGetExecutionsRequest {
	r.createdAtNotilike = &createdAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) CreatedAtDesc(createdAtDesc string) ApiGetExecutionsRequest {
	r.createdAtDesc = &createdAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) CreatedAtAsc(createdAtAsc string) ApiGetExecutionsRequest {
	r.createdAtAsc = &createdAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetExecutionsRequest) UpdatedAtEq(updatedAtEq time.Time) ApiGetExecutionsRequest {
	r.updatedAtEq = &updatedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetExecutionsRequest) UpdatedAtNe(updatedAtNe time.Time) ApiGetExecutionsRequest {
	r.updatedAtNe = &updatedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) UpdatedAtGt(updatedAtGt time.Time) ApiGetExecutionsRequest {
	r.updatedAtGt = &updatedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) UpdatedAtGte(updatedAtGte time.Time) ApiGetExecutionsRequest {
	r.updatedAtGte = &updatedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) UpdatedAtLt(updatedAtLt time.Time) ApiGetExecutionsRequest {
	r.updatedAtLt = &updatedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) UpdatedAtLte(updatedAtLte time.Time) ApiGetExecutionsRequest {
	r.updatedAtLte = &updatedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) UpdatedAtIn(updatedAtIn time.Time) ApiGetExecutionsRequest {
	r.updatedAtIn = &updatedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) UpdatedAtNotin(updatedAtNotin time.Time) ApiGetExecutionsRequest {
	r.updatedAtNotin = &updatedAtNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) UpdatedAtLike(updatedAtLike time.Time) ApiGetExecutionsRequest {
	r.updatedAtLike = &updatedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) UpdatedAtNotlike(updatedAtNotlike time.Time) ApiGetExecutionsRequest {
	r.updatedAtNotlike = &updatedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) UpdatedAtIlike(updatedAtIlike time.Time) ApiGetExecutionsRequest {
	r.updatedAtIlike = &updatedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) UpdatedAtNotilike(updatedAtNotilike time.Time) ApiGetExecutionsRequest {
	r.updatedAtNotilike = &updatedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) UpdatedAtDesc(updatedAtDesc string) ApiGetExecutionsRequest {
	r.updatedAtDesc = &updatedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) UpdatedAtAsc(updatedAtAsc string) ApiGetExecutionsRequest {
	r.updatedAtAsc = &updatedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetExecutionsRequest) DeletedAtEq(deletedAtEq time.Time) ApiGetExecutionsRequest {
	r.deletedAtEq = &deletedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetExecutionsRequest) DeletedAtNe(deletedAtNe time.Time) ApiGetExecutionsRequest {
	r.deletedAtNe = &deletedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) DeletedAtGt(deletedAtGt time.Time) ApiGetExecutionsRequest {
	r.deletedAtGt = &deletedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) DeletedAtGte(deletedAtGte time.Time) ApiGetExecutionsRequest {
	r.deletedAtGte = &deletedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) DeletedAtLt(deletedAtLt time.Time) ApiGetExecutionsRequest {
	r.deletedAtLt = &deletedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) DeletedAtLte(deletedAtLte time.Time) ApiGetExecutionsRequest {
	r.deletedAtLte = &deletedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) DeletedAtIn(deletedAtIn time.Time) ApiGetExecutionsRequest {
	r.deletedAtIn = &deletedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) DeletedAtNotin(deletedAtNotin time.Time) ApiGetExecutionsRequest {
	r.deletedAtNotin = &deletedAtNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) DeletedAtLike(deletedAtLike time.Time) ApiGetExecutionsRequest {
	r.deletedAtLike = &deletedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) DeletedAtNotlike(deletedAtNotlike time.Time) ApiGetExecutionsRequest {
	r.deletedAtNotlike = &deletedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) DeletedAtIlike(deletedAtIlike time.Time) ApiGetExecutionsRequest {
	r.deletedAtIlike = &deletedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) DeletedAtNotilike(deletedAtNotilike time.Time) ApiGetExecutionsRequest {
	r.deletedAtNotilike = &deletedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) DeletedAtDesc(deletedAtDesc string) ApiGetExecutionsRequest {
	r.deletedAtDesc = &deletedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) DeletedAtAsc(deletedAtAsc string) ApiGetExecutionsRequest {
	r.deletedAtAsc = &deletedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetExecutionsRequest) StatusEq(statusEq string) ApiGetExecutionsRequest {
	r.statusEq = &statusEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetExecutionsRequest) StatusNe(statusNe string) ApiGetExecutionsRequest {
	r.statusNe = &statusNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) StatusGt(statusGt string) ApiGetExecutionsRequest {
	r.statusGt = &statusGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) StatusGte(statusGte string) ApiGetExecutionsRequest {
	r.statusGte = &statusGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) StatusLt(statusLt string) ApiGetExecutionsRequest {
	r.statusLt = &statusLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) StatusLte(statusLte string) ApiGetExecutionsRequest {
	r.statusLte = &statusLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) StatusIn(statusIn string) ApiGetExecutionsRequest {
	r.statusIn = &statusIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) StatusNotin(statusNotin string) ApiGetExecutionsRequest {
	r.statusNotin = &statusNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) StatusLike(statusLike string) ApiGetExecutionsRequest {
	r.statusLike = &statusLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) StatusNotlike(statusNotlike string) ApiGetExecutionsRequest {
	r.statusNotlike = &statusNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) StatusIlike(statusIlike string) ApiGetExecutionsRequest {
	r.statusIlike = &statusIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) StatusNotilike(statusNotilike string) ApiGetExecutionsRequest {
	r.statusNotilike = &statusNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) StatusDesc(statusDesc string) ApiGetExecutionsRequest {
	r.statusDesc = &statusDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) StatusAsc(statusAsc string) ApiGetExecutionsRequest {
	r.statusAsc = &statusAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetExecutionsRequest) StartedAtEq(startedAtEq time.Time) ApiGetExecutionsRequest {
	r.startedAtEq = &startedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetExecutionsRequest) StartedAtNe(startedAtNe time.Time) ApiGetExecutionsRequest {
	r.startedAtNe = &startedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) StartedAtGt(startedAtGt time.Time) ApiGetExecutionsRequest {
	r.startedAtGt = &startedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) StartedAtGte(startedAtGte time.Time) ApiGetExecutionsRequest {
	r.startedAtGte = &startedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) StartedAtLt(startedAtLt time.Time) ApiGetExecutionsRequest {
	r.startedAtLt = &startedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) StartedAtLte(startedAtLte time.Time) ApiGetExecutionsRequest {
	r.startedAtLte = &startedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) StartedAtIn(startedAtIn time.Time) ApiGetExecutionsRequest {
	r.startedAtIn = &startedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) StartedAtNotin(startedAtNotin time.Time) ApiGetExecutionsRequest {
	r.startedAtNotin = &startedAtNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) StartedAtLike(startedAtLike time.Time) ApiGetExecutionsRequest {
	r.startedAtLike = &startedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) StartedAtNotlike(startedAtNotlike time.Time) ApiGetExecutionsRequest {
	r.startedAtNotlike = &startedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) StartedAtIlike(startedAtIlike time.Time) ApiGetExecutionsRequest {
	r.startedAtIlike = &startedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) StartedAtNotilike(startedAtNotilike time.Time) ApiGetExecutionsRequest {
	r.startedAtNotilike = &startedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) StartedAtDesc(startedAtDesc string) ApiGetExecutionsRequest {
	r.startedAtDesc = &startedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) StartedAtAsc(startedAtAsc string) ApiGetExecutionsRequest {
	r.startedAtAsc = &startedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetExecutionsRequest) EndedAtEq(endedAtEq time.Time) ApiGetExecutionsRequest {
	r.endedAtEq = &endedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetExecutionsRequest) EndedAtNe(endedAtNe time.Time) ApiGetExecutionsRequest {
	r.endedAtNe = &endedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) EndedAtGt(endedAtGt time.Time) ApiGetExecutionsRequest {
	r.endedAtGt = &endedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) EndedAtGte(endedAtGte time.Time) ApiGetExecutionsRequest {
	r.endedAtGte = &endedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) EndedAtLt(endedAtLt time.Time) ApiGetExecutionsRequest {
	r.endedAtLt = &endedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) EndedAtLte(endedAtLte time.Time) ApiGetExecutionsRequest {
	r.endedAtLte = &endedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) EndedAtIn(endedAtIn time.Time) ApiGetExecutionsRequest {
	r.endedAtIn = &endedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) EndedAtNotin(endedAtNotin time.Time) ApiGetExecutionsRequest {
	r.endedAtNotin = &endedAtNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) EndedAtLike(endedAtLike time.Time) ApiGetExecutionsRequest {
	r.endedAtLike = &endedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) EndedAtNotlike(endedAtNotlike time.Time) ApiGetExecutionsRequest {
	r.endedAtNotlike = &endedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) EndedAtIlike(endedAtIlike time.Time) ApiGetExecutionsRequest {
	r.endedAtIlike = &endedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) EndedAtNotilike(endedAtNotilike time.Time) ApiGetExecutionsRequest {
	r.endedAtNotilike = &endedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) EndedAtDesc(endedAtDesc string) ApiGetExecutionsRequest {
	r.endedAtDesc = &endedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) EndedAtAsc(endedAtAsc string) ApiGetExecutionsRequest {
	r.endedAtAsc = &endedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetExecutionsRequest) TaskIdEq(taskIdEq string) ApiGetExecutionsRequest {
	r.taskIdEq = &taskIdEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetExecutionsRequest) TaskIdNe(taskIdNe string) ApiGetExecutionsRequest {
	r.taskIdNe = &taskIdNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) TaskIdGt(taskIdGt string) ApiGetExecutionsRequest {
	r.taskIdGt = &taskIdGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) TaskIdGte(taskIdGte string) ApiGetExecutionsRequest {
	r.taskIdGte = &taskIdGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) TaskIdLt(taskIdLt string) ApiGetExecutionsRequest {
	r.taskIdLt = &taskIdLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) TaskIdLte(taskIdLte string) ApiGetExecutionsRequest {
	r.taskIdLte = &taskIdLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) TaskIdIn(taskIdIn string) ApiGetExecutionsRequest {
	r.taskIdIn = &taskIdIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) TaskIdNotin(taskIdNotin string) ApiGetExecutionsRequest {
	r.taskIdNotin = &taskIdNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) TaskIdLike(taskIdLike string) ApiGetExecutionsRequest {
	r.taskIdLike = &taskIdLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) TaskIdNotlike(taskIdNotlike string) ApiGetExecutionsRequest {
	r.taskIdNotlike = &taskIdNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) TaskIdIlike(taskIdIlike string) ApiGetExecutionsRequest {
	r.taskIdIlike = &taskIdIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) TaskIdNotilike(taskIdNotilike string) ApiGetExecutionsRequest {
	r.taskIdNotilike = &taskIdNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) TaskIdDesc(taskIdDesc string) ApiGetExecutionsRequest {
	r.taskIdDesc = &taskIdDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) TaskIdAsc(taskIdAsc string) ApiGetExecutionsRequest {
	r.taskIdAsc = &taskIdAsc
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) TaskIdObjectDesc(taskIdObjectDesc string) ApiGetExecutionsRequest {
	r.taskIdObjectDesc = &taskIdObjectDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) TaskIdObjectAsc(taskIdObjectAsc string) ApiGetExecutionsRequest {
	r.taskIdObjectAsc = &taskIdObjectAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetExecutionsRequest) M2mRuleTriggerJobIdEq(m2mRuleTriggerJobIdEq string) ApiGetExecutionsRequest {
	r.m2mRuleTriggerJobIdEq = &m2mRuleTriggerJobIdEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetExecutionsRequest) M2mRuleTriggerJobIdNe(m2mRuleTriggerJobIdNe string) ApiGetExecutionsRequest {
	r.m2mRuleTriggerJobIdNe = &m2mRuleTriggerJobIdNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) M2mRuleTriggerJobIdGt(m2mRuleTriggerJobIdGt string) ApiGetExecutionsRequest {
	r.m2mRuleTriggerJobIdGt = &m2mRuleTriggerJobIdGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) M2mRuleTriggerJobIdGte(m2mRuleTriggerJobIdGte string) ApiGetExecutionsRequest {
	r.m2mRuleTriggerJobIdGte = &m2mRuleTriggerJobIdGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) M2mRuleTriggerJobIdLt(m2mRuleTriggerJobIdLt string) ApiGetExecutionsRequest {
	r.m2mRuleTriggerJobIdLt = &m2mRuleTriggerJobIdLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetExecutionsRequest) M2mRuleTriggerJobIdLte(m2mRuleTriggerJobIdLte string) ApiGetExecutionsRequest {
	r.m2mRuleTriggerJobIdLte = &m2mRuleTriggerJobIdLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) M2mRuleTriggerJobIdIn(m2mRuleTriggerJobIdIn string) ApiGetExecutionsRequest {
	r.m2mRuleTriggerJobIdIn = &m2mRuleTriggerJobIdIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetExecutionsRequest) M2mRuleTriggerJobIdNotin(m2mRuleTriggerJobIdNotin string) ApiGetExecutionsRequest {
	r.m2mRuleTriggerJobIdNotin = &m2mRuleTriggerJobIdNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) M2mRuleTriggerJobIdLike(m2mRuleTriggerJobIdLike string) ApiGetExecutionsRequest {
	r.m2mRuleTriggerJobIdLike = &m2mRuleTriggerJobIdLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) M2mRuleTriggerJobIdNotlike(m2mRuleTriggerJobIdNotlike string) ApiGetExecutionsRequest {
	r.m2mRuleTriggerJobIdNotlike = &m2mRuleTriggerJobIdNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) M2mRuleTriggerJobIdIlike(m2mRuleTriggerJobIdIlike string) ApiGetExecutionsRequest {
	r.m2mRuleTriggerJobIdIlike = &m2mRuleTriggerJobIdIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetExecutionsRequest) M2mRuleTriggerJobIdNotilike(m2mRuleTriggerJobIdNotilike string) ApiGetExecutionsRequest {
	r.m2mRuleTriggerJobIdNotilike = &m2mRuleTriggerJobIdNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) M2mRuleTriggerJobIdDesc(m2mRuleTriggerJobIdDesc string) ApiGetExecutionsRequest {
	r.m2mRuleTriggerJobIdDesc = &m2mRuleTriggerJobIdDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) M2mRuleTriggerJobIdAsc(m2mRuleTriggerJobIdAsc string) ApiGetExecutionsRequest {
	r.m2mRuleTriggerJobIdAsc = &m2mRuleTriggerJobIdAsc
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) M2mRuleTriggerJobIdObjectDesc(m2mRuleTriggerJobIdObjectDesc string) ApiGetExecutionsRequest {
	r.m2mRuleTriggerJobIdObjectDesc = &m2mRuleTriggerJobIdObjectDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetExecutionsRequest) M2mRuleTriggerJobIdObjectAsc(m2mRuleTriggerJobIdObjectAsc string) ApiGetExecutionsRequest {
	r.m2mRuleTriggerJobIdObjectAsc = &m2mRuleTriggerJobIdObjectAsc
	return r
}

func (r ApiGetExecutionsRequest) Execute() (*ResponseWithGenericOfExecution, *http.Response, error) {
	return r.ApiService.GetExecutionsExecute(r)
}

/*
GetExecutions Method for GetExecutions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetExecutionsRequest
*/
func (a *ExecutionAPIService) GetExecutions(ctx context.Context) ApiGetExecutionsRequest {
	return ApiGetExecutionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfExecution
func (a *ExecutionAPIService) GetExecutionsExecute(r ApiGetExecutionsRequest) (*ResponseWithGenericOfExecution, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfExecution
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionAPIService.GetExecutions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/executions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	if r.taskLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task__load", r.taskLoad, "form", "")
	}
	if r.m2mRuleTriggerJobLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "m2m_rule_trigger_job__load", r.m2mRuleTriggerJobLoad, "form", "")
	}
	if r.idEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__eq", r.idEq, "form", "")
	}
	if r.idNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ne", r.idNe, "form", "")
	}
	if r.idGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gt", r.idGt, "form", "")
	}
	if r.idGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gte", r.idGte, "form", "")
	}
	if r.idLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lt", r.idLt, "form", "")
	}
	if r.idLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lte", r.idLte, "form", "")
	}
	if r.idIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__in", r.idIn, "form", "")
	}
	if r.idNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notin", r.idNotin, "form", "")
	}
	if r.idLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__like", r.idLike, "form", "")
	}
	if r.idNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notlike", r.idNotlike, "form", "")
	}
	if r.idIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ilike", r.idIlike, "form", "")
	}
	if r.idNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notilike", r.idNotilike, "form", "")
	}
	if r.idDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__desc", r.idDesc, "form", "")
	}
	if r.idAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__asc", r.idAsc, "form", "")
	}
	if r.createdAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__eq", r.createdAtEq, "form", "")
	}
	if r.createdAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ne", r.createdAtNe, "form", "")
	}
	if r.createdAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gt", r.createdAtGt, "form", "")
	}
	if r.createdAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gte", r.createdAtGte, "form", "")
	}
	if r.createdAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lt", r.createdAtLt, "form", "")
	}
	if r.createdAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lte", r.createdAtLte, "form", "")
	}
	if r.createdAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__in", r.createdAtIn, "form", "")
	}
	if r.createdAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notin", r.createdAtNotin, "form", "")
	}
	if r.createdAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__like", r.createdAtLike, "form", "")
	}
	if r.createdAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notlike", r.createdAtNotlike, "form", "")
	}
	if r.createdAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ilike", r.createdAtIlike, "form", "")
	}
	if r.createdAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notilike", r.createdAtNotilike, "form", "")
	}
	if r.createdAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__desc", r.createdAtDesc, "form", "")
	}
	if r.createdAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__asc", r.createdAtAsc, "form", "")
	}
	if r.updatedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__eq", r.updatedAtEq, "form", "")
	}
	if r.updatedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ne", r.updatedAtNe, "form", "")
	}
	if r.updatedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gt", r.updatedAtGt, "form", "")
	}
	if r.updatedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gte", r.updatedAtGte, "form", "")
	}
	if r.updatedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lt", r.updatedAtLt, "form", "")
	}
	if r.updatedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lte", r.updatedAtLte, "form", "")
	}
	if r.updatedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__in", r.updatedAtIn, "form", "")
	}
	if r.updatedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notin", r.updatedAtNotin, "form", "")
	}
	if r.updatedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__like", r.updatedAtLike, "form", "")
	}
	if r.updatedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notlike", r.updatedAtNotlike, "form", "")
	}
	if r.updatedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ilike", r.updatedAtIlike, "form", "")
	}
	if r.updatedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notilike", r.updatedAtNotilike, "form", "")
	}
	if r.updatedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__desc", r.updatedAtDesc, "form", "")
	}
	if r.updatedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__asc", r.updatedAtAsc, "form", "")
	}
	if r.deletedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__eq", r.deletedAtEq, "form", "")
	}
	if r.deletedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ne", r.deletedAtNe, "form", "")
	}
	if r.deletedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gt", r.deletedAtGt, "form", "")
	}
	if r.deletedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gte", r.deletedAtGte, "form", "")
	}
	if r.deletedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lt", r.deletedAtLt, "form", "")
	}
	if r.deletedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lte", r.deletedAtLte, "form", "")
	}
	if r.deletedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__in", r.deletedAtIn, "form", "")
	}
	if r.deletedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notin", r.deletedAtNotin, "form", "")
	}
	if r.deletedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__like", r.deletedAtLike, "form", "")
	}
	if r.deletedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notlike", r.deletedAtNotlike, "form", "")
	}
	if r.deletedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ilike", r.deletedAtIlike, "form", "")
	}
	if r.deletedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notilike", r.deletedAtNotilike, "form", "")
	}
	if r.deletedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__desc", r.deletedAtDesc, "form", "")
	}
	if r.deletedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__asc", r.deletedAtAsc, "form", "")
	}
	if r.statusEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__eq", r.statusEq, "form", "")
	}
	if r.statusNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__ne", r.statusNe, "form", "")
	}
	if r.statusGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__gt", r.statusGt, "form", "")
	}
	if r.statusGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__gte", r.statusGte, "form", "")
	}
	if r.statusLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__lt", r.statusLt, "form", "")
	}
	if r.statusLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__lte", r.statusLte, "form", "")
	}
	if r.statusIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__in", r.statusIn, "form", "")
	}
	if r.statusNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__notin", r.statusNotin, "form", "")
	}
	if r.statusLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__like", r.statusLike, "form", "")
	}
	if r.statusNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__notlike", r.statusNotlike, "form", "")
	}
	if r.statusIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__ilike", r.statusIlike, "form", "")
	}
	if r.statusNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__notilike", r.statusNotilike, "form", "")
	}
	if r.statusDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__desc", r.statusDesc, "form", "")
	}
	if r.statusAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__asc", r.statusAsc, "form", "")
	}
	if r.startedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__eq", r.startedAtEq, "form", "")
	}
	if r.startedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__ne", r.startedAtNe, "form", "")
	}
	if r.startedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__gt", r.startedAtGt, "form", "")
	}
	if r.startedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__gte", r.startedAtGte, "form", "")
	}
	if r.startedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__lt", r.startedAtLt, "form", "")
	}
	if r.startedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__lte", r.startedAtLte, "form", "")
	}
	if r.startedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__in", r.startedAtIn, "form", "")
	}
	if r.startedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__notin", r.startedAtNotin, "form", "")
	}
	if r.startedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__like", r.startedAtLike, "form", "")
	}
	if r.startedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__notlike", r.startedAtNotlike, "form", "")
	}
	if r.startedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__ilike", r.startedAtIlike, "form", "")
	}
	if r.startedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__notilike", r.startedAtNotilike, "form", "")
	}
	if r.startedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__desc", r.startedAtDesc, "form", "")
	}
	if r.startedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__asc", r.startedAtAsc, "form", "")
	}
	if r.endedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__eq", r.endedAtEq, "form", "")
	}
	if r.endedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__ne", r.endedAtNe, "form", "")
	}
	if r.endedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__gt", r.endedAtGt, "form", "")
	}
	if r.endedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__gte", r.endedAtGte, "form", "")
	}
	if r.endedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__lt", r.endedAtLt, "form", "")
	}
	if r.endedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__lte", r.endedAtLte, "form", "")
	}
	if r.endedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__in", r.endedAtIn, "form", "")
	}
	if r.endedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__notin", r.endedAtNotin, "form", "")
	}
	if r.endedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__like", r.endedAtLike, "form", "")
	}
	if r.endedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__notlike", r.endedAtNotlike, "form", "")
	}
	if r.endedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__ilike", r.endedAtIlike, "form", "")
	}
	if r.endedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__notilike", r.endedAtNotilike, "form", "")
	}
	if r.endedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__desc", r.endedAtDesc, "form", "")
	}
	if r.endedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__asc", r.endedAtAsc, "form", "")
	}
	if r.taskIdEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__eq", r.taskIdEq, "form", "")
	}
	if r.taskIdNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__ne", r.taskIdNe, "form", "")
	}
	if r.taskIdGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__gt", r.taskIdGt, "form", "")
	}
	if r.taskIdGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__gte", r.taskIdGte, "form", "")
	}
	if r.taskIdLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__lt", r.taskIdLt, "form", "")
	}
	if r.taskIdLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__lte", r.taskIdLte, "form", "")
	}
	if r.taskIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__in", r.taskIdIn, "form", "")
	}
	if r.taskIdNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__notin", r.taskIdNotin, "form", "")
	}
	if r.taskIdLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__like", r.taskIdLike, "form", "")
	}
	if r.taskIdNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__notlike", r.taskIdNotlike, "form", "")
	}
	if r.taskIdIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__ilike", r.taskIdIlike, "form", "")
	}
	if r.taskIdNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__notilike", r.taskIdNotilike, "form", "")
	}
	if r.taskIdDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__desc", r.taskIdDesc, "form", "")
	}
	if r.taskIdAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__asc", r.taskIdAsc, "form", "")
	}
	if r.taskIdObjectDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id_object__desc", r.taskIdObjectDesc, "form", "")
	}
	if r.taskIdObjectAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id_object__asc", r.taskIdObjectAsc, "form", "")
	}
	if r.m2mRuleTriggerJobIdEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "m2m_rule_trigger_job_id__eq", r.m2mRuleTriggerJobIdEq, "form", "")
	}
	if r.m2mRuleTriggerJobIdNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "m2m_rule_trigger_job_id__ne", r.m2mRuleTriggerJobIdNe, "form", "")
	}
	if r.m2mRuleTriggerJobIdGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "m2m_rule_trigger_job_id__gt", r.m2mRuleTriggerJobIdGt, "form", "")
	}
	if r.m2mRuleTriggerJobIdGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "m2m_rule_trigger_job_id__gte", r.m2mRuleTriggerJobIdGte, "form", "")
	}
	if r.m2mRuleTriggerJobIdLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "m2m_rule_trigger_job_id__lt", r.m2mRuleTriggerJobIdLt, "form", "")
	}
	if r.m2mRuleTriggerJobIdLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "m2m_rule_trigger_job_id__lte", r.m2mRuleTriggerJobIdLte, "form", "")
	}
	if r.m2mRuleTriggerJobIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "m2m_rule_trigger_job_id__in", r.m2mRuleTriggerJobIdIn, "form", "")
	}
	if r.m2mRuleTriggerJobIdNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "m2m_rule_trigger_job_id__notin", r.m2mRuleTriggerJobIdNotin, "form", "")
	}
	if r.m2mRuleTriggerJobIdLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "m2m_rule_trigger_job_id__like", r.m2mRuleTriggerJobIdLike, "form", "")
	}
	if r.m2mRuleTriggerJobIdNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "m2m_rule_trigger_job_id__notlike", r.m2mRuleTriggerJobIdNotlike, "form", "")
	}
	if r.m2mRuleTriggerJobIdIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "m2m_rule_trigger_job_id__ilike", r.m2mRuleTriggerJobIdIlike, "form", "")
	}
	if r.m2mRuleTriggerJobIdNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "m2m_rule_trigger_job_id__notilike", r.m2mRuleTriggerJobIdNotilike, "form", "")
	}
	if r.m2mRuleTriggerJobIdDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "m2m_rule_trigger_job_id__desc", r.m2mRuleTriggerJobIdDesc, "form", "")
	}
	if r.m2mRuleTriggerJobIdAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "m2m_rule_trigger_job_id__asc", r.m2mRuleTriggerJobIdAsc, "form", "")
	}
	if r.m2mRuleTriggerJobIdObjectDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "m2m_rule_trigger_job_id_object__desc", r.m2mRuleTriggerJobIdObjectDesc, "form", "")
	}
	if r.m2mRuleTriggerJobIdObjectAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "m2m_rule_trigger_job_id_object__asc", r.m2mRuleTriggerJobIdObjectAsc, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchExecutionRequest struct {
	ctx context.Context
	ApiService *ExecutionAPIService
	primaryKey string
	execution *Execution
	depth *int64
}

func (r ApiPatchExecutionRequest) Execution(execution Execution) ApiPatchExecutionRequest {
	r.execution = &execution
	return r
}

// Query parameter depth
func (r ApiPatchExecutionRequest) Depth(depth int64) ApiPatchExecutionRequest {
	r.depth = &depth
	return r
}

func (r ApiPatchExecutionRequest) Execute() (*ResponseWithGenericOfExecution, *http.Response, error) {
	return r.ApiService.PatchExecutionExecute(r)
}

/*
PatchExecution Method for PatchExecution

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiPatchExecutionRequest
*/
func (a *ExecutionAPIService) PatchExecution(ctx context.Context, primaryKey string) ApiPatchExecutionRequest {
	return ApiPatchExecutionRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfExecution
func (a *ExecutionAPIService) PatchExecutionExecute(r ApiPatchExecutionRequest) (*ResponseWithGenericOfExecution, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfExecution
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionAPIService.PatchExecution")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/executions/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.execution == nil {
		return localVarReturnValue, nil, reportError("execution is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.execution
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostExecutionsRequest struct {
	ctx context.Context
	ApiService *ExecutionAPIService
	execution *[]Execution
	depth *int64
}

func (r ApiPostExecutionsRequest) Execution(execution []Execution) ApiPostExecutionsRequest {
	r.execution = &execution
	return r
}

// Query parameter depth
func (r ApiPostExecutionsRequest) Depth(depth int64) ApiPostExecutionsRequest {
	r.depth = &depth
	return r
}

func (r ApiPostExecutionsRequest) Execute() (*ResponseWithGenericOfExecution, *http.Response, error) {
	return r.ApiService.PostExecutionsExecute(r)
}

/*
PostExecutions Method for PostExecutions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostExecutionsRequest
*/
func (a *ExecutionAPIService) PostExecutions(ctx context.Context) ApiPostExecutionsRequest {
	return ApiPostExecutionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfExecution
func (a *ExecutionAPIService) PostExecutionsExecute(r ApiPostExecutionsRequest) (*ResponseWithGenericOfExecution, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfExecution
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionAPIService.PostExecutions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/executions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.execution == nil {
		return localVarReturnValue, nil, reportError("execution is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.execution
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
