/*
Djangolang

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// JobAPIService JobAPI service
type JobAPIService service

type ApiDeleteJobRequest struct {
	ctx context.Context
	ApiService *JobAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiDeleteJobRequest) Depth(depth int64) ApiDeleteJobRequest {
	r.depth = &depth
	return r
}

func (r ApiDeleteJobRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteJobExecute(r)
}

/*
DeleteJob Method for DeleteJob

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiDeleteJobRequest
*/
func (a *JobAPIService) DeleteJob(ctx context.Context, primaryKey string) ApiDeleteJobRequest {
	return ApiDeleteJobRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
func (a *JobAPIService) DeleteJobExecute(r ApiDeleteJobRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobAPIService.DeleteJob")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/jobs/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetJobRequest struct {
	ctx context.Context
	ApiService *JobAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiGetJobRequest) Depth(depth int64) ApiGetJobRequest {
	r.depth = &depth
	return r
}

func (r ApiGetJobRequest) Execute() (*ResponseWithGenericOfJob, *http.Response, error) {
	return r.ApiService.GetJobExecute(r)
}

/*
GetJob Method for GetJob

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiGetJobRequest
*/
func (a *JobAPIService) GetJob(ctx context.Context, primaryKey string) ApiGetJobRequest {
	return ApiGetJobRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfJob
func (a *JobAPIService) GetJobExecute(r ApiGetJobRequest) (*ResponseWithGenericOfJob, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfJob
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobAPIService.GetJob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/jobs/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetJobsRequest struct {
	ctx context.Context
	ApiService *JobAPIService
	limit *int32
	offset *int32
	depth *int32
	repositoryLoad *string
	referencedByDependsOnLoad *string
	referencedByExecutionLoad *string
	referencedByTaskLoad *string
	idEq *string
	idNe *string
	idGt *string
	idGte *string
	idLt *string
	idLte *string
	idIn *string
	idNotin *string
	idContains *string
	idNotcontains *string
	idLike *string
	idNotlike *string
	idIlike *string
	idNotilike *string
	idDesc *string
	idAsc *string
	createdAtEq *time.Time
	createdAtNe *time.Time
	createdAtGt *time.Time
	createdAtGte *time.Time
	createdAtLt *time.Time
	createdAtLte *time.Time
	createdAtIn *time.Time
	createdAtNotin *time.Time
	createdAtContains *time.Time
	createdAtNotcontains *time.Time
	createdAtLike *time.Time
	createdAtNotlike *time.Time
	createdAtIlike *time.Time
	createdAtNotilike *time.Time
	createdAtDesc *string
	createdAtAsc *string
	updatedAtEq *time.Time
	updatedAtNe *time.Time
	updatedAtGt *time.Time
	updatedAtGte *time.Time
	updatedAtLt *time.Time
	updatedAtLte *time.Time
	updatedAtIn *time.Time
	updatedAtNotin *time.Time
	updatedAtContains *time.Time
	updatedAtNotcontains *time.Time
	updatedAtLike *time.Time
	updatedAtNotlike *time.Time
	updatedAtIlike *time.Time
	updatedAtNotilike *time.Time
	updatedAtDesc *string
	updatedAtAsc *string
	deletedAtEq *time.Time
	deletedAtNe *time.Time
	deletedAtGt *time.Time
	deletedAtGte *time.Time
	deletedAtLt *time.Time
	deletedAtLte *time.Time
	deletedAtIn *time.Time
	deletedAtNotin *time.Time
	deletedAtContains *time.Time
	deletedAtNotcontains *time.Time
	deletedAtLike *time.Time
	deletedAtNotlike *time.Time
	deletedAtIlike *time.Time
	deletedAtNotilike *time.Time
	deletedAtDesc *string
	deletedAtAsc *string
	nameEq *string
	nameNe *string
	nameGt *string
	nameGte *string
	nameLt *string
	nameLte *string
	nameIn *string
	nameNotin *string
	nameContains *string
	nameNotcontains *string
	nameLike *string
	nameNotlike *string
	nameIlike *string
	nameNotilike *string
	nameDesc *string
	nameAsc *string
	branchesEq *string
	branchesNe *string
	branchesGt *string
	branchesGte *string
	branchesLt *string
	branchesLte *string
	branchesIn *string
	branchesNotin *string
	branchesContains *string
	branchesNotcontains *string
	branchesLike *string
	branchesNotlike *string
	branchesIlike *string
	branchesNotilike *string
	branchesDesc *string
	branchesAsc *string
	tagsEq *string
	tagsNe *string
	tagsGt *string
	tagsGte *string
	tagsLt *string
	tagsLte *string
	tagsIn *string
	tagsNotin *string
	tagsContains *string
	tagsNotcontains *string
	tagsLike *string
	tagsNotlike *string
	tagsIlike *string
	tagsNotilike *string
	tagsDesc *string
	tagsAsc *string
	repositoryIdEq *string
	repositoryIdNe *string
	repositoryIdGt *string
	repositoryIdGte *string
	repositoryIdLt *string
	repositoryIdLte *string
	repositoryIdIn *string
	repositoryIdNotin *string
	repositoryIdContains *string
	repositoryIdNotcontains *string
	repositoryIdLike *string
	repositoryIdNotlike *string
	repositoryIdIlike *string
	repositoryIdNotilike *string
	repositoryIdDesc *string
	repositoryIdAsc *string
	repositoryIdObjectContains *interface{}
	repositoryIdObjectNotcontains *interface{}
	repositoryIdObjectDesc *string
	repositoryIdObjectAsc *string
	referencedByDependsOnSourceJobIdObjectsContains *interface{}
	referencedByDependsOnSourceJobIdObjectsNotcontains *interface{}
	referencedByDependsOnSourceJobIdObjectsDesc *string
	referencedByDependsOnSourceJobIdObjectsAsc *string
	referencedByDependsOnSinkJobIdObjectsContains *interface{}
	referencedByDependsOnSinkJobIdObjectsNotcontains *interface{}
	referencedByDependsOnSinkJobIdObjectsDesc *string
	referencedByDependsOnSinkJobIdObjectsAsc *string
	referencedByExecutionJobIdObjectsContains *interface{}
	referencedByExecutionJobIdObjectsNotcontains *interface{}
	referencedByExecutionJobIdObjectsDesc *string
	referencedByExecutionJobIdObjectsAsc *string
	referencedByTaskJobIdObjectsContains *interface{}
	referencedByTaskJobIdObjectsNotcontains *interface{}
	referencedByTaskJobIdObjectsDesc *string
	referencedByTaskJobIdObjectsAsc *string
}

// SQL LIMIT operator
func (r ApiGetJobsRequest) Limit(limit int32) ApiGetJobsRequest {
	r.limit = &limit
	return r
}

// SQL OFFSET operator
func (r ApiGetJobsRequest) Offset(offset int32) ApiGetJobsRequest {
	r.offset = &offset
	return r
}

// Max recursion depth for loading foreign objects; default &#x3D; 1  (0 &#x3D; recurse until graph cycle detected, 1 &#x3D; this object only, 2 &#x3D; this object + neighbours, 3 &#x3D; this object + neighbours + their neighbours... etc)
func (r ApiGetJobsRequest) Depth(depth int32) ApiGetJobsRequest {
	r.depth = &depth
	return r
}

// load the given directly related object, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) RepositoryLoad(repositoryLoad string) ApiGetJobsRequest {
	r.repositoryLoad = &repositoryLoad
	return r
}

// load the given indirectly related objects, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) ReferencedByDependsOnLoad(referencedByDependsOnLoad string) ApiGetJobsRequest {
	r.referencedByDependsOnLoad = &referencedByDependsOnLoad
	return r
}

// load the given indirectly related objects, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) ReferencedByExecutionLoad(referencedByExecutionLoad string) ApiGetJobsRequest {
	r.referencedByExecutionLoad = &referencedByExecutionLoad
	return r
}

// load the given indirectly related objects, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) ReferencedByTaskLoad(referencedByTaskLoad string) ApiGetJobsRequest {
	r.referencedByTaskLoad = &referencedByTaskLoad
	return r
}

// SQL &#x3D; comparison
func (r ApiGetJobsRequest) IdEq(idEq string) ApiGetJobsRequest {
	r.idEq = &idEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetJobsRequest) IdNe(idNe string) ApiGetJobsRequest {
	r.idNe = &idNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetJobsRequest) IdGt(idGt string) ApiGetJobsRequest {
	r.idGt = &idGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) IdGte(idGte string) ApiGetJobsRequest {
	r.idGte = &idGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetJobsRequest) IdLt(idLt string) ApiGetJobsRequest {
	r.idLt = &idLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) IdLte(idLte string) ApiGetJobsRequest {
	r.idLte = &idLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) IdIn(idIn string) ApiGetJobsRequest {
	r.idIn = &idIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) IdNotin(idNotin string) ApiGetJobsRequest {
	r.idNotin = &idNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetJobsRequest) IdContains(idContains string) ApiGetJobsRequest {
	r.idContains = &idContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetJobsRequest) IdNotcontains(idNotcontains string) ApiGetJobsRequest {
	r.idNotcontains = &idNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) IdLike(idLike string) ApiGetJobsRequest {
	r.idLike = &idLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) IdNotlike(idNotlike string) ApiGetJobsRequest {
	r.idNotlike = &idNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) IdIlike(idIlike string) ApiGetJobsRequest {
	r.idIlike = &idIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) IdNotilike(idNotilike string) ApiGetJobsRequest {
	r.idNotilike = &idNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) IdDesc(idDesc string) ApiGetJobsRequest {
	r.idDesc = &idDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) IdAsc(idAsc string) ApiGetJobsRequest {
	r.idAsc = &idAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetJobsRequest) CreatedAtEq(createdAtEq time.Time) ApiGetJobsRequest {
	r.createdAtEq = &createdAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetJobsRequest) CreatedAtNe(createdAtNe time.Time) ApiGetJobsRequest {
	r.createdAtNe = &createdAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetJobsRequest) CreatedAtGt(createdAtGt time.Time) ApiGetJobsRequest {
	r.createdAtGt = &createdAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) CreatedAtGte(createdAtGte time.Time) ApiGetJobsRequest {
	r.createdAtGte = &createdAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetJobsRequest) CreatedAtLt(createdAtLt time.Time) ApiGetJobsRequest {
	r.createdAtLt = &createdAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) CreatedAtLte(createdAtLte time.Time) ApiGetJobsRequest {
	r.createdAtLte = &createdAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) CreatedAtIn(createdAtIn time.Time) ApiGetJobsRequest {
	r.createdAtIn = &createdAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) CreatedAtNotin(createdAtNotin time.Time) ApiGetJobsRequest {
	r.createdAtNotin = &createdAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetJobsRequest) CreatedAtContains(createdAtContains time.Time) ApiGetJobsRequest {
	r.createdAtContains = &createdAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetJobsRequest) CreatedAtNotcontains(createdAtNotcontains time.Time) ApiGetJobsRequest {
	r.createdAtNotcontains = &createdAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) CreatedAtLike(createdAtLike time.Time) ApiGetJobsRequest {
	r.createdAtLike = &createdAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) CreatedAtNotlike(createdAtNotlike time.Time) ApiGetJobsRequest {
	r.createdAtNotlike = &createdAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) CreatedAtIlike(createdAtIlike time.Time) ApiGetJobsRequest {
	r.createdAtIlike = &createdAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) CreatedAtNotilike(createdAtNotilike time.Time) ApiGetJobsRequest {
	r.createdAtNotilike = &createdAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) CreatedAtDesc(createdAtDesc string) ApiGetJobsRequest {
	r.createdAtDesc = &createdAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) CreatedAtAsc(createdAtAsc string) ApiGetJobsRequest {
	r.createdAtAsc = &createdAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetJobsRequest) UpdatedAtEq(updatedAtEq time.Time) ApiGetJobsRequest {
	r.updatedAtEq = &updatedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetJobsRequest) UpdatedAtNe(updatedAtNe time.Time) ApiGetJobsRequest {
	r.updatedAtNe = &updatedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetJobsRequest) UpdatedAtGt(updatedAtGt time.Time) ApiGetJobsRequest {
	r.updatedAtGt = &updatedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) UpdatedAtGte(updatedAtGte time.Time) ApiGetJobsRequest {
	r.updatedAtGte = &updatedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetJobsRequest) UpdatedAtLt(updatedAtLt time.Time) ApiGetJobsRequest {
	r.updatedAtLt = &updatedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) UpdatedAtLte(updatedAtLte time.Time) ApiGetJobsRequest {
	r.updatedAtLte = &updatedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) UpdatedAtIn(updatedAtIn time.Time) ApiGetJobsRequest {
	r.updatedAtIn = &updatedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) UpdatedAtNotin(updatedAtNotin time.Time) ApiGetJobsRequest {
	r.updatedAtNotin = &updatedAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetJobsRequest) UpdatedAtContains(updatedAtContains time.Time) ApiGetJobsRequest {
	r.updatedAtContains = &updatedAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetJobsRequest) UpdatedAtNotcontains(updatedAtNotcontains time.Time) ApiGetJobsRequest {
	r.updatedAtNotcontains = &updatedAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) UpdatedAtLike(updatedAtLike time.Time) ApiGetJobsRequest {
	r.updatedAtLike = &updatedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) UpdatedAtNotlike(updatedAtNotlike time.Time) ApiGetJobsRequest {
	r.updatedAtNotlike = &updatedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) UpdatedAtIlike(updatedAtIlike time.Time) ApiGetJobsRequest {
	r.updatedAtIlike = &updatedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) UpdatedAtNotilike(updatedAtNotilike time.Time) ApiGetJobsRequest {
	r.updatedAtNotilike = &updatedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) UpdatedAtDesc(updatedAtDesc string) ApiGetJobsRequest {
	r.updatedAtDesc = &updatedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) UpdatedAtAsc(updatedAtAsc string) ApiGetJobsRequest {
	r.updatedAtAsc = &updatedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetJobsRequest) DeletedAtEq(deletedAtEq time.Time) ApiGetJobsRequest {
	r.deletedAtEq = &deletedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetJobsRequest) DeletedAtNe(deletedAtNe time.Time) ApiGetJobsRequest {
	r.deletedAtNe = &deletedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetJobsRequest) DeletedAtGt(deletedAtGt time.Time) ApiGetJobsRequest {
	r.deletedAtGt = &deletedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) DeletedAtGte(deletedAtGte time.Time) ApiGetJobsRequest {
	r.deletedAtGte = &deletedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetJobsRequest) DeletedAtLt(deletedAtLt time.Time) ApiGetJobsRequest {
	r.deletedAtLt = &deletedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) DeletedAtLte(deletedAtLte time.Time) ApiGetJobsRequest {
	r.deletedAtLte = &deletedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) DeletedAtIn(deletedAtIn time.Time) ApiGetJobsRequest {
	r.deletedAtIn = &deletedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) DeletedAtNotin(deletedAtNotin time.Time) ApiGetJobsRequest {
	r.deletedAtNotin = &deletedAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetJobsRequest) DeletedAtContains(deletedAtContains time.Time) ApiGetJobsRequest {
	r.deletedAtContains = &deletedAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetJobsRequest) DeletedAtNotcontains(deletedAtNotcontains time.Time) ApiGetJobsRequest {
	r.deletedAtNotcontains = &deletedAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) DeletedAtLike(deletedAtLike time.Time) ApiGetJobsRequest {
	r.deletedAtLike = &deletedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) DeletedAtNotlike(deletedAtNotlike time.Time) ApiGetJobsRequest {
	r.deletedAtNotlike = &deletedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) DeletedAtIlike(deletedAtIlike time.Time) ApiGetJobsRequest {
	r.deletedAtIlike = &deletedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) DeletedAtNotilike(deletedAtNotilike time.Time) ApiGetJobsRequest {
	r.deletedAtNotilike = &deletedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) DeletedAtDesc(deletedAtDesc string) ApiGetJobsRequest {
	r.deletedAtDesc = &deletedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) DeletedAtAsc(deletedAtAsc string) ApiGetJobsRequest {
	r.deletedAtAsc = &deletedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetJobsRequest) NameEq(nameEq string) ApiGetJobsRequest {
	r.nameEq = &nameEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetJobsRequest) NameNe(nameNe string) ApiGetJobsRequest {
	r.nameNe = &nameNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetJobsRequest) NameGt(nameGt string) ApiGetJobsRequest {
	r.nameGt = &nameGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) NameGte(nameGte string) ApiGetJobsRequest {
	r.nameGte = &nameGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetJobsRequest) NameLt(nameLt string) ApiGetJobsRequest {
	r.nameLt = &nameLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) NameLte(nameLte string) ApiGetJobsRequest {
	r.nameLte = &nameLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) NameIn(nameIn string) ApiGetJobsRequest {
	r.nameIn = &nameIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) NameNotin(nameNotin string) ApiGetJobsRequest {
	r.nameNotin = &nameNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetJobsRequest) NameContains(nameContains string) ApiGetJobsRequest {
	r.nameContains = &nameContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetJobsRequest) NameNotcontains(nameNotcontains string) ApiGetJobsRequest {
	r.nameNotcontains = &nameNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) NameLike(nameLike string) ApiGetJobsRequest {
	r.nameLike = &nameLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) NameNotlike(nameNotlike string) ApiGetJobsRequest {
	r.nameNotlike = &nameNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) NameIlike(nameIlike string) ApiGetJobsRequest {
	r.nameIlike = &nameIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) NameNotilike(nameNotilike string) ApiGetJobsRequest {
	r.nameNotilike = &nameNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) NameDesc(nameDesc string) ApiGetJobsRequest {
	r.nameDesc = &nameDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) NameAsc(nameAsc string) ApiGetJobsRequest {
	r.nameAsc = &nameAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetJobsRequest) BranchesEq(branchesEq string) ApiGetJobsRequest {
	r.branchesEq = &branchesEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetJobsRequest) BranchesNe(branchesNe string) ApiGetJobsRequest {
	r.branchesNe = &branchesNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetJobsRequest) BranchesGt(branchesGt string) ApiGetJobsRequest {
	r.branchesGt = &branchesGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) BranchesGte(branchesGte string) ApiGetJobsRequest {
	r.branchesGte = &branchesGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetJobsRequest) BranchesLt(branchesLt string) ApiGetJobsRequest {
	r.branchesLt = &branchesLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) BranchesLte(branchesLte string) ApiGetJobsRequest {
	r.branchesLte = &branchesLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) BranchesIn(branchesIn string) ApiGetJobsRequest {
	r.branchesIn = &branchesIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) BranchesNotin(branchesNotin string) ApiGetJobsRequest {
	r.branchesNotin = &branchesNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetJobsRequest) BranchesContains(branchesContains string) ApiGetJobsRequest {
	r.branchesContains = &branchesContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetJobsRequest) BranchesNotcontains(branchesNotcontains string) ApiGetJobsRequest {
	r.branchesNotcontains = &branchesNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) BranchesLike(branchesLike string) ApiGetJobsRequest {
	r.branchesLike = &branchesLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) BranchesNotlike(branchesNotlike string) ApiGetJobsRequest {
	r.branchesNotlike = &branchesNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) BranchesIlike(branchesIlike string) ApiGetJobsRequest {
	r.branchesIlike = &branchesIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) BranchesNotilike(branchesNotilike string) ApiGetJobsRequest {
	r.branchesNotilike = &branchesNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) BranchesDesc(branchesDesc string) ApiGetJobsRequest {
	r.branchesDesc = &branchesDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) BranchesAsc(branchesAsc string) ApiGetJobsRequest {
	r.branchesAsc = &branchesAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetJobsRequest) TagsEq(tagsEq string) ApiGetJobsRequest {
	r.tagsEq = &tagsEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetJobsRequest) TagsNe(tagsNe string) ApiGetJobsRequest {
	r.tagsNe = &tagsNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetJobsRequest) TagsGt(tagsGt string) ApiGetJobsRequest {
	r.tagsGt = &tagsGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) TagsGte(tagsGte string) ApiGetJobsRequest {
	r.tagsGte = &tagsGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetJobsRequest) TagsLt(tagsLt string) ApiGetJobsRequest {
	r.tagsLt = &tagsLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) TagsLte(tagsLte string) ApiGetJobsRequest {
	r.tagsLte = &tagsLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) TagsIn(tagsIn string) ApiGetJobsRequest {
	r.tagsIn = &tagsIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) TagsNotin(tagsNotin string) ApiGetJobsRequest {
	r.tagsNotin = &tagsNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetJobsRequest) TagsContains(tagsContains string) ApiGetJobsRequest {
	r.tagsContains = &tagsContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetJobsRequest) TagsNotcontains(tagsNotcontains string) ApiGetJobsRequest {
	r.tagsNotcontains = &tagsNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) TagsLike(tagsLike string) ApiGetJobsRequest {
	r.tagsLike = &tagsLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) TagsNotlike(tagsNotlike string) ApiGetJobsRequest {
	r.tagsNotlike = &tagsNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) TagsIlike(tagsIlike string) ApiGetJobsRequest {
	r.tagsIlike = &tagsIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) TagsNotilike(tagsNotilike string) ApiGetJobsRequest {
	r.tagsNotilike = &tagsNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) TagsDesc(tagsDesc string) ApiGetJobsRequest {
	r.tagsDesc = &tagsDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) TagsAsc(tagsAsc string) ApiGetJobsRequest {
	r.tagsAsc = &tagsAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetJobsRequest) RepositoryIdEq(repositoryIdEq string) ApiGetJobsRequest {
	r.repositoryIdEq = &repositoryIdEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetJobsRequest) RepositoryIdNe(repositoryIdNe string) ApiGetJobsRequest {
	r.repositoryIdNe = &repositoryIdNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetJobsRequest) RepositoryIdGt(repositoryIdGt string) ApiGetJobsRequest {
	r.repositoryIdGt = &repositoryIdGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) RepositoryIdGte(repositoryIdGte string) ApiGetJobsRequest {
	r.repositoryIdGte = &repositoryIdGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetJobsRequest) RepositoryIdLt(repositoryIdLt string) ApiGetJobsRequest {
	r.repositoryIdLt = &repositoryIdLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) RepositoryIdLte(repositoryIdLte string) ApiGetJobsRequest {
	r.repositoryIdLte = &repositoryIdLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) RepositoryIdIn(repositoryIdIn string) ApiGetJobsRequest {
	r.repositoryIdIn = &repositoryIdIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) RepositoryIdNotin(repositoryIdNotin string) ApiGetJobsRequest {
	r.repositoryIdNotin = &repositoryIdNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetJobsRequest) RepositoryIdContains(repositoryIdContains string) ApiGetJobsRequest {
	r.repositoryIdContains = &repositoryIdContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetJobsRequest) RepositoryIdNotcontains(repositoryIdNotcontains string) ApiGetJobsRequest {
	r.repositoryIdNotcontains = &repositoryIdNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) RepositoryIdLike(repositoryIdLike string) ApiGetJobsRequest {
	r.repositoryIdLike = &repositoryIdLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) RepositoryIdNotlike(repositoryIdNotlike string) ApiGetJobsRequest {
	r.repositoryIdNotlike = &repositoryIdNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) RepositoryIdIlike(repositoryIdIlike string) ApiGetJobsRequest {
	r.repositoryIdIlike = &repositoryIdIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) RepositoryIdNotilike(repositoryIdNotilike string) ApiGetJobsRequest {
	r.repositoryIdNotilike = &repositoryIdNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) RepositoryIdDesc(repositoryIdDesc string) ApiGetJobsRequest {
	r.repositoryIdDesc = &repositoryIdDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) RepositoryIdAsc(repositoryIdAsc string) ApiGetJobsRequest {
	r.repositoryIdAsc = &repositoryIdAsc
	return r
}

// SQL @&gt; comparison
func (r ApiGetJobsRequest) RepositoryIdObjectContains(repositoryIdObjectContains interface{}) ApiGetJobsRequest {
	r.repositoryIdObjectContains = &repositoryIdObjectContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetJobsRequest) RepositoryIdObjectNotcontains(repositoryIdObjectNotcontains interface{}) ApiGetJobsRequest {
	r.repositoryIdObjectNotcontains = &repositoryIdObjectNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) RepositoryIdObjectDesc(repositoryIdObjectDesc string) ApiGetJobsRequest {
	r.repositoryIdObjectDesc = &repositoryIdObjectDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) RepositoryIdObjectAsc(repositoryIdObjectAsc string) ApiGetJobsRequest {
	r.repositoryIdObjectAsc = &repositoryIdObjectAsc
	return r
}

// SQL @&gt; comparison
func (r ApiGetJobsRequest) ReferencedByDependsOnSourceJobIdObjectsContains(referencedByDependsOnSourceJobIdObjectsContains interface{}) ApiGetJobsRequest {
	r.referencedByDependsOnSourceJobIdObjectsContains = &referencedByDependsOnSourceJobIdObjectsContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetJobsRequest) ReferencedByDependsOnSourceJobIdObjectsNotcontains(referencedByDependsOnSourceJobIdObjectsNotcontains interface{}) ApiGetJobsRequest {
	r.referencedByDependsOnSourceJobIdObjectsNotcontains = &referencedByDependsOnSourceJobIdObjectsNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) ReferencedByDependsOnSourceJobIdObjectsDesc(referencedByDependsOnSourceJobIdObjectsDesc string) ApiGetJobsRequest {
	r.referencedByDependsOnSourceJobIdObjectsDesc = &referencedByDependsOnSourceJobIdObjectsDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) ReferencedByDependsOnSourceJobIdObjectsAsc(referencedByDependsOnSourceJobIdObjectsAsc string) ApiGetJobsRequest {
	r.referencedByDependsOnSourceJobIdObjectsAsc = &referencedByDependsOnSourceJobIdObjectsAsc
	return r
}

// SQL @&gt; comparison
func (r ApiGetJobsRequest) ReferencedByDependsOnSinkJobIdObjectsContains(referencedByDependsOnSinkJobIdObjectsContains interface{}) ApiGetJobsRequest {
	r.referencedByDependsOnSinkJobIdObjectsContains = &referencedByDependsOnSinkJobIdObjectsContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetJobsRequest) ReferencedByDependsOnSinkJobIdObjectsNotcontains(referencedByDependsOnSinkJobIdObjectsNotcontains interface{}) ApiGetJobsRequest {
	r.referencedByDependsOnSinkJobIdObjectsNotcontains = &referencedByDependsOnSinkJobIdObjectsNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) ReferencedByDependsOnSinkJobIdObjectsDesc(referencedByDependsOnSinkJobIdObjectsDesc string) ApiGetJobsRequest {
	r.referencedByDependsOnSinkJobIdObjectsDesc = &referencedByDependsOnSinkJobIdObjectsDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) ReferencedByDependsOnSinkJobIdObjectsAsc(referencedByDependsOnSinkJobIdObjectsAsc string) ApiGetJobsRequest {
	r.referencedByDependsOnSinkJobIdObjectsAsc = &referencedByDependsOnSinkJobIdObjectsAsc
	return r
}

// SQL @&gt; comparison
func (r ApiGetJobsRequest) ReferencedByExecutionJobIdObjectsContains(referencedByExecutionJobIdObjectsContains interface{}) ApiGetJobsRequest {
	r.referencedByExecutionJobIdObjectsContains = &referencedByExecutionJobIdObjectsContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetJobsRequest) ReferencedByExecutionJobIdObjectsNotcontains(referencedByExecutionJobIdObjectsNotcontains interface{}) ApiGetJobsRequest {
	r.referencedByExecutionJobIdObjectsNotcontains = &referencedByExecutionJobIdObjectsNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) ReferencedByExecutionJobIdObjectsDesc(referencedByExecutionJobIdObjectsDesc string) ApiGetJobsRequest {
	r.referencedByExecutionJobIdObjectsDesc = &referencedByExecutionJobIdObjectsDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) ReferencedByExecutionJobIdObjectsAsc(referencedByExecutionJobIdObjectsAsc string) ApiGetJobsRequest {
	r.referencedByExecutionJobIdObjectsAsc = &referencedByExecutionJobIdObjectsAsc
	return r
}

// SQL @&gt; comparison
func (r ApiGetJobsRequest) ReferencedByTaskJobIdObjectsContains(referencedByTaskJobIdObjectsContains interface{}) ApiGetJobsRequest {
	r.referencedByTaskJobIdObjectsContains = &referencedByTaskJobIdObjectsContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetJobsRequest) ReferencedByTaskJobIdObjectsNotcontains(referencedByTaskJobIdObjectsNotcontains interface{}) ApiGetJobsRequest {
	r.referencedByTaskJobIdObjectsNotcontains = &referencedByTaskJobIdObjectsNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) ReferencedByTaskJobIdObjectsDesc(referencedByTaskJobIdObjectsDesc string) ApiGetJobsRequest {
	r.referencedByTaskJobIdObjectsDesc = &referencedByTaskJobIdObjectsDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) ReferencedByTaskJobIdObjectsAsc(referencedByTaskJobIdObjectsAsc string) ApiGetJobsRequest {
	r.referencedByTaskJobIdObjectsAsc = &referencedByTaskJobIdObjectsAsc
	return r
}

func (r ApiGetJobsRequest) Execute() (*ResponseWithGenericOfJob, *http.Response, error) {
	return r.ApiService.GetJobsExecute(r)
}

/*
GetJobs Method for GetJobs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetJobsRequest
*/
func (a *JobAPIService) GetJobs(ctx context.Context) ApiGetJobsRequest {
	return ApiGetJobsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfJob
func (a *JobAPIService) GetJobsExecute(r ApiGetJobsRequest) (*ResponseWithGenericOfJob, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfJob
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobAPIService.GetJobs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/jobs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	if r.repositoryLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository__load", r.repositoryLoad, "form", "")
	}
	if r.referencedByDependsOnLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_depends_on__load", r.referencedByDependsOnLoad, "form", "")
	}
	if r.referencedByExecutionLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_execution__load", r.referencedByExecutionLoad, "form", "")
	}
	if r.referencedByTaskLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_task__load", r.referencedByTaskLoad, "form", "")
	}
	if r.idEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__eq", r.idEq, "form", "")
	}
	if r.idNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ne", r.idNe, "form", "")
	}
	if r.idGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gt", r.idGt, "form", "")
	}
	if r.idGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gte", r.idGte, "form", "")
	}
	if r.idLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lt", r.idLt, "form", "")
	}
	if r.idLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lte", r.idLte, "form", "")
	}
	if r.idIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__in", r.idIn, "form", "")
	}
	if r.idNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notin", r.idNotin, "form", "")
	}
	if r.idContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__contains", r.idContains, "form", "")
	}
	if r.idNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notcontains", r.idNotcontains, "form", "")
	}
	if r.idLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__like", r.idLike, "form", "")
	}
	if r.idNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notlike", r.idNotlike, "form", "")
	}
	if r.idIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ilike", r.idIlike, "form", "")
	}
	if r.idNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notilike", r.idNotilike, "form", "")
	}
	if r.idDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__desc", r.idDesc, "form", "")
	}
	if r.idAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__asc", r.idAsc, "form", "")
	}
	if r.createdAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__eq", r.createdAtEq, "form", "")
	}
	if r.createdAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ne", r.createdAtNe, "form", "")
	}
	if r.createdAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gt", r.createdAtGt, "form", "")
	}
	if r.createdAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gte", r.createdAtGte, "form", "")
	}
	if r.createdAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lt", r.createdAtLt, "form", "")
	}
	if r.createdAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lte", r.createdAtLte, "form", "")
	}
	if r.createdAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__in", r.createdAtIn, "form", "")
	}
	if r.createdAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notin", r.createdAtNotin, "form", "")
	}
	if r.createdAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__contains", r.createdAtContains, "form", "")
	}
	if r.createdAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notcontains", r.createdAtNotcontains, "form", "")
	}
	if r.createdAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__like", r.createdAtLike, "form", "")
	}
	if r.createdAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notlike", r.createdAtNotlike, "form", "")
	}
	if r.createdAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ilike", r.createdAtIlike, "form", "")
	}
	if r.createdAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notilike", r.createdAtNotilike, "form", "")
	}
	if r.createdAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__desc", r.createdAtDesc, "form", "")
	}
	if r.createdAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__asc", r.createdAtAsc, "form", "")
	}
	if r.updatedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__eq", r.updatedAtEq, "form", "")
	}
	if r.updatedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ne", r.updatedAtNe, "form", "")
	}
	if r.updatedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gt", r.updatedAtGt, "form", "")
	}
	if r.updatedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gte", r.updatedAtGte, "form", "")
	}
	if r.updatedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lt", r.updatedAtLt, "form", "")
	}
	if r.updatedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lte", r.updatedAtLte, "form", "")
	}
	if r.updatedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__in", r.updatedAtIn, "form", "")
	}
	if r.updatedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notin", r.updatedAtNotin, "form", "")
	}
	if r.updatedAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__contains", r.updatedAtContains, "form", "")
	}
	if r.updatedAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notcontains", r.updatedAtNotcontains, "form", "")
	}
	if r.updatedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__like", r.updatedAtLike, "form", "")
	}
	if r.updatedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notlike", r.updatedAtNotlike, "form", "")
	}
	if r.updatedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ilike", r.updatedAtIlike, "form", "")
	}
	if r.updatedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notilike", r.updatedAtNotilike, "form", "")
	}
	if r.updatedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__desc", r.updatedAtDesc, "form", "")
	}
	if r.updatedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__asc", r.updatedAtAsc, "form", "")
	}
	if r.deletedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__eq", r.deletedAtEq, "form", "")
	}
	if r.deletedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ne", r.deletedAtNe, "form", "")
	}
	if r.deletedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gt", r.deletedAtGt, "form", "")
	}
	if r.deletedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gte", r.deletedAtGte, "form", "")
	}
	if r.deletedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lt", r.deletedAtLt, "form", "")
	}
	if r.deletedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lte", r.deletedAtLte, "form", "")
	}
	if r.deletedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__in", r.deletedAtIn, "form", "")
	}
	if r.deletedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notin", r.deletedAtNotin, "form", "")
	}
	if r.deletedAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__contains", r.deletedAtContains, "form", "")
	}
	if r.deletedAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notcontains", r.deletedAtNotcontains, "form", "")
	}
	if r.deletedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__like", r.deletedAtLike, "form", "")
	}
	if r.deletedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notlike", r.deletedAtNotlike, "form", "")
	}
	if r.deletedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ilike", r.deletedAtIlike, "form", "")
	}
	if r.deletedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notilike", r.deletedAtNotilike, "form", "")
	}
	if r.deletedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__desc", r.deletedAtDesc, "form", "")
	}
	if r.deletedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__asc", r.deletedAtAsc, "form", "")
	}
	if r.nameEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__eq", r.nameEq, "form", "")
	}
	if r.nameNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__ne", r.nameNe, "form", "")
	}
	if r.nameGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__gt", r.nameGt, "form", "")
	}
	if r.nameGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__gte", r.nameGte, "form", "")
	}
	if r.nameLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__lt", r.nameLt, "form", "")
	}
	if r.nameLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__lte", r.nameLte, "form", "")
	}
	if r.nameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__in", r.nameIn, "form", "")
	}
	if r.nameNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__notin", r.nameNotin, "form", "")
	}
	if r.nameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__contains", r.nameContains, "form", "")
	}
	if r.nameNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__notcontains", r.nameNotcontains, "form", "")
	}
	if r.nameLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__like", r.nameLike, "form", "")
	}
	if r.nameNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__notlike", r.nameNotlike, "form", "")
	}
	if r.nameIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__ilike", r.nameIlike, "form", "")
	}
	if r.nameNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__notilike", r.nameNotilike, "form", "")
	}
	if r.nameDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__desc", r.nameDesc, "form", "")
	}
	if r.nameAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__asc", r.nameAsc, "form", "")
	}
	if r.branchesEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branches__eq", r.branchesEq, "form", "")
	}
	if r.branchesNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branches__ne", r.branchesNe, "form", "")
	}
	if r.branchesGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branches__gt", r.branchesGt, "form", "")
	}
	if r.branchesGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branches__gte", r.branchesGte, "form", "")
	}
	if r.branchesLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branches__lt", r.branchesLt, "form", "")
	}
	if r.branchesLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branches__lte", r.branchesLte, "form", "")
	}
	if r.branchesIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branches__in", r.branchesIn, "form", "")
	}
	if r.branchesNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branches__notin", r.branchesNotin, "form", "")
	}
	if r.branchesContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branches__contains", r.branchesContains, "form", "")
	}
	if r.branchesNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branches__notcontains", r.branchesNotcontains, "form", "")
	}
	if r.branchesLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branches__like", r.branchesLike, "form", "")
	}
	if r.branchesNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branches__notlike", r.branchesNotlike, "form", "")
	}
	if r.branchesIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branches__ilike", r.branchesIlike, "form", "")
	}
	if r.branchesNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branches__notilike", r.branchesNotilike, "form", "")
	}
	if r.branchesDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branches__desc", r.branchesDesc, "form", "")
	}
	if r.branchesAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branches__asc", r.branchesAsc, "form", "")
	}
	if r.tagsEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags__eq", r.tagsEq, "form", "")
	}
	if r.tagsNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags__ne", r.tagsNe, "form", "")
	}
	if r.tagsGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags__gt", r.tagsGt, "form", "")
	}
	if r.tagsGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags__gte", r.tagsGte, "form", "")
	}
	if r.tagsLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags__lt", r.tagsLt, "form", "")
	}
	if r.tagsLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags__lte", r.tagsLte, "form", "")
	}
	if r.tagsIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags__in", r.tagsIn, "form", "")
	}
	if r.tagsNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags__notin", r.tagsNotin, "form", "")
	}
	if r.tagsContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags__contains", r.tagsContains, "form", "")
	}
	if r.tagsNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags__notcontains", r.tagsNotcontains, "form", "")
	}
	if r.tagsLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags__like", r.tagsLike, "form", "")
	}
	if r.tagsNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags__notlike", r.tagsNotlike, "form", "")
	}
	if r.tagsIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags__ilike", r.tagsIlike, "form", "")
	}
	if r.tagsNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags__notilike", r.tagsNotilike, "form", "")
	}
	if r.tagsDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags__desc", r.tagsDesc, "form", "")
	}
	if r.tagsAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags__asc", r.tagsAsc, "form", "")
	}
	if r.repositoryIdEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__eq", r.repositoryIdEq, "form", "")
	}
	if r.repositoryIdNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__ne", r.repositoryIdNe, "form", "")
	}
	if r.repositoryIdGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__gt", r.repositoryIdGt, "form", "")
	}
	if r.repositoryIdGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__gte", r.repositoryIdGte, "form", "")
	}
	if r.repositoryIdLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__lt", r.repositoryIdLt, "form", "")
	}
	if r.repositoryIdLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__lte", r.repositoryIdLte, "form", "")
	}
	if r.repositoryIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__in", r.repositoryIdIn, "form", "")
	}
	if r.repositoryIdNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__notin", r.repositoryIdNotin, "form", "")
	}
	if r.repositoryIdContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__contains", r.repositoryIdContains, "form", "")
	}
	if r.repositoryIdNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__notcontains", r.repositoryIdNotcontains, "form", "")
	}
	if r.repositoryIdLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__like", r.repositoryIdLike, "form", "")
	}
	if r.repositoryIdNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__notlike", r.repositoryIdNotlike, "form", "")
	}
	if r.repositoryIdIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__ilike", r.repositoryIdIlike, "form", "")
	}
	if r.repositoryIdNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__notilike", r.repositoryIdNotilike, "form", "")
	}
	if r.repositoryIdDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__desc", r.repositoryIdDesc, "form", "")
	}
	if r.repositoryIdAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id__asc", r.repositoryIdAsc, "form", "")
	}
	if r.repositoryIdObjectContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id_object__contains", r.repositoryIdObjectContains, "form", "")
	}
	if r.repositoryIdObjectNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id_object__notcontains", r.repositoryIdObjectNotcontains, "form", "")
	}
	if r.repositoryIdObjectDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id_object__desc", r.repositoryIdObjectDesc, "form", "")
	}
	if r.repositoryIdObjectAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_id_object__asc", r.repositoryIdObjectAsc, "form", "")
	}
	if r.referencedByDependsOnSourceJobIdObjectsContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_depends_on_source_job_id_objects__contains", r.referencedByDependsOnSourceJobIdObjectsContains, "form", "")
	}
	if r.referencedByDependsOnSourceJobIdObjectsNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_depends_on_source_job_id_objects__notcontains", r.referencedByDependsOnSourceJobIdObjectsNotcontains, "form", "")
	}
	if r.referencedByDependsOnSourceJobIdObjectsDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_depends_on_source_job_id_objects__desc", r.referencedByDependsOnSourceJobIdObjectsDesc, "form", "")
	}
	if r.referencedByDependsOnSourceJobIdObjectsAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_depends_on_source_job_id_objects__asc", r.referencedByDependsOnSourceJobIdObjectsAsc, "form", "")
	}
	if r.referencedByDependsOnSinkJobIdObjectsContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_depends_on_sink_job_id_objects__contains", r.referencedByDependsOnSinkJobIdObjectsContains, "form", "")
	}
	if r.referencedByDependsOnSinkJobIdObjectsNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_depends_on_sink_job_id_objects__notcontains", r.referencedByDependsOnSinkJobIdObjectsNotcontains, "form", "")
	}
	if r.referencedByDependsOnSinkJobIdObjectsDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_depends_on_sink_job_id_objects__desc", r.referencedByDependsOnSinkJobIdObjectsDesc, "form", "")
	}
	if r.referencedByDependsOnSinkJobIdObjectsAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_depends_on_sink_job_id_objects__asc", r.referencedByDependsOnSinkJobIdObjectsAsc, "form", "")
	}
	if r.referencedByExecutionJobIdObjectsContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_execution_job_id_objects__contains", r.referencedByExecutionJobIdObjectsContains, "form", "")
	}
	if r.referencedByExecutionJobIdObjectsNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_execution_job_id_objects__notcontains", r.referencedByExecutionJobIdObjectsNotcontains, "form", "")
	}
	if r.referencedByExecutionJobIdObjectsDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_execution_job_id_objects__desc", r.referencedByExecutionJobIdObjectsDesc, "form", "")
	}
	if r.referencedByExecutionJobIdObjectsAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_execution_job_id_objects__asc", r.referencedByExecutionJobIdObjectsAsc, "form", "")
	}
	if r.referencedByTaskJobIdObjectsContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_task_job_id_objects__contains", r.referencedByTaskJobIdObjectsContains, "form", "")
	}
	if r.referencedByTaskJobIdObjectsNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_task_job_id_objects__notcontains", r.referencedByTaskJobIdObjectsNotcontains, "form", "")
	}
	if r.referencedByTaskJobIdObjectsDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_task_job_id_objects__desc", r.referencedByTaskJobIdObjectsDesc, "form", "")
	}
	if r.referencedByTaskJobIdObjectsAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_task_job_id_objects__asc", r.referencedByTaskJobIdObjectsAsc, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchJobRequest struct {
	ctx context.Context
	ApiService *JobAPIService
	primaryKey string
	job *Job
	depth *int64
}

func (r ApiPatchJobRequest) Job(job Job) ApiPatchJobRequest {
	r.job = &job
	return r
}

// Query parameter depth
func (r ApiPatchJobRequest) Depth(depth int64) ApiPatchJobRequest {
	r.depth = &depth
	return r
}

func (r ApiPatchJobRequest) Execute() (*ResponseWithGenericOfJob, *http.Response, error) {
	return r.ApiService.PatchJobExecute(r)
}

/*
PatchJob Method for PatchJob

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiPatchJobRequest
*/
func (a *JobAPIService) PatchJob(ctx context.Context, primaryKey string) ApiPatchJobRequest {
	return ApiPatchJobRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfJob
func (a *JobAPIService) PatchJobExecute(r ApiPatchJobRequest) (*ResponseWithGenericOfJob, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfJob
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobAPIService.PatchJob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/jobs/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.job == nil {
		return localVarReturnValue, nil, reportError("job is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.job
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostJobsRequest struct {
	ctx context.Context
	ApiService *JobAPIService
	job *[]Job
	depth *int64
}

func (r ApiPostJobsRequest) Job(job []Job) ApiPostJobsRequest {
	r.job = &job
	return r
}

// Query parameter depth
func (r ApiPostJobsRequest) Depth(depth int64) ApiPostJobsRequest {
	r.depth = &depth
	return r
}

func (r ApiPostJobsRequest) Execute() (*ResponseWithGenericOfJob, *http.Response, error) {
	return r.ApiService.PostJobsExecute(r)
}

/*
PostJobs Method for PostJobs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostJobsRequest
*/
func (a *JobAPIService) PostJobs(ctx context.Context) ApiPostJobsRequest {
	return ApiPostJobsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfJob
func (a *JobAPIService) PostJobsExecute(r ApiPostJobsRequest) (*ResponseWithGenericOfJob, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfJob
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobAPIService.PostJobs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/jobs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.job == nil {
		return localVarReturnValue, nil, reportError("job is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.job
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
