/*
Djangolang

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// JobAPIService JobAPI service
type JobAPIService service

type ApiDeleteJobRequest struct {
	ctx context.Context
	ApiService *JobAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiDeleteJobRequest) Depth(depth int64) ApiDeleteJobRequest {
	r.depth = &depth
	return r
}

func (r ApiDeleteJobRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteJobExecute(r)
}

/*
DeleteJob Method for DeleteJob

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiDeleteJobRequest
*/
func (a *JobAPIService) DeleteJob(ctx context.Context, primaryKey string) ApiDeleteJobRequest {
	return ApiDeleteJobRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
func (a *JobAPIService) DeleteJobExecute(r ApiDeleteJobRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobAPIService.DeleteJob")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/jobs/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetJobRequest struct {
	ctx context.Context
	ApiService *JobAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiGetJobRequest) Depth(depth int64) ApiGetJobRequest {
	r.depth = &depth
	return r
}

func (r ApiGetJobRequest) Execute() (*ResponseWithGenericOfJob, *http.Response, error) {
	return r.ApiService.GetJobExecute(r)
}

/*
GetJob Method for GetJob

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiGetJobRequest
*/
func (a *JobAPIService) GetJob(ctx context.Context, primaryKey string) ApiGetJobRequest {
	return ApiGetJobRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfJob
func (a *JobAPIService) GetJobExecute(r ApiGetJobRequest) (*ResponseWithGenericOfJob, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfJob
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobAPIService.GetJob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/jobs/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetJobsRequest struct {
	ctx context.Context
	ApiService *JobAPIService
	limit *int32
	offset *int32
	depth *int32
	ruleLoad *string
	referencedByTaskLoad *string
	referencedByRuleLoad *string
	idEq *string
	idNe *string
	idGt *string
	idGte *string
	idLt *string
	idLte *string
	idIn *string
	idNotin *string
	idLike *string
	idNotlike *string
	idIlike *string
	idNotilike *string
	idDesc *string
	idAsc *string
	createdAtEq *time.Time
	createdAtNe *time.Time
	createdAtGt *time.Time
	createdAtGte *time.Time
	createdAtLt *time.Time
	createdAtLte *time.Time
	createdAtIn *time.Time
	createdAtNotin *time.Time
	createdAtLike *time.Time
	createdAtNotlike *time.Time
	createdAtIlike *time.Time
	createdAtNotilike *time.Time
	createdAtDesc *string
	createdAtAsc *string
	updatedAtEq *time.Time
	updatedAtNe *time.Time
	updatedAtGt *time.Time
	updatedAtGte *time.Time
	updatedAtLt *time.Time
	updatedAtLte *time.Time
	updatedAtIn *time.Time
	updatedAtNotin *time.Time
	updatedAtLike *time.Time
	updatedAtNotlike *time.Time
	updatedAtIlike *time.Time
	updatedAtNotilike *time.Time
	updatedAtDesc *string
	updatedAtAsc *string
	deletedAtEq *time.Time
	deletedAtNe *time.Time
	deletedAtGt *time.Time
	deletedAtGte *time.Time
	deletedAtLt *time.Time
	deletedAtLte *time.Time
	deletedAtIn *time.Time
	deletedAtNotin *time.Time
	deletedAtLike *time.Time
	deletedAtNotlike *time.Time
	deletedAtIlike *time.Time
	deletedAtNotilike *time.Time
	deletedAtDesc *string
	deletedAtAsc *string
	nameEq *string
	nameNe *string
	nameGt *string
	nameGte *string
	nameLt *string
	nameLte *string
	nameIn *string
	nameNotin *string
	nameLike *string
	nameNotlike *string
	nameIlike *string
	nameNotilike *string
	nameDesc *string
	nameAsc *string
	ruleTriggerRuleIdEq *string
	ruleTriggerRuleIdNe *string
	ruleTriggerRuleIdGt *string
	ruleTriggerRuleIdGte *string
	ruleTriggerRuleIdLt *string
	ruleTriggerRuleIdLte *string
	ruleTriggerRuleIdIn *string
	ruleTriggerRuleIdNotin *string
	ruleTriggerRuleIdLike *string
	ruleTriggerRuleIdNotlike *string
	ruleTriggerRuleIdIlike *string
	ruleTriggerRuleIdNotilike *string
	ruleTriggerRuleIdDesc *string
	ruleTriggerRuleIdAsc *string
	ruleTriggerRuleIdObjectDesc *string
	ruleTriggerRuleIdObjectAsc *string
	referencedByTaskJobIdObjectsDesc *string
	referencedByTaskJobIdObjectsAsc *string
	referencedByRuleJobTriggerJobIdObjectsDesc *string
	referencedByRuleJobTriggerJobIdObjectsAsc *string
}

// SQL LIMIT operator
func (r ApiGetJobsRequest) Limit(limit int32) ApiGetJobsRequest {
	r.limit = &limit
	return r
}

// SQL OFFSET operator
func (r ApiGetJobsRequest) Offset(offset int32) ApiGetJobsRequest {
	r.offset = &offset
	return r
}

// Max recursion depth for loading foreign objects; default &#x3D; 1  (0 &#x3D; recurse until graph cycle detected, 1 &#x3D; this object only, 2 &#x3D; this object + neighbours, 3 &#x3D; this object + neighbours + their neighbours... etc)
func (r ApiGetJobsRequest) Depth(depth int32) ApiGetJobsRequest {
	r.depth = &depth
	return r
}

// load the given directly related Djangolang object, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) RuleLoad(ruleLoad string) ApiGetJobsRequest {
	r.ruleLoad = &ruleLoad
	return r
}

// load the given indirectly related Djangolang objects, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) ReferencedByTaskLoad(referencedByTaskLoad string) ApiGetJobsRequest {
	r.referencedByTaskLoad = &referencedByTaskLoad
	return r
}

// load the given indirectly related Djangolang objects, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) ReferencedByRuleLoad(referencedByRuleLoad string) ApiGetJobsRequest {
	r.referencedByRuleLoad = &referencedByRuleLoad
	return r
}

// SQL &#x3D; comparison
func (r ApiGetJobsRequest) IdEq(idEq string) ApiGetJobsRequest {
	r.idEq = &idEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetJobsRequest) IdNe(idNe string) ApiGetJobsRequest {
	r.idNe = &idNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetJobsRequest) IdGt(idGt string) ApiGetJobsRequest {
	r.idGt = &idGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) IdGte(idGte string) ApiGetJobsRequest {
	r.idGte = &idGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetJobsRequest) IdLt(idLt string) ApiGetJobsRequest {
	r.idLt = &idLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) IdLte(idLte string) ApiGetJobsRequest {
	r.idLte = &idLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) IdIn(idIn string) ApiGetJobsRequest {
	r.idIn = &idIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) IdNotin(idNotin string) ApiGetJobsRequest {
	r.idNotin = &idNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) IdLike(idLike string) ApiGetJobsRequest {
	r.idLike = &idLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) IdNotlike(idNotlike string) ApiGetJobsRequest {
	r.idNotlike = &idNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) IdIlike(idIlike string) ApiGetJobsRequest {
	r.idIlike = &idIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) IdNotilike(idNotilike string) ApiGetJobsRequest {
	r.idNotilike = &idNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) IdDesc(idDesc string) ApiGetJobsRequest {
	r.idDesc = &idDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) IdAsc(idAsc string) ApiGetJobsRequest {
	r.idAsc = &idAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetJobsRequest) CreatedAtEq(createdAtEq time.Time) ApiGetJobsRequest {
	r.createdAtEq = &createdAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetJobsRequest) CreatedAtNe(createdAtNe time.Time) ApiGetJobsRequest {
	r.createdAtNe = &createdAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetJobsRequest) CreatedAtGt(createdAtGt time.Time) ApiGetJobsRequest {
	r.createdAtGt = &createdAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) CreatedAtGte(createdAtGte time.Time) ApiGetJobsRequest {
	r.createdAtGte = &createdAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetJobsRequest) CreatedAtLt(createdAtLt time.Time) ApiGetJobsRequest {
	r.createdAtLt = &createdAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) CreatedAtLte(createdAtLte time.Time) ApiGetJobsRequest {
	r.createdAtLte = &createdAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) CreatedAtIn(createdAtIn time.Time) ApiGetJobsRequest {
	r.createdAtIn = &createdAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) CreatedAtNotin(createdAtNotin time.Time) ApiGetJobsRequest {
	r.createdAtNotin = &createdAtNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) CreatedAtLike(createdAtLike time.Time) ApiGetJobsRequest {
	r.createdAtLike = &createdAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) CreatedAtNotlike(createdAtNotlike time.Time) ApiGetJobsRequest {
	r.createdAtNotlike = &createdAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) CreatedAtIlike(createdAtIlike time.Time) ApiGetJobsRequest {
	r.createdAtIlike = &createdAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) CreatedAtNotilike(createdAtNotilike time.Time) ApiGetJobsRequest {
	r.createdAtNotilike = &createdAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) CreatedAtDesc(createdAtDesc string) ApiGetJobsRequest {
	r.createdAtDesc = &createdAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) CreatedAtAsc(createdAtAsc string) ApiGetJobsRequest {
	r.createdAtAsc = &createdAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetJobsRequest) UpdatedAtEq(updatedAtEq time.Time) ApiGetJobsRequest {
	r.updatedAtEq = &updatedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetJobsRequest) UpdatedAtNe(updatedAtNe time.Time) ApiGetJobsRequest {
	r.updatedAtNe = &updatedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetJobsRequest) UpdatedAtGt(updatedAtGt time.Time) ApiGetJobsRequest {
	r.updatedAtGt = &updatedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) UpdatedAtGte(updatedAtGte time.Time) ApiGetJobsRequest {
	r.updatedAtGte = &updatedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetJobsRequest) UpdatedAtLt(updatedAtLt time.Time) ApiGetJobsRequest {
	r.updatedAtLt = &updatedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) UpdatedAtLte(updatedAtLte time.Time) ApiGetJobsRequest {
	r.updatedAtLte = &updatedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) UpdatedAtIn(updatedAtIn time.Time) ApiGetJobsRequest {
	r.updatedAtIn = &updatedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) UpdatedAtNotin(updatedAtNotin time.Time) ApiGetJobsRequest {
	r.updatedAtNotin = &updatedAtNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) UpdatedAtLike(updatedAtLike time.Time) ApiGetJobsRequest {
	r.updatedAtLike = &updatedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) UpdatedAtNotlike(updatedAtNotlike time.Time) ApiGetJobsRequest {
	r.updatedAtNotlike = &updatedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) UpdatedAtIlike(updatedAtIlike time.Time) ApiGetJobsRequest {
	r.updatedAtIlike = &updatedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) UpdatedAtNotilike(updatedAtNotilike time.Time) ApiGetJobsRequest {
	r.updatedAtNotilike = &updatedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) UpdatedAtDesc(updatedAtDesc string) ApiGetJobsRequest {
	r.updatedAtDesc = &updatedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) UpdatedAtAsc(updatedAtAsc string) ApiGetJobsRequest {
	r.updatedAtAsc = &updatedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetJobsRequest) DeletedAtEq(deletedAtEq time.Time) ApiGetJobsRequest {
	r.deletedAtEq = &deletedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetJobsRequest) DeletedAtNe(deletedAtNe time.Time) ApiGetJobsRequest {
	r.deletedAtNe = &deletedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetJobsRequest) DeletedAtGt(deletedAtGt time.Time) ApiGetJobsRequest {
	r.deletedAtGt = &deletedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) DeletedAtGte(deletedAtGte time.Time) ApiGetJobsRequest {
	r.deletedAtGte = &deletedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetJobsRequest) DeletedAtLt(deletedAtLt time.Time) ApiGetJobsRequest {
	r.deletedAtLt = &deletedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) DeletedAtLte(deletedAtLte time.Time) ApiGetJobsRequest {
	r.deletedAtLte = &deletedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) DeletedAtIn(deletedAtIn time.Time) ApiGetJobsRequest {
	r.deletedAtIn = &deletedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) DeletedAtNotin(deletedAtNotin time.Time) ApiGetJobsRequest {
	r.deletedAtNotin = &deletedAtNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) DeletedAtLike(deletedAtLike time.Time) ApiGetJobsRequest {
	r.deletedAtLike = &deletedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) DeletedAtNotlike(deletedAtNotlike time.Time) ApiGetJobsRequest {
	r.deletedAtNotlike = &deletedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) DeletedAtIlike(deletedAtIlike time.Time) ApiGetJobsRequest {
	r.deletedAtIlike = &deletedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) DeletedAtNotilike(deletedAtNotilike time.Time) ApiGetJobsRequest {
	r.deletedAtNotilike = &deletedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) DeletedAtDesc(deletedAtDesc string) ApiGetJobsRequest {
	r.deletedAtDesc = &deletedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) DeletedAtAsc(deletedAtAsc string) ApiGetJobsRequest {
	r.deletedAtAsc = &deletedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetJobsRequest) NameEq(nameEq string) ApiGetJobsRequest {
	r.nameEq = &nameEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetJobsRequest) NameNe(nameNe string) ApiGetJobsRequest {
	r.nameNe = &nameNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetJobsRequest) NameGt(nameGt string) ApiGetJobsRequest {
	r.nameGt = &nameGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) NameGte(nameGte string) ApiGetJobsRequest {
	r.nameGte = &nameGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetJobsRequest) NameLt(nameLt string) ApiGetJobsRequest {
	r.nameLt = &nameLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) NameLte(nameLte string) ApiGetJobsRequest {
	r.nameLte = &nameLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) NameIn(nameIn string) ApiGetJobsRequest {
	r.nameIn = &nameIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) NameNotin(nameNotin string) ApiGetJobsRequest {
	r.nameNotin = &nameNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) NameLike(nameLike string) ApiGetJobsRequest {
	r.nameLike = &nameLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) NameNotlike(nameNotlike string) ApiGetJobsRequest {
	r.nameNotlike = &nameNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) NameIlike(nameIlike string) ApiGetJobsRequest {
	r.nameIlike = &nameIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) NameNotilike(nameNotilike string) ApiGetJobsRequest {
	r.nameNotilike = &nameNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) NameDesc(nameDesc string) ApiGetJobsRequest {
	r.nameDesc = &nameDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) NameAsc(nameAsc string) ApiGetJobsRequest {
	r.nameAsc = &nameAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetJobsRequest) RuleTriggerRuleIdEq(ruleTriggerRuleIdEq string) ApiGetJobsRequest {
	r.ruleTriggerRuleIdEq = &ruleTriggerRuleIdEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetJobsRequest) RuleTriggerRuleIdNe(ruleTriggerRuleIdNe string) ApiGetJobsRequest {
	r.ruleTriggerRuleIdNe = &ruleTriggerRuleIdNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetJobsRequest) RuleTriggerRuleIdGt(ruleTriggerRuleIdGt string) ApiGetJobsRequest {
	r.ruleTriggerRuleIdGt = &ruleTriggerRuleIdGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) RuleTriggerRuleIdGte(ruleTriggerRuleIdGte string) ApiGetJobsRequest {
	r.ruleTriggerRuleIdGte = &ruleTriggerRuleIdGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetJobsRequest) RuleTriggerRuleIdLt(ruleTriggerRuleIdLt string) ApiGetJobsRequest {
	r.ruleTriggerRuleIdLt = &ruleTriggerRuleIdLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetJobsRequest) RuleTriggerRuleIdLte(ruleTriggerRuleIdLte string) ApiGetJobsRequest {
	r.ruleTriggerRuleIdLte = &ruleTriggerRuleIdLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) RuleTriggerRuleIdIn(ruleTriggerRuleIdIn string) ApiGetJobsRequest {
	r.ruleTriggerRuleIdIn = &ruleTriggerRuleIdIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetJobsRequest) RuleTriggerRuleIdNotin(ruleTriggerRuleIdNotin string) ApiGetJobsRequest {
	r.ruleTriggerRuleIdNotin = &ruleTriggerRuleIdNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) RuleTriggerRuleIdLike(ruleTriggerRuleIdLike string) ApiGetJobsRequest {
	r.ruleTriggerRuleIdLike = &ruleTriggerRuleIdLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) RuleTriggerRuleIdNotlike(ruleTriggerRuleIdNotlike string) ApiGetJobsRequest {
	r.ruleTriggerRuleIdNotlike = &ruleTriggerRuleIdNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) RuleTriggerRuleIdIlike(ruleTriggerRuleIdIlike string) ApiGetJobsRequest {
	r.ruleTriggerRuleIdIlike = &ruleTriggerRuleIdIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetJobsRequest) RuleTriggerRuleIdNotilike(ruleTriggerRuleIdNotilike string) ApiGetJobsRequest {
	r.ruleTriggerRuleIdNotilike = &ruleTriggerRuleIdNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) RuleTriggerRuleIdDesc(ruleTriggerRuleIdDesc string) ApiGetJobsRequest {
	r.ruleTriggerRuleIdDesc = &ruleTriggerRuleIdDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) RuleTriggerRuleIdAsc(ruleTriggerRuleIdAsc string) ApiGetJobsRequest {
	r.ruleTriggerRuleIdAsc = &ruleTriggerRuleIdAsc
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) RuleTriggerRuleIdObjectDesc(ruleTriggerRuleIdObjectDesc string) ApiGetJobsRequest {
	r.ruleTriggerRuleIdObjectDesc = &ruleTriggerRuleIdObjectDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) RuleTriggerRuleIdObjectAsc(ruleTriggerRuleIdObjectAsc string) ApiGetJobsRequest {
	r.ruleTriggerRuleIdObjectAsc = &ruleTriggerRuleIdObjectAsc
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) ReferencedByTaskJobIdObjectsDesc(referencedByTaskJobIdObjectsDesc string) ApiGetJobsRequest {
	r.referencedByTaskJobIdObjectsDesc = &referencedByTaskJobIdObjectsDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) ReferencedByTaskJobIdObjectsAsc(referencedByTaskJobIdObjectsAsc string) ApiGetJobsRequest {
	r.referencedByTaskJobIdObjectsAsc = &referencedByTaskJobIdObjectsAsc
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) ReferencedByRuleJobTriggerJobIdObjectsDesc(referencedByRuleJobTriggerJobIdObjectsDesc string) ApiGetJobsRequest {
	r.referencedByRuleJobTriggerJobIdObjectsDesc = &referencedByRuleJobTriggerJobIdObjectsDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetJobsRequest) ReferencedByRuleJobTriggerJobIdObjectsAsc(referencedByRuleJobTriggerJobIdObjectsAsc string) ApiGetJobsRequest {
	r.referencedByRuleJobTriggerJobIdObjectsAsc = &referencedByRuleJobTriggerJobIdObjectsAsc
	return r
}

func (r ApiGetJobsRequest) Execute() (*ResponseWithGenericOfJob, *http.Response, error) {
	return r.ApiService.GetJobsExecute(r)
}

/*
GetJobs Method for GetJobs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetJobsRequest
*/
func (a *JobAPIService) GetJobs(ctx context.Context) ApiGetJobsRequest {
	return ApiGetJobsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfJob
func (a *JobAPIService) GetJobsExecute(r ApiGetJobsRequest) (*ResponseWithGenericOfJob, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfJob
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobAPIService.GetJobs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/jobs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	if r.ruleLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rule__load", r.ruleLoad, "form", "")
	}
	if r.referencedByTaskLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_task__load", r.referencedByTaskLoad, "form", "")
	}
	if r.referencedByRuleLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_rule__load", r.referencedByRuleLoad, "form", "")
	}
	if r.idEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__eq", r.idEq, "form", "")
	}
	if r.idNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ne", r.idNe, "form", "")
	}
	if r.idGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gt", r.idGt, "form", "")
	}
	if r.idGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gte", r.idGte, "form", "")
	}
	if r.idLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lt", r.idLt, "form", "")
	}
	if r.idLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lte", r.idLte, "form", "")
	}
	if r.idIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__in", r.idIn, "form", "")
	}
	if r.idNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notin", r.idNotin, "form", "")
	}
	if r.idLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__like", r.idLike, "form", "")
	}
	if r.idNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notlike", r.idNotlike, "form", "")
	}
	if r.idIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ilike", r.idIlike, "form", "")
	}
	if r.idNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notilike", r.idNotilike, "form", "")
	}
	if r.idDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__desc", r.idDesc, "form", "")
	}
	if r.idAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__asc", r.idAsc, "form", "")
	}
	if r.createdAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__eq", r.createdAtEq, "form", "")
	}
	if r.createdAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ne", r.createdAtNe, "form", "")
	}
	if r.createdAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gt", r.createdAtGt, "form", "")
	}
	if r.createdAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gte", r.createdAtGte, "form", "")
	}
	if r.createdAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lt", r.createdAtLt, "form", "")
	}
	if r.createdAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lte", r.createdAtLte, "form", "")
	}
	if r.createdAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__in", r.createdAtIn, "form", "")
	}
	if r.createdAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notin", r.createdAtNotin, "form", "")
	}
	if r.createdAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__like", r.createdAtLike, "form", "")
	}
	if r.createdAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notlike", r.createdAtNotlike, "form", "")
	}
	if r.createdAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ilike", r.createdAtIlike, "form", "")
	}
	if r.createdAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notilike", r.createdAtNotilike, "form", "")
	}
	if r.createdAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__desc", r.createdAtDesc, "form", "")
	}
	if r.createdAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__asc", r.createdAtAsc, "form", "")
	}
	if r.updatedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__eq", r.updatedAtEq, "form", "")
	}
	if r.updatedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ne", r.updatedAtNe, "form", "")
	}
	if r.updatedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gt", r.updatedAtGt, "form", "")
	}
	if r.updatedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gte", r.updatedAtGte, "form", "")
	}
	if r.updatedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lt", r.updatedAtLt, "form", "")
	}
	if r.updatedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lte", r.updatedAtLte, "form", "")
	}
	if r.updatedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__in", r.updatedAtIn, "form", "")
	}
	if r.updatedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notin", r.updatedAtNotin, "form", "")
	}
	if r.updatedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__like", r.updatedAtLike, "form", "")
	}
	if r.updatedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notlike", r.updatedAtNotlike, "form", "")
	}
	if r.updatedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ilike", r.updatedAtIlike, "form", "")
	}
	if r.updatedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notilike", r.updatedAtNotilike, "form", "")
	}
	if r.updatedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__desc", r.updatedAtDesc, "form", "")
	}
	if r.updatedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__asc", r.updatedAtAsc, "form", "")
	}
	if r.deletedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__eq", r.deletedAtEq, "form", "")
	}
	if r.deletedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ne", r.deletedAtNe, "form", "")
	}
	if r.deletedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gt", r.deletedAtGt, "form", "")
	}
	if r.deletedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gte", r.deletedAtGte, "form", "")
	}
	if r.deletedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lt", r.deletedAtLt, "form", "")
	}
	if r.deletedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lte", r.deletedAtLte, "form", "")
	}
	if r.deletedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__in", r.deletedAtIn, "form", "")
	}
	if r.deletedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notin", r.deletedAtNotin, "form", "")
	}
	if r.deletedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__like", r.deletedAtLike, "form", "")
	}
	if r.deletedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notlike", r.deletedAtNotlike, "form", "")
	}
	if r.deletedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ilike", r.deletedAtIlike, "form", "")
	}
	if r.deletedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notilike", r.deletedAtNotilike, "form", "")
	}
	if r.deletedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__desc", r.deletedAtDesc, "form", "")
	}
	if r.deletedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__asc", r.deletedAtAsc, "form", "")
	}
	if r.nameEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__eq", r.nameEq, "form", "")
	}
	if r.nameNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__ne", r.nameNe, "form", "")
	}
	if r.nameGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__gt", r.nameGt, "form", "")
	}
	if r.nameGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__gte", r.nameGte, "form", "")
	}
	if r.nameLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__lt", r.nameLt, "form", "")
	}
	if r.nameLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__lte", r.nameLte, "form", "")
	}
	if r.nameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__in", r.nameIn, "form", "")
	}
	if r.nameNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__notin", r.nameNotin, "form", "")
	}
	if r.nameLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__like", r.nameLike, "form", "")
	}
	if r.nameNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__notlike", r.nameNotlike, "form", "")
	}
	if r.nameIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__ilike", r.nameIlike, "form", "")
	}
	if r.nameNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__notilike", r.nameNotilike, "form", "")
	}
	if r.nameDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__desc", r.nameDesc, "form", "")
	}
	if r.nameAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__asc", r.nameAsc, "form", "")
	}
	if r.ruleTriggerRuleIdEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rule_trigger_rule_id__eq", r.ruleTriggerRuleIdEq, "form", "")
	}
	if r.ruleTriggerRuleIdNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rule_trigger_rule_id__ne", r.ruleTriggerRuleIdNe, "form", "")
	}
	if r.ruleTriggerRuleIdGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rule_trigger_rule_id__gt", r.ruleTriggerRuleIdGt, "form", "")
	}
	if r.ruleTriggerRuleIdGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rule_trigger_rule_id__gte", r.ruleTriggerRuleIdGte, "form", "")
	}
	if r.ruleTriggerRuleIdLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rule_trigger_rule_id__lt", r.ruleTriggerRuleIdLt, "form", "")
	}
	if r.ruleTriggerRuleIdLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rule_trigger_rule_id__lte", r.ruleTriggerRuleIdLte, "form", "")
	}
	if r.ruleTriggerRuleIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rule_trigger_rule_id__in", r.ruleTriggerRuleIdIn, "form", "")
	}
	if r.ruleTriggerRuleIdNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rule_trigger_rule_id__notin", r.ruleTriggerRuleIdNotin, "form", "")
	}
	if r.ruleTriggerRuleIdLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rule_trigger_rule_id__like", r.ruleTriggerRuleIdLike, "form", "")
	}
	if r.ruleTriggerRuleIdNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rule_trigger_rule_id__notlike", r.ruleTriggerRuleIdNotlike, "form", "")
	}
	if r.ruleTriggerRuleIdIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rule_trigger_rule_id__ilike", r.ruleTriggerRuleIdIlike, "form", "")
	}
	if r.ruleTriggerRuleIdNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rule_trigger_rule_id__notilike", r.ruleTriggerRuleIdNotilike, "form", "")
	}
	if r.ruleTriggerRuleIdDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rule_trigger_rule_id__desc", r.ruleTriggerRuleIdDesc, "form", "")
	}
	if r.ruleTriggerRuleIdAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rule_trigger_rule_id__asc", r.ruleTriggerRuleIdAsc, "form", "")
	}
	if r.ruleTriggerRuleIdObjectDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rule_trigger_rule_id_object__desc", r.ruleTriggerRuleIdObjectDesc, "form", "")
	}
	if r.ruleTriggerRuleIdObjectAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rule_trigger_rule_id_object__asc", r.ruleTriggerRuleIdObjectAsc, "form", "")
	}
	if r.referencedByTaskJobIdObjectsDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_task_job_id_objects__desc", r.referencedByTaskJobIdObjectsDesc, "form", "")
	}
	if r.referencedByTaskJobIdObjectsAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_task_job_id_objects__asc", r.referencedByTaskJobIdObjectsAsc, "form", "")
	}
	if r.referencedByRuleJobTriggerJobIdObjectsDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_rule_job_trigger_job_id_objects__desc", r.referencedByRuleJobTriggerJobIdObjectsDesc, "form", "")
	}
	if r.referencedByRuleJobTriggerJobIdObjectsAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_rule_job_trigger_job_id_objects__asc", r.referencedByRuleJobTriggerJobIdObjectsAsc, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchJobRequest struct {
	ctx context.Context
	ApiService *JobAPIService
	primaryKey string
	job *Job
	depth *int64
}

func (r ApiPatchJobRequest) Job(job Job) ApiPatchJobRequest {
	r.job = &job
	return r
}

// Query parameter depth
func (r ApiPatchJobRequest) Depth(depth int64) ApiPatchJobRequest {
	r.depth = &depth
	return r
}

func (r ApiPatchJobRequest) Execute() (*ResponseWithGenericOfJob, *http.Response, error) {
	return r.ApiService.PatchJobExecute(r)
}

/*
PatchJob Method for PatchJob

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiPatchJobRequest
*/
func (a *JobAPIService) PatchJob(ctx context.Context, primaryKey string) ApiPatchJobRequest {
	return ApiPatchJobRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfJob
func (a *JobAPIService) PatchJobExecute(r ApiPatchJobRequest) (*ResponseWithGenericOfJob, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfJob
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobAPIService.PatchJob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/jobs/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.job == nil {
		return localVarReturnValue, nil, reportError("job is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.job
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostJobsRequest struct {
	ctx context.Context
	ApiService *JobAPIService
	rule *[]Rule
	depth *int64
}

func (r ApiPostJobsRequest) Rule(rule []Rule) ApiPostJobsRequest {
	r.rule = &rule
	return r
}

// Query parameter depth
func (r ApiPostJobsRequest) Depth(depth int64) ApiPostJobsRequest {
	r.depth = &depth
	return r
}

func (r ApiPostJobsRequest) Execute() (*ResponseWithGenericOfJob, *http.Response, error) {
	return r.ApiService.PostJobsExecute(r)
}

/*
PostJobs Method for PostJobs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostJobsRequest
*/
func (a *JobAPIService) PostJobs(ctx context.Context) ApiPostJobsRequest {
	return ApiPostJobsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfJob
func (a *JobAPIService) PostJobsExecute(r ApiPostJobsRequest) (*ResponseWithGenericOfJob, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfJob
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobAPIService.PostJobs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/jobs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.rule == nil {
		return localVarReturnValue, nil, reportError("rule is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.rule
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
