/*
Djangolang

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// DependsOnAPIService DependsOnAPI service
type DependsOnAPIService service

type ApiDeleteDependsOnRequest struct {
	ctx context.Context
	ApiService *DependsOnAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiDeleteDependsOnRequest) Depth(depth int64) ApiDeleteDependsOnRequest {
	r.depth = &depth
	return r
}

func (r ApiDeleteDependsOnRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteDependsOnExecute(r)
}

/*
DeleteDependsOn Method for DeleteDependsOn

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiDeleteDependsOnRequest
*/
func (a *DependsOnAPIService) DeleteDependsOn(ctx context.Context, primaryKey string) ApiDeleteDependsOnRequest {
	return ApiDeleteDependsOnRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
func (a *DependsOnAPIService) DeleteDependsOnExecute(r ApiDeleteDependsOnRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DependsOnAPIService.DeleteDependsOn")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/depends-ons/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetDependsOnRequest struct {
	ctx context.Context
	ApiService *DependsOnAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiGetDependsOnRequest) Depth(depth int64) ApiGetDependsOnRequest {
	r.depth = &depth
	return r
}

func (r ApiGetDependsOnRequest) Execute() (*ResponseWithGenericOfDependsOn, *http.Response, error) {
	return r.ApiService.GetDependsOnExecute(r)
}

/*
GetDependsOn Method for GetDependsOn

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiGetDependsOnRequest
*/
func (a *DependsOnAPIService) GetDependsOn(ctx context.Context, primaryKey string) ApiGetDependsOnRequest {
	return ApiGetDependsOnRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfDependsOn
func (a *DependsOnAPIService) GetDependsOnExecute(r ApiGetDependsOnRequest) (*ResponseWithGenericOfDependsOn, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfDependsOn
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DependsOnAPIService.GetDependsOn")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/depends-ons/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDependsOnsRequest struct {
	ctx context.Context
	ApiService *DependsOnAPIService
	limit *int32
	offset *int32
	depth *int32
	jobLoad *string
	idEq *string
	idNe *string
	idGt *string
	idGte *string
	idLt *string
	idLte *string
	idIn *string
	idNotin *string
	idContains *string
	idNotcontains *string
	idLike *string
	idNotlike *string
	idIlike *string
	idNotilike *string
	idDesc *string
	idAsc *string
	createdAtEq *time.Time
	createdAtNe *time.Time
	createdAtGt *time.Time
	createdAtGte *time.Time
	createdAtLt *time.Time
	createdAtLte *time.Time
	createdAtIn *time.Time
	createdAtNotin *time.Time
	createdAtContains *time.Time
	createdAtNotcontains *time.Time
	createdAtLike *time.Time
	createdAtNotlike *time.Time
	createdAtIlike *time.Time
	createdAtNotilike *time.Time
	createdAtDesc *string
	createdAtAsc *string
	updatedAtEq *time.Time
	updatedAtNe *time.Time
	updatedAtGt *time.Time
	updatedAtGte *time.Time
	updatedAtLt *time.Time
	updatedAtLte *time.Time
	updatedAtIn *time.Time
	updatedAtNotin *time.Time
	updatedAtContains *time.Time
	updatedAtNotcontains *time.Time
	updatedAtLike *time.Time
	updatedAtNotlike *time.Time
	updatedAtIlike *time.Time
	updatedAtNotilike *time.Time
	updatedAtDesc *string
	updatedAtAsc *string
	deletedAtEq *time.Time
	deletedAtNe *time.Time
	deletedAtGt *time.Time
	deletedAtGte *time.Time
	deletedAtLt *time.Time
	deletedAtLte *time.Time
	deletedAtIn *time.Time
	deletedAtNotin *time.Time
	deletedAtContains *time.Time
	deletedAtNotcontains *time.Time
	deletedAtLike *time.Time
	deletedAtNotlike *time.Time
	deletedAtIlike *time.Time
	deletedAtNotilike *time.Time
	deletedAtDesc *string
	deletedAtAsc *string
	sourceJobIdEq *string
	sourceJobIdNe *string
	sourceJobIdGt *string
	sourceJobIdGte *string
	sourceJobIdLt *string
	sourceJobIdLte *string
	sourceJobIdIn *string
	sourceJobIdNotin *string
	sourceJobIdContains *string
	sourceJobIdNotcontains *string
	sourceJobIdLike *string
	sourceJobIdNotlike *string
	sourceJobIdIlike *string
	sourceJobIdNotilike *string
	sourceJobIdDesc *string
	sourceJobIdAsc *string
	sourceJobIdObjectContains *interface{}
	sourceJobIdObjectNotcontains *interface{}
	sourceJobIdObjectDesc *string
	sourceJobIdObjectAsc *string
	sinkJobIdEq *string
	sinkJobIdNe *string
	sinkJobIdGt *string
	sinkJobIdGte *string
	sinkJobIdLt *string
	sinkJobIdLte *string
	sinkJobIdIn *string
	sinkJobIdNotin *string
	sinkJobIdContains *string
	sinkJobIdNotcontains *string
	sinkJobIdLike *string
	sinkJobIdNotlike *string
	sinkJobIdIlike *string
	sinkJobIdNotilike *string
	sinkJobIdDesc *string
	sinkJobIdAsc *string
	sinkJobIdObjectContains *interface{}
	sinkJobIdObjectNotcontains *interface{}
	sinkJobIdObjectDesc *string
	sinkJobIdObjectAsc *string
}

// SQL LIMIT operator
func (r ApiGetDependsOnsRequest) Limit(limit int32) ApiGetDependsOnsRequest {
	r.limit = &limit
	return r
}

// SQL OFFSET operator
func (r ApiGetDependsOnsRequest) Offset(offset int32) ApiGetDependsOnsRequest {
	r.offset = &offset
	return r
}

// Max recursion depth for loading foreign objects; default &#x3D; 1  (0 &#x3D; recurse until graph cycle detected, 1 &#x3D; this object only, 2 &#x3D; this object + neighbours, 3 &#x3D; this object + neighbours + their neighbours... etc)
func (r ApiGetDependsOnsRequest) Depth(depth int32) ApiGetDependsOnsRequest {
	r.depth = &depth
	return r
}

// load the given directly related object, value is ignored (presence of key is sufficient)
func (r ApiGetDependsOnsRequest) JobLoad(jobLoad string) ApiGetDependsOnsRequest {
	r.jobLoad = &jobLoad
	return r
}

// SQL &#x3D; comparison
func (r ApiGetDependsOnsRequest) IdEq(idEq string) ApiGetDependsOnsRequest {
	r.idEq = &idEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetDependsOnsRequest) IdNe(idNe string) ApiGetDependsOnsRequest {
	r.idNe = &idNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) IdGt(idGt string) ApiGetDependsOnsRequest {
	r.idGt = &idGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) IdGte(idGte string) ApiGetDependsOnsRequest {
	r.idGte = &idGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) IdLt(idLt string) ApiGetDependsOnsRequest {
	r.idLt = &idLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) IdLte(idLte string) ApiGetDependsOnsRequest {
	r.idLte = &idLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetDependsOnsRequest) IdIn(idIn string) ApiGetDependsOnsRequest {
	r.idIn = &idIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetDependsOnsRequest) IdNotin(idNotin string) ApiGetDependsOnsRequest {
	r.idNotin = &idNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetDependsOnsRequest) IdContains(idContains string) ApiGetDependsOnsRequest {
	r.idContains = &idContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetDependsOnsRequest) IdNotcontains(idNotcontains string) ApiGetDependsOnsRequest {
	r.idNotcontains = &idNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) IdLike(idLike string) ApiGetDependsOnsRequest {
	r.idLike = &idLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) IdNotlike(idNotlike string) ApiGetDependsOnsRequest {
	r.idNotlike = &idNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) IdIlike(idIlike string) ApiGetDependsOnsRequest {
	r.idIlike = &idIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) IdNotilike(idNotilike string) ApiGetDependsOnsRequest {
	r.idNotilike = &idNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetDependsOnsRequest) IdDesc(idDesc string) ApiGetDependsOnsRequest {
	r.idDesc = &idDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetDependsOnsRequest) IdAsc(idAsc string) ApiGetDependsOnsRequest {
	r.idAsc = &idAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetDependsOnsRequest) CreatedAtEq(createdAtEq time.Time) ApiGetDependsOnsRequest {
	r.createdAtEq = &createdAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetDependsOnsRequest) CreatedAtNe(createdAtNe time.Time) ApiGetDependsOnsRequest {
	r.createdAtNe = &createdAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) CreatedAtGt(createdAtGt time.Time) ApiGetDependsOnsRequest {
	r.createdAtGt = &createdAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) CreatedAtGte(createdAtGte time.Time) ApiGetDependsOnsRequest {
	r.createdAtGte = &createdAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) CreatedAtLt(createdAtLt time.Time) ApiGetDependsOnsRequest {
	r.createdAtLt = &createdAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) CreatedAtLte(createdAtLte time.Time) ApiGetDependsOnsRequest {
	r.createdAtLte = &createdAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetDependsOnsRequest) CreatedAtIn(createdAtIn time.Time) ApiGetDependsOnsRequest {
	r.createdAtIn = &createdAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetDependsOnsRequest) CreatedAtNotin(createdAtNotin time.Time) ApiGetDependsOnsRequest {
	r.createdAtNotin = &createdAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetDependsOnsRequest) CreatedAtContains(createdAtContains time.Time) ApiGetDependsOnsRequest {
	r.createdAtContains = &createdAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetDependsOnsRequest) CreatedAtNotcontains(createdAtNotcontains time.Time) ApiGetDependsOnsRequest {
	r.createdAtNotcontains = &createdAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) CreatedAtLike(createdAtLike time.Time) ApiGetDependsOnsRequest {
	r.createdAtLike = &createdAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) CreatedAtNotlike(createdAtNotlike time.Time) ApiGetDependsOnsRequest {
	r.createdAtNotlike = &createdAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) CreatedAtIlike(createdAtIlike time.Time) ApiGetDependsOnsRequest {
	r.createdAtIlike = &createdAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) CreatedAtNotilike(createdAtNotilike time.Time) ApiGetDependsOnsRequest {
	r.createdAtNotilike = &createdAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetDependsOnsRequest) CreatedAtDesc(createdAtDesc string) ApiGetDependsOnsRequest {
	r.createdAtDesc = &createdAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetDependsOnsRequest) CreatedAtAsc(createdAtAsc string) ApiGetDependsOnsRequest {
	r.createdAtAsc = &createdAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetDependsOnsRequest) UpdatedAtEq(updatedAtEq time.Time) ApiGetDependsOnsRequest {
	r.updatedAtEq = &updatedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetDependsOnsRequest) UpdatedAtNe(updatedAtNe time.Time) ApiGetDependsOnsRequest {
	r.updatedAtNe = &updatedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) UpdatedAtGt(updatedAtGt time.Time) ApiGetDependsOnsRequest {
	r.updatedAtGt = &updatedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) UpdatedAtGte(updatedAtGte time.Time) ApiGetDependsOnsRequest {
	r.updatedAtGte = &updatedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) UpdatedAtLt(updatedAtLt time.Time) ApiGetDependsOnsRequest {
	r.updatedAtLt = &updatedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) UpdatedAtLte(updatedAtLte time.Time) ApiGetDependsOnsRequest {
	r.updatedAtLte = &updatedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetDependsOnsRequest) UpdatedAtIn(updatedAtIn time.Time) ApiGetDependsOnsRequest {
	r.updatedAtIn = &updatedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetDependsOnsRequest) UpdatedAtNotin(updatedAtNotin time.Time) ApiGetDependsOnsRequest {
	r.updatedAtNotin = &updatedAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetDependsOnsRequest) UpdatedAtContains(updatedAtContains time.Time) ApiGetDependsOnsRequest {
	r.updatedAtContains = &updatedAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetDependsOnsRequest) UpdatedAtNotcontains(updatedAtNotcontains time.Time) ApiGetDependsOnsRequest {
	r.updatedAtNotcontains = &updatedAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) UpdatedAtLike(updatedAtLike time.Time) ApiGetDependsOnsRequest {
	r.updatedAtLike = &updatedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) UpdatedAtNotlike(updatedAtNotlike time.Time) ApiGetDependsOnsRequest {
	r.updatedAtNotlike = &updatedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) UpdatedAtIlike(updatedAtIlike time.Time) ApiGetDependsOnsRequest {
	r.updatedAtIlike = &updatedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) UpdatedAtNotilike(updatedAtNotilike time.Time) ApiGetDependsOnsRequest {
	r.updatedAtNotilike = &updatedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetDependsOnsRequest) UpdatedAtDesc(updatedAtDesc string) ApiGetDependsOnsRequest {
	r.updatedAtDesc = &updatedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetDependsOnsRequest) UpdatedAtAsc(updatedAtAsc string) ApiGetDependsOnsRequest {
	r.updatedAtAsc = &updatedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetDependsOnsRequest) DeletedAtEq(deletedAtEq time.Time) ApiGetDependsOnsRequest {
	r.deletedAtEq = &deletedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetDependsOnsRequest) DeletedAtNe(deletedAtNe time.Time) ApiGetDependsOnsRequest {
	r.deletedAtNe = &deletedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) DeletedAtGt(deletedAtGt time.Time) ApiGetDependsOnsRequest {
	r.deletedAtGt = &deletedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) DeletedAtGte(deletedAtGte time.Time) ApiGetDependsOnsRequest {
	r.deletedAtGte = &deletedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) DeletedAtLt(deletedAtLt time.Time) ApiGetDependsOnsRequest {
	r.deletedAtLt = &deletedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) DeletedAtLte(deletedAtLte time.Time) ApiGetDependsOnsRequest {
	r.deletedAtLte = &deletedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetDependsOnsRequest) DeletedAtIn(deletedAtIn time.Time) ApiGetDependsOnsRequest {
	r.deletedAtIn = &deletedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetDependsOnsRequest) DeletedAtNotin(deletedAtNotin time.Time) ApiGetDependsOnsRequest {
	r.deletedAtNotin = &deletedAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetDependsOnsRequest) DeletedAtContains(deletedAtContains time.Time) ApiGetDependsOnsRequest {
	r.deletedAtContains = &deletedAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetDependsOnsRequest) DeletedAtNotcontains(deletedAtNotcontains time.Time) ApiGetDependsOnsRequest {
	r.deletedAtNotcontains = &deletedAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) DeletedAtLike(deletedAtLike time.Time) ApiGetDependsOnsRequest {
	r.deletedAtLike = &deletedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) DeletedAtNotlike(deletedAtNotlike time.Time) ApiGetDependsOnsRequest {
	r.deletedAtNotlike = &deletedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) DeletedAtIlike(deletedAtIlike time.Time) ApiGetDependsOnsRequest {
	r.deletedAtIlike = &deletedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) DeletedAtNotilike(deletedAtNotilike time.Time) ApiGetDependsOnsRequest {
	r.deletedAtNotilike = &deletedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetDependsOnsRequest) DeletedAtDesc(deletedAtDesc string) ApiGetDependsOnsRequest {
	r.deletedAtDesc = &deletedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetDependsOnsRequest) DeletedAtAsc(deletedAtAsc string) ApiGetDependsOnsRequest {
	r.deletedAtAsc = &deletedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetDependsOnsRequest) SourceJobIdEq(sourceJobIdEq string) ApiGetDependsOnsRequest {
	r.sourceJobIdEq = &sourceJobIdEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetDependsOnsRequest) SourceJobIdNe(sourceJobIdNe string) ApiGetDependsOnsRequest {
	r.sourceJobIdNe = &sourceJobIdNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) SourceJobIdGt(sourceJobIdGt string) ApiGetDependsOnsRequest {
	r.sourceJobIdGt = &sourceJobIdGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) SourceJobIdGte(sourceJobIdGte string) ApiGetDependsOnsRequest {
	r.sourceJobIdGte = &sourceJobIdGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) SourceJobIdLt(sourceJobIdLt string) ApiGetDependsOnsRequest {
	r.sourceJobIdLt = &sourceJobIdLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) SourceJobIdLte(sourceJobIdLte string) ApiGetDependsOnsRequest {
	r.sourceJobIdLte = &sourceJobIdLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetDependsOnsRequest) SourceJobIdIn(sourceJobIdIn string) ApiGetDependsOnsRequest {
	r.sourceJobIdIn = &sourceJobIdIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetDependsOnsRequest) SourceJobIdNotin(sourceJobIdNotin string) ApiGetDependsOnsRequest {
	r.sourceJobIdNotin = &sourceJobIdNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetDependsOnsRequest) SourceJobIdContains(sourceJobIdContains string) ApiGetDependsOnsRequest {
	r.sourceJobIdContains = &sourceJobIdContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetDependsOnsRequest) SourceJobIdNotcontains(sourceJobIdNotcontains string) ApiGetDependsOnsRequest {
	r.sourceJobIdNotcontains = &sourceJobIdNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) SourceJobIdLike(sourceJobIdLike string) ApiGetDependsOnsRequest {
	r.sourceJobIdLike = &sourceJobIdLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) SourceJobIdNotlike(sourceJobIdNotlike string) ApiGetDependsOnsRequest {
	r.sourceJobIdNotlike = &sourceJobIdNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) SourceJobIdIlike(sourceJobIdIlike string) ApiGetDependsOnsRequest {
	r.sourceJobIdIlike = &sourceJobIdIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) SourceJobIdNotilike(sourceJobIdNotilike string) ApiGetDependsOnsRequest {
	r.sourceJobIdNotilike = &sourceJobIdNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetDependsOnsRequest) SourceJobIdDesc(sourceJobIdDesc string) ApiGetDependsOnsRequest {
	r.sourceJobIdDesc = &sourceJobIdDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetDependsOnsRequest) SourceJobIdAsc(sourceJobIdAsc string) ApiGetDependsOnsRequest {
	r.sourceJobIdAsc = &sourceJobIdAsc
	return r
}

// SQL @&gt; comparison
func (r ApiGetDependsOnsRequest) SourceJobIdObjectContains(sourceJobIdObjectContains interface{}) ApiGetDependsOnsRequest {
	r.sourceJobIdObjectContains = &sourceJobIdObjectContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetDependsOnsRequest) SourceJobIdObjectNotcontains(sourceJobIdObjectNotcontains interface{}) ApiGetDependsOnsRequest {
	r.sourceJobIdObjectNotcontains = &sourceJobIdObjectNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetDependsOnsRequest) SourceJobIdObjectDesc(sourceJobIdObjectDesc string) ApiGetDependsOnsRequest {
	r.sourceJobIdObjectDesc = &sourceJobIdObjectDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetDependsOnsRequest) SourceJobIdObjectAsc(sourceJobIdObjectAsc string) ApiGetDependsOnsRequest {
	r.sourceJobIdObjectAsc = &sourceJobIdObjectAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetDependsOnsRequest) SinkJobIdEq(sinkJobIdEq string) ApiGetDependsOnsRequest {
	r.sinkJobIdEq = &sinkJobIdEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetDependsOnsRequest) SinkJobIdNe(sinkJobIdNe string) ApiGetDependsOnsRequest {
	r.sinkJobIdNe = &sinkJobIdNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) SinkJobIdGt(sinkJobIdGt string) ApiGetDependsOnsRequest {
	r.sinkJobIdGt = &sinkJobIdGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) SinkJobIdGte(sinkJobIdGte string) ApiGetDependsOnsRequest {
	r.sinkJobIdGte = &sinkJobIdGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) SinkJobIdLt(sinkJobIdLt string) ApiGetDependsOnsRequest {
	r.sinkJobIdLt = &sinkJobIdLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetDependsOnsRequest) SinkJobIdLte(sinkJobIdLte string) ApiGetDependsOnsRequest {
	r.sinkJobIdLte = &sinkJobIdLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetDependsOnsRequest) SinkJobIdIn(sinkJobIdIn string) ApiGetDependsOnsRequest {
	r.sinkJobIdIn = &sinkJobIdIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetDependsOnsRequest) SinkJobIdNotin(sinkJobIdNotin string) ApiGetDependsOnsRequest {
	r.sinkJobIdNotin = &sinkJobIdNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetDependsOnsRequest) SinkJobIdContains(sinkJobIdContains string) ApiGetDependsOnsRequest {
	r.sinkJobIdContains = &sinkJobIdContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetDependsOnsRequest) SinkJobIdNotcontains(sinkJobIdNotcontains string) ApiGetDependsOnsRequest {
	r.sinkJobIdNotcontains = &sinkJobIdNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) SinkJobIdLike(sinkJobIdLike string) ApiGetDependsOnsRequest {
	r.sinkJobIdLike = &sinkJobIdLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) SinkJobIdNotlike(sinkJobIdNotlike string) ApiGetDependsOnsRequest {
	r.sinkJobIdNotlike = &sinkJobIdNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) SinkJobIdIlike(sinkJobIdIlike string) ApiGetDependsOnsRequest {
	r.sinkJobIdIlike = &sinkJobIdIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetDependsOnsRequest) SinkJobIdNotilike(sinkJobIdNotilike string) ApiGetDependsOnsRequest {
	r.sinkJobIdNotilike = &sinkJobIdNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetDependsOnsRequest) SinkJobIdDesc(sinkJobIdDesc string) ApiGetDependsOnsRequest {
	r.sinkJobIdDesc = &sinkJobIdDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetDependsOnsRequest) SinkJobIdAsc(sinkJobIdAsc string) ApiGetDependsOnsRequest {
	r.sinkJobIdAsc = &sinkJobIdAsc
	return r
}

// SQL @&gt; comparison
func (r ApiGetDependsOnsRequest) SinkJobIdObjectContains(sinkJobIdObjectContains interface{}) ApiGetDependsOnsRequest {
	r.sinkJobIdObjectContains = &sinkJobIdObjectContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetDependsOnsRequest) SinkJobIdObjectNotcontains(sinkJobIdObjectNotcontains interface{}) ApiGetDependsOnsRequest {
	r.sinkJobIdObjectNotcontains = &sinkJobIdObjectNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetDependsOnsRequest) SinkJobIdObjectDesc(sinkJobIdObjectDesc string) ApiGetDependsOnsRequest {
	r.sinkJobIdObjectDesc = &sinkJobIdObjectDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetDependsOnsRequest) SinkJobIdObjectAsc(sinkJobIdObjectAsc string) ApiGetDependsOnsRequest {
	r.sinkJobIdObjectAsc = &sinkJobIdObjectAsc
	return r
}

func (r ApiGetDependsOnsRequest) Execute() (*ResponseWithGenericOfDependsOn, *http.Response, error) {
	return r.ApiService.GetDependsOnsExecute(r)
}

/*
GetDependsOns Method for GetDependsOns

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetDependsOnsRequest
*/
func (a *DependsOnAPIService) GetDependsOns(ctx context.Context) ApiGetDependsOnsRequest {
	return ApiGetDependsOnsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfDependsOn
func (a *DependsOnAPIService) GetDependsOnsExecute(r ApiGetDependsOnsRequest) (*ResponseWithGenericOfDependsOn, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfDependsOn
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DependsOnAPIService.GetDependsOns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/depends-ons"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	if r.jobLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job__load", r.jobLoad, "form", "")
	}
	if r.idEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__eq", r.idEq, "form", "")
	}
	if r.idNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ne", r.idNe, "form", "")
	}
	if r.idGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gt", r.idGt, "form", "")
	}
	if r.idGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gte", r.idGte, "form", "")
	}
	if r.idLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lt", r.idLt, "form", "")
	}
	if r.idLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lte", r.idLte, "form", "")
	}
	if r.idIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__in", r.idIn, "form", "")
	}
	if r.idNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notin", r.idNotin, "form", "")
	}
	if r.idContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__contains", r.idContains, "form", "")
	}
	if r.idNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notcontains", r.idNotcontains, "form", "")
	}
	if r.idLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__like", r.idLike, "form", "")
	}
	if r.idNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notlike", r.idNotlike, "form", "")
	}
	if r.idIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ilike", r.idIlike, "form", "")
	}
	if r.idNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notilike", r.idNotilike, "form", "")
	}
	if r.idDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__desc", r.idDesc, "form", "")
	}
	if r.idAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__asc", r.idAsc, "form", "")
	}
	if r.createdAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__eq", r.createdAtEq, "form", "")
	}
	if r.createdAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ne", r.createdAtNe, "form", "")
	}
	if r.createdAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gt", r.createdAtGt, "form", "")
	}
	if r.createdAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gte", r.createdAtGte, "form", "")
	}
	if r.createdAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lt", r.createdAtLt, "form", "")
	}
	if r.createdAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lte", r.createdAtLte, "form", "")
	}
	if r.createdAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__in", r.createdAtIn, "form", "")
	}
	if r.createdAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notin", r.createdAtNotin, "form", "")
	}
	if r.createdAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__contains", r.createdAtContains, "form", "")
	}
	if r.createdAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notcontains", r.createdAtNotcontains, "form", "")
	}
	if r.createdAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__like", r.createdAtLike, "form", "")
	}
	if r.createdAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notlike", r.createdAtNotlike, "form", "")
	}
	if r.createdAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ilike", r.createdAtIlike, "form", "")
	}
	if r.createdAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notilike", r.createdAtNotilike, "form", "")
	}
	if r.createdAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__desc", r.createdAtDesc, "form", "")
	}
	if r.createdAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__asc", r.createdAtAsc, "form", "")
	}
	if r.updatedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__eq", r.updatedAtEq, "form", "")
	}
	if r.updatedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ne", r.updatedAtNe, "form", "")
	}
	if r.updatedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gt", r.updatedAtGt, "form", "")
	}
	if r.updatedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gte", r.updatedAtGte, "form", "")
	}
	if r.updatedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lt", r.updatedAtLt, "form", "")
	}
	if r.updatedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lte", r.updatedAtLte, "form", "")
	}
	if r.updatedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__in", r.updatedAtIn, "form", "")
	}
	if r.updatedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notin", r.updatedAtNotin, "form", "")
	}
	if r.updatedAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__contains", r.updatedAtContains, "form", "")
	}
	if r.updatedAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notcontains", r.updatedAtNotcontains, "form", "")
	}
	if r.updatedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__like", r.updatedAtLike, "form", "")
	}
	if r.updatedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notlike", r.updatedAtNotlike, "form", "")
	}
	if r.updatedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ilike", r.updatedAtIlike, "form", "")
	}
	if r.updatedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notilike", r.updatedAtNotilike, "form", "")
	}
	if r.updatedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__desc", r.updatedAtDesc, "form", "")
	}
	if r.updatedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__asc", r.updatedAtAsc, "form", "")
	}
	if r.deletedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__eq", r.deletedAtEq, "form", "")
	}
	if r.deletedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ne", r.deletedAtNe, "form", "")
	}
	if r.deletedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gt", r.deletedAtGt, "form", "")
	}
	if r.deletedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gte", r.deletedAtGte, "form", "")
	}
	if r.deletedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lt", r.deletedAtLt, "form", "")
	}
	if r.deletedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lte", r.deletedAtLte, "form", "")
	}
	if r.deletedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__in", r.deletedAtIn, "form", "")
	}
	if r.deletedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notin", r.deletedAtNotin, "form", "")
	}
	if r.deletedAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__contains", r.deletedAtContains, "form", "")
	}
	if r.deletedAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notcontains", r.deletedAtNotcontains, "form", "")
	}
	if r.deletedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__like", r.deletedAtLike, "form", "")
	}
	if r.deletedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notlike", r.deletedAtNotlike, "form", "")
	}
	if r.deletedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ilike", r.deletedAtIlike, "form", "")
	}
	if r.deletedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notilike", r.deletedAtNotilike, "form", "")
	}
	if r.deletedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__desc", r.deletedAtDesc, "form", "")
	}
	if r.deletedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__asc", r.deletedAtAsc, "form", "")
	}
	if r.sourceJobIdEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_job_id__eq", r.sourceJobIdEq, "form", "")
	}
	if r.sourceJobIdNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_job_id__ne", r.sourceJobIdNe, "form", "")
	}
	if r.sourceJobIdGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_job_id__gt", r.sourceJobIdGt, "form", "")
	}
	if r.sourceJobIdGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_job_id__gte", r.sourceJobIdGte, "form", "")
	}
	if r.sourceJobIdLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_job_id__lt", r.sourceJobIdLt, "form", "")
	}
	if r.sourceJobIdLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_job_id__lte", r.sourceJobIdLte, "form", "")
	}
	if r.sourceJobIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_job_id__in", r.sourceJobIdIn, "form", "")
	}
	if r.sourceJobIdNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_job_id__notin", r.sourceJobIdNotin, "form", "")
	}
	if r.sourceJobIdContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_job_id__contains", r.sourceJobIdContains, "form", "")
	}
	if r.sourceJobIdNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_job_id__notcontains", r.sourceJobIdNotcontains, "form", "")
	}
	if r.sourceJobIdLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_job_id__like", r.sourceJobIdLike, "form", "")
	}
	if r.sourceJobIdNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_job_id__notlike", r.sourceJobIdNotlike, "form", "")
	}
	if r.sourceJobIdIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_job_id__ilike", r.sourceJobIdIlike, "form", "")
	}
	if r.sourceJobIdNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_job_id__notilike", r.sourceJobIdNotilike, "form", "")
	}
	if r.sourceJobIdDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_job_id__desc", r.sourceJobIdDesc, "form", "")
	}
	if r.sourceJobIdAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_job_id__asc", r.sourceJobIdAsc, "form", "")
	}
	if r.sourceJobIdObjectContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_job_id_object__contains", r.sourceJobIdObjectContains, "form", "")
	}
	if r.sourceJobIdObjectNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_job_id_object__notcontains", r.sourceJobIdObjectNotcontains, "form", "")
	}
	if r.sourceJobIdObjectDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_job_id_object__desc", r.sourceJobIdObjectDesc, "form", "")
	}
	if r.sourceJobIdObjectAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_job_id_object__asc", r.sourceJobIdObjectAsc, "form", "")
	}
	if r.sinkJobIdEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sink_job_id__eq", r.sinkJobIdEq, "form", "")
	}
	if r.sinkJobIdNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sink_job_id__ne", r.sinkJobIdNe, "form", "")
	}
	if r.sinkJobIdGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sink_job_id__gt", r.sinkJobIdGt, "form", "")
	}
	if r.sinkJobIdGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sink_job_id__gte", r.sinkJobIdGte, "form", "")
	}
	if r.sinkJobIdLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sink_job_id__lt", r.sinkJobIdLt, "form", "")
	}
	if r.sinkJobIdLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sink_job_id__lte", r.sinkJobIdLte, "form", "")
	}
	if r.sinkJobIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sink_job_id__in", r.sinkJobIdIn, "form", "")
	}
	if r.sinkJobIdNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sink_job_id__notin", r.sinkJobIdNotin, "form", "")
	}
	if r.sinkJobIdContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sink_job_id__contains", r.sinkJobIdContains, "form", "")
	}
	if r.sinkJobIdNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sink_job_id__notcontains", r.sinkJobIdNotcontains, "form", "")
	}
	if r.sinkJobIdLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sink_job_id__like", r.sinkJobIdLike, "form", "")
	}
	if r.sinkJobIdNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sink_job_id__notlike", r.sinkJobIdNotlike, "form", "")
	}
	if r.sinkJobIdIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sink_job_id__ilike", r.sinkJobIdIlike, "form", "")
	}
	if r.sinkJobIdNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sink_job_id__notilike", r.sinkJobIdNotilike, "form", "")
	}
	if r.sinkJobIdDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sink_job_id__desc", r.sinkJobIdDesc, "form", "")
	}
	if r.sinkJobIdAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sink_job_id__asc", r.sinkJobIdAsc, "form", "")
	}
	if r.sinkJobIdObjectContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sink_job_id_object__contains", r.sinkJobIdObjectContains, "form", "")
	}
	if r.sinkJobIdObjectNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sink_job_id_object__notcontains", r.sinkJobIdObjectNotcontains, "form", "")
	}
	if r.sinkJobIdObjectDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sink_job_id_object__desc", r.sinkJobIdObjectDesc, "form", "")
	}
	if r.sinkJobIdObjectAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sink_job_id_object__asc", r.sinkJobIdObjectAsc, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchDependsOnRequest struct {
	ctx context.Context
	ApiService *DependsOnAPIService
	primaryKey string
	dependsOn *DependsOn
	depth *int64
}

func (r ApiPatchDependsOnRequest) DependsOn(dependsOn DependsOn) ApiPatchDependsOnRequest {
	r.dependsOn = &dependsOn
	return r
}

// Query parameter depth
func (r ApiPatchDependsOnRequest) Depth(depth int64) ApiPatchDependsOnRequest {
	r.depth = &depth
	return r
}

func (r ApiPatchDependsOnRequest) Execute() (*ResponseWithGenericOfDependsOn, *http.Response, error) {
	return r.ApiService.PatchDependsOnExecute(r)
}

/*
PatchDependsOn Method for PatchDependsOn

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiPatchDependsOnRequest
*/
func (a *DependsOnAPIService) PatchDependsOn(ctx context.Context, primaryKey string) ApiPatchDependsOnRequest {
	return ApiPatchDependsOnRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfDependsOn
func (a *DependsOnAPIService) PatchDependsOnExecute(r ApiPatchDependsOnRequest) (*ResponseWithGenericOfDependsOn, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfDependsOn
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DependsOnAPIService.PatchDependsOn")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/depends-ons/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dependsOn == nil {
		return localVarReturnValue, nil, reportError("dependsOn is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.dependsOn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostDependsOnsRequest struct {
	ctx context.Context
	ApiService *DependsOnAPIService
	dependsOn *[]DependsOn
	depth *int64
}

func (r ApiPostDependsOnsRequest) DependsOn(dependsOn []DependsOn) ApiPostDependsOnsRequest {
	r.dependsOn = &dependsOn
	return r
}

// Query parameter depth
func (r ApiPostDependsOnsRequest) Depth(depth int64) ApiPostDependsOnsRequest {
	r.depth = &depth
	return r
}

func (r ApiPostDependsOnsRequest) Execute() (*ResponseWithGenericOfDependsOn, *http.Response, error) {
	return r.ApiService.PostDependsOnsExecute(r)
}

/*
PostDependsOns Method for PostDependsOns

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostDependsOnsRequest
*/
func (a *DependsOnAPIService) PostDependsOns(ctx context.Context) ApiPostDependsOnsRequest {
	return ApiPostDependsOnsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfDependsOn
func (a *DependsOnAPIService) PostDependsOnsExecute(r ApiPostDependsOnsRequest) (*ResponseWithGenericOfDependsOn, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfDependsOn
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DependsOnAPIService.PostDependsOns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/depends-ons"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dependsOn == nil {
		return localVarReturnValue, nil, reportError("dependsOn is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.dependsOn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
