/*
Djangolang

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// OutputAPIService OutputAPI service
type OutputAPIService service

type ApiDeleteOutputRequest struct {
	ctx context.Context
	ApiService *OutputAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiDeleteOutputRequest) Depth(depth int64) ApiDeleteOutputRequest {
	r.depth = &depth
	return r
}

func (r ApiDeleteOutputRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteOutputExecute(r)
}

/*
DeleteOutput Method for DeleteOutput

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiDeleteOutputRequest
*/
func (a *OutputAPIService) DeleteOutput(ctx context.Context, primaryKey string) ApiDeleteOutputRequest {
	return ApiDeleteOutputRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
func (a *OutputAPIService) DeleteOutputExecute(r ApiDeleteOutputRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OutputAPIService.DeleteOutput")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/outputs/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetOutputRequest struct {
	ctx context.Context
	ApiService *OutputAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiGetOutputRequest) Depth(depth int64) ApiGetOutputRequest {
	r.depth = &depth
	return r
}

func (r ApiGetOutputRequest) Execute() (*ResponseWithGenericOfOutput, *http.Response, error) {
	return r.ApiService.GetOutputExecute(r)
}

/*
GetOutput Method for GetOutput

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiGetOutputRequest
*/
func (a *OutputAPIService) GetOutput(ctx context.Context, primaryKey string) ApiGetOutputRequest {
	return ApiGetOutputRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfOutput
func (a *OutputAPIService) GetOutputExecute(r ApiGetOutputRequest) (*ResponseWithGenericOfOutput, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfOutput
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OutputAPIService.GetOutput")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/outputs/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetOutputsRequest struct {
	ctx context.Context
	ApiService *OutputAPIService
	limit *int32
	offset *int32
	depth *int32
	executionLoad *string
	taskLoad *string
	logLoad *string
	referencedByLogLoad *string
	idEq *string
	idNe *string
	idGt *string
	idGte *string
	idLt *string
	idLte *string
	idIn *string
	idNotin *string
	idContains *string
	idNotcontains *string
	idLike *string
	idNotlike *string
	idIlike *string
	idNotilike *string
	idDesc *string
	idAsc *string
	createdAtEq *time.Time
	createdAtNe *time.Time
	createdAtGt *time.Time
	createdAtGte *time.Time
	createdAtLt *time.Time
	createdAtLte *time.Time
	createdAtIn *time.Time
	createdAtNotin *time.Time
	createdAtContains *time.Time
	createdAtNotcontains *time.Time
	createdAtLike *time.Time
	createdAtNotlike *time.Time
	createdAtIlike *time.Time
	createdAtNotilike *time.Time
	createdAtDesc *string
	createdAtAsc *string
	updatedAtEq *time.Time
	updatedAtNe *time.Time
	updatedAtGt *time.Time
	updatedAtGte *time.Time
	updatedAtLt *time.Time
	updatedAtLte *time.Time
	updatedAtIn *time.Time
	updatedAtNotin *time.Time
	updatedAtContains *time.Time
	updatedAtNotcontains *time.Time
	updatedAtLike *time.Time
	updatedAtNotlike *time.Time
	updatedAtIlike *time.Time
	updatedAtNotilike *time.Time
	updatedAtDesc *string
	updatedAtAsc *string
	deletedAtEq *time.Time
	deletedAtNe *time.Time
	deletedAtGt *time.Time
	deletedAtGte *time.Time
	deletedAtLt *time.Time
	deletedAtLte *time.Time
	deletedAtIn *time.Time
	deletedAtNotin *time.Time
	deletedAtContains *time.Time
	deletedAtNotcontains *time.Time
	deletedAtLike *time.Time
	deletedAtNotlike *time.Time
	deletedAtIlike *time.Time
	deletedAtNotilike *time.Time
	deletedAtDesc *string
	deletedAtAsc *string
	statusEq *string
	statusNe *string
	statusGt *string
	statusGte *string
	statusLt *string
	statusLte *string
	statusIn *string
	statusNotin *string
	statusContains *string
	statusNotcontains *string
	statusLike *string
	statusNotlike *string
	statusIlike *string
	statusNotilike *string
	statusDesc *string
	statusAsc *string
	startedAtEq *time.Time
	startedAtNe *time.Time
	startedAtGt *time.Time
	startedAtGte *time.Time
	startedAtLt *time.Time
	startedAtLte *time.Time
	startedAtIn *time.Time
	startedAtNotin *time.Time
	startedAtContains *time.Time
	startedAtNotcontains *time.Time
	startedAtLike *time.Time
	startedAtNotlike *time.Time
	startedAtIlike *time.Time
	startedAtNotilike *time.Time
	startedAtDesc *string
	startedAtAsc *string
	endedAtEq *time.Time
	endedAtNe *time.Time
	endedAtGt *time.Time
	endedAtGte *time.Time
	endedAtLt *time.Time
	endedAtLte *time.Time
	endedAtIn *time.Time
	endedAtNotin *time.Time
	endedAtContains *time.Time
	endedAtNotcontains *time.Time
	endedAtLike *time.Time
	endedAtNotlike *time.Time
	endedAtIlike *time.Time
	endedAtNotilike *time.Time
	endedAtDesc *string
	endedAtAsc *string
	exitStatusEq *int64
	exitStatusNe *int64
	exitStatusGt *int64
	exitStatusGte *int64
	exitStatusLt *int64
	exitStatusLte *int64
	exitStatusIn *int64
	exitStatusNotin *int64
	exitStatusContains *int64
	exitStatusNotcontains *int64
	exitStatusDesc *string
	exitStatusAsc *string
	errorEq *string
	errorNe *string
	errorGt *string
	errorGte *string
	errorLt *string
	errorLte *string
	errorIn *string
	errorNotin *string
	errorContains *string
	errorNotcontains *string
	errorLike *string
	errorNotlike *string
	errorIlike *string
	errorNotilike *string
	errorDesc *string
	errorAsc *string
	executionIdEq *string
	executionIdNe *string
	executionIdGt *string
	executionIdGte *string
	executionIdLt *string
	executionIdLte *string
	executionIdIn *string
	executionIdNotin *string
	executionIdContains *string
	executionIdNotcontains *string
	executionIdLike *string
	executionIdNotlike *string
	executionIdIlike *string
	executionIdNotilike *string
	executionIdDesc *string
	executionIdAsc *string
	executionIdObjectContains *interface{}
	executionIdObjectNotcontains *interface{}
	executionIdObjectDesc *string
	executionIdObjectAsc *string
	taskIdEq *string
	taskIdNe *string
	taskIdGt *string
	taskIdGte *string
	taskIdLt *string
	taskIdLte *string
	taskIdIn *string
	taskIdNotin *string
	taskIdContains *string
	taskIdNotcontains *string
	taskIdLike *string
	taskIdNotlike *string
	taskIdIlike *string
	taskIdNotilike *string
	taskIdDesc *string
	taskIdAsc *string
	taskIdObjectContains *interface{}
	taskIdObjectNotcontains *interface{}
	taskIdObjectDesc *string
	taskIdObjectAsc *string
	logIdEq *string
	logIdNe *string
	logIdGt *string
	logIdGte *string
	logIdLt *string
	logIdLte *string
	logIdIn *string
	logIdNotin *string
	logIdContains *string
	logIdNotcontains *string
	logIdLike *string
	logIdNotlike *string
	logIdIlike *string
	logIdNotilike *string
	logIdDesc *string
	logIdAsc *string
	logIdObjectContains *interface{}
	logIdObjectNotcontains *interface{}
	logIdObjectDesc *string
	logIdObjectAsc *string
	referencedByLogOutputIdObjectsContains *interface{}
	referencedByLogOutputIdObjectsNotcontains *interface{}
	referencedByLogOutputIdObjectsDesc *string
	referencedByLogOutputIdObjectsAsc *string
}

// SQL LIMIT operator
func (r ApiGetOutputsRequest) Limit(limit int32) ApiGetOutputsRequest {
	r.limit = &limit
	return r
}

// SQL OFFSET operator
func (r ApiGetOutputsRequest) Offset(offset int32) ApiGetOutputsRequest {
	r.offset = &offset
	return r
}

// Max recursion depth for loading foreign objects; default &#x3D; 1  (0 &#x3D; recurse until graph cycle detected, 1 &#x3D; this object only, 2 &#x3D; this object + neighbours, 3 &#x3D; this object + neighbours + their neighbours... etc)
func (r ApiGetOutputsRequest) Depth(depth int32) ApiGetOutputsRequest {
	r.depth = &depth
	return r
}

// load the given directly related object, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) ExecutionLoad(executionLoad string) ApiGetOutputsRequest {
	r.executionLoad = &executionLoad
	return r
}

// load the given directly related object, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) TaskLoad(taskLoad string) ApiGetOutputsRequest {
	r.taskLoad = &taskLoad
	return r
}

// load the given directly related object, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) LogLoad(logLoad string) ApiGetOutputsRequest {
	r.logLoad = &logLoad
	return r
}

// load the given indirectly related objects, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) ReferencedByLogLoad(referencedByLogLoad string) ApiGetOutputsRequest {
	r.referencedByLogLoad = &referencedByLogLoad
	return r
}

// SQL &#x3D; comparison
func (r ApiGetOutputsRequest) IdEq(idEq string) ApiGetOutputsRequest {
	r.idEq = &idEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetOutputsRequest) IdNe(idNe string) ApiGetOutputsRequest {
	r.idNe = &idNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) IdGt(idGt string) ApiGetOutputsRequest {
	r.idGt = &idGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) IdGte(idGte string) ApiGetOutputsRequest {
	r.idGte = &idGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) IdLt(idLt string) ApiGetOutputsRequest {
	r.idLt = &idLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) IdLte(idLte string) ApiGetOutputsRequest {
	r.idLte = &idLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) IdIn(idIn string) ApiGetOutputsRequest {
	r.idIn = &idIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) IdNotin(idNotin string) ApiGetOutputsRequest {
	r.idNotin = &idNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetOutputsRequest) IdContains(idContains string) ApiGetOutputsRequest {
	r.idContains = &idContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetOutputsRequest) IdNotcontains(idNotcontains string) ApiGetOutputsRequest {
	r.idNotcontains = &idNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) IdLike(idLike string) ApiGetOutputsRequest {
	r.idLike = &idLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) IdNotlike(idNotlike string) ApiGetOutputsRequest {
	r.idNotlike = &idNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) IdIlike(idIlike string) ApiGetOutputsRequest {
	r.idIlike = &idIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) IdNotilike(idNotilike string) ApiGetOutputsRequest {
	r.idNotilike = &idNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) IdDesc(idDesc string) ApiGetOutputsRequest {
	r.idDesc = &idDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) IdAsc(idAsc string) ApiGetOutputsRequest {
	r.idAsc = &idAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetOutputsRequest) CreatedAtEq(createdAtEq time.Time) ApiGetOutputsRequest {
	r.createdAtEq = &createdAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetOutputsRequest) CreatedAtNe(createdAtNe time.Time) ApiGetOutputsRequest {
	r.createdAtNe = &createdAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) CreatedAtGt(createdAtGt time.Time) ApiGetOutputsRequest {
	r.createdAtGt = &createdAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) CreatedAtGte(createdAtGte time.Time) ApiGetOutputsRequest {
	r.createdAtGte = &createdAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) CreatedAtLt(createdAtLt time.Time) ApiGetOutputsRequest {
	r.createdAtLt = &createdAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) CreatedAtLte(createdAtLte time.Time) ApiGetOutputsRequest {
	r.createdAtLte = &createdAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) CreatedAtIn(createdAtIn time.Time) ApiGetOutputsRequest {
	r.createdAtIn = &createdAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) CreatedAtNotin(createdAtNotin time.Time) ApiGetOutputsRequest {
	r.createdAtNotin = &createdAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetOutputsRequest) CreatedAtContains(createdAtContains time.Time) ApiGetOutputsRequest {
	r.createdAtContains = &createdAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetOutputsRequest) CreatedAtNotcontains(createdAtNotcontains time.Time) ApiGetOutputsRequest {
	r.createdAtNotcontains = &createdAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) CreatedAtLike(createdAtLike time.Time) ApiGetOutputsRequest {
	r.createdAtLike = &createdAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) CreatedAtNotlike(createdAtNotlike time.Time) ApiGetOutputsRequest {
	r.createdAtNotlike = &createdAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) CreatedAtIlike(createdAtIlike time.Time) ApiGetOutputsRequest {
	r.createdAtIlike = &createdAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) CreatedAtNotilike(createdAtNotilike time.Time) ApiGetOutputsRequest {
	r.createdAtNotilike = &createdAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) CreatedAtDesc(createdAtDesc string) ApiGetOutputsRequest {
	r.createdAtDesc = &createdAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) CreatedAtAsc(createdAtAsc string) ApiGetOutputsRequest {
	r.createdAtAsc = &createdAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetOutputsRequest) UpdatedAtEq(updatedAtEq time.Time) ApiGetOutputsRequest {
	r.updatedAtEq = &updatedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetOutputsRequest) UpdatedAtNe(updatedAtNe time.Time) ApiGetOutputsRequest {
	r.updatedAtNe = &updatedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) UpdatedAtGt(updatedAtGt time.Time) ApiGetOutputsRequest {
	r.updatedAtGt = &updatedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) UpdatedAtGte(updatedAtGte time.Time) ApiGetOutputsRequest {
	r.updatedAtGte = &updatedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) UpdatedAtLt(updatedAtLt time.Time) ApiGetOutputsRequest {
	r.updatedAtLt = &updatedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) UpdatedAtLte(updatedAtLte time.Time) ApiGetOutputsRequest {
	r.updatedAtLte = &updatedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) UpdatedAtIn(updatedAtIn time.Time) ApiGetOutputsRequest {
	r.updatedAtIn = &updatedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) UpdatedAtNotin(updatedAtNotin time.Time) ApiGetOutputsRequest {
	r.updatedAtNotin = &updatedAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetOutputsRequest) UpdatedAtContains(updatedAtContains time.Time) ApiGetOutputsRequest {
	r.updatedAtContains = &updatedAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetOutputsRequest) UpdatedAtNotcontains(updatedAtNotcontains time.Time) ApiGetOutputsRequest {
	r.updatedAtNotcontains = &updatedAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) UpdatedAtLike(updatedAtLike time.Time) ApiGetOutputsRequest {
	r.updatedAtLike = &updatedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) UpdatedAtNotlike(updatedAtNotlike time.Time) ApiGetOutputsRequest {
	r.updatedAtNotlike = &updatedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) UpdatedAtIlike(updatedAtIlike time.Time) ApiGetOutputsRequest {
	r.updatedAtIlike = &updatedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) UpdatedAtNotilike(updatedAtNotilike time.Time) ApiGetOutputsRequest {
	r.updatedAtNotilike = &updatedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) UpdatedAtDesc(updatedAtDesc string) ApiGetOutputsRequest {
	r.updatedAtDesc = &updatedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) UpdatedAtAsc(updatedAtAsc string) ApiGetOutputsRequest {
	r.updatedAtAsc = &updatedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetOutputsRequest) DeletedAtEq(deletedAtEq time.Time) ApiGetOutputsRequest {
	r.deletedAtEq = &deletedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetOutputsRequest) DeletedAtNe(deletedAtNe time.Time) ApiGetOutputsRequest {
	r.deletedAtNe = &deletedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) DeletedAtGt(deletedAtGt time.Time) ApiGetOutputsRequest {
	r.deletedAtGt = &deletedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) DeletedAtGte(deletedAtGte time.Time) ApiGetOutputsRequest {
	r.deletedAtGte = &deletedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) DeletedAtLt(deletedAtLt time.Time) ApiGetOutputsRequest {
	r.deletedAtLt = &deletedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) DeletedAtLte(deletedAtLte time.Time) ApiGetOutputsRequest {
	r.deletedAtLte = &deletedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) DeletedAtIn(deletedAtIn time.Time) ApiGetOutputsRequest {
	r.deletedAtIn = &deletedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) DeletedAtNotin(deletedAtNotin time.Time) ApiGetOutputsRequest {
	r.deletedAtNotin = &deletedAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetOutputsRequest) DeletedAtContains(deletedAtContains time.Time) ApiGetOutputsRequest {
	r.deletedAtContains = &deletedAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetOutputsRequest) DeletedAtNotcontains(deletedAtNotcontains time.Time) ApiGetOutputsRequest {
	r.deletedAtNotcontains = &deletedAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) DeletedAtLike(deletedAtLike time.Time) ApiGetOutputsRequest {
	r.deletedAtLike = &deletedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) DeletedAtNotlike(deletedAtNotlike time.Time) ApiGetOutputsRequest {
	r.deletedAtNotlike = &deletedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) DeletedAtIlike(deletedAtIlike time.Time) ApiGetOutputsRequest {
	r.deletedAtIlike = &deletedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) DeletedAtNotilike(deletedAtNotilike time.Time) ApiGetOutputsRequest {
	r.deletedAtNotilike = &deletedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) DeletedAtDesc(deletedAtDesc string) ApiGetOutputsRequest {
	r.deletedAtDesc = &deletedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) DeletedAtAsc(deletedAtAsc string) ApiGetOutputsRequest {
	r.deletedAtAsc = &deletedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetOutputsRequest) StatusEq(statusEq string) ApiGetOutputsRequest {
	r.statusEq = &statusEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetOutputsRequest) StatusNe(statusNe string) ApiGetOutputsRequest {
	r.statusNe = &statusNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) StatusGt(statusGt string) ApiGetOutputsRequest {
	r.statusGt = &statusGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) StatusGte(statusGte string) ApiGetOutputsRequest {
	r.statusGte = &statusGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) StatusLt(statusLt string) ApiGetOutputsRequest {
	r.statusLt = &statusLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) StatusLte(statusLte string) ApiGetOutputsRequest {
	r.statusLte = &statusLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) StatusIn(statusIn string) ApiGetOutputsRequest {
	r.statusIn = &statusIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) StatusNotin(statusNotin string) ApiGetOutputsRequest {
	r.statusNotin = &statusNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetOutputsRequest) StatusContains(statusContains string) ApiGetOutputsRequest {
	r.statusContains = &statusContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetOutputsRequest) StatusNotcontains(statusNotcontains string) ApiGetOutputsRequest {
	r.statusNotcontains = &statusNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) StatusLike(statusLike string) ApiGetOutputsRequest {
	r.statusLike = &statusLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) StatusNotlike(statusNotlike string) ApiGetOutputsRequest {
	r.statusNotlike = &statusNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) StatusIlike(statusIlike string) ApiGetOutputsRequest {
	r.statusIlike = &statusIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) StatusNotilike(statusNotilike string) ApiGetOutputsRequest {
	r.statusNotilike = &statusNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) StatusDesc(statusDesc string) ApiGetOutputsRequest {
	r.statusDesc = &statusDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) StatusAsc(statusAsc string) ApiGetOutputsRequest {
	r.statusAsc = &statusAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetOutputsRequest) StartedAtEq(startedAtEq time.Time) ApiGetOutputsRequest {
	r.startedAtEq = &startedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetOutputsRequest) StartedAtNe(startedAtNe time.Time) ApiGetOutputsRequest {
	r.startedAtNe = &startedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) StartedAtGt(startedAtGt time.Time) ApiGetOutputsRequest {
	r.startedAtGt = &startedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) StartedAtGte(startedAtGte time.Time) ApiGetOutputsRequest {
	r.startedAtGte = &startedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) StartedAtLt(startedAtLt time.Time) ApiGetOutputsRequest {
	r.startedAtLt = &startedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) StartedAtLte(startedAtLte time.Time) ApiGetOutputsRequest {
	r.startedAtLte = &startedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) StartedAtIn(startedAtIn time.Time) ApiGetOutputsRequest {
	r.startedAtIn = &startedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) StartedAtNotin(startedAtNotin time.Time) ApiGetOutputsRequest {
	r.startedAtNotin = &startedAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetOutputsRequest) StartedAtContains(startedAtContains time.Time) ApiGetOutputsRequest {
	r.startedAtContains = &startedAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetOutputsRequest) StartedAtNotcontains(startedAtNotcontains time.Time) ApiGetOutputsRequest {
	r.startedAtNotcontains = &startedAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) StartedAtLike(startedAtLike time.Time) ApiGetOutputsRequest {
	r.startedAtLike = &startedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) StartedAtNotlike(startedAtNotlike time.Time) ApiGetOutputsRequest {
	r.startedAtNotlike = &startedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) StartedAtIlike(startedAtIlike time.Time) ApiGetOutputsRequest {
	r.startedAtIlike = &startedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) StartedAtNotilike(startedAtNotilike time.Time) ApiGetOutputsRequest {
	r.startedAtNotilike = &startedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) StartedAtDesc(startedAtDesc string) ApiGetOutputsRequest {
	r.startedAtDesc = &startedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) StartedAtAsc(startedAtAsc string) ApiGetOutputsRequest {
	r.startedAtAsc = &startedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetOutputsRequest) EndedAtEq(endedAtEq time.Time) ApiGetOutputsRequest {
	r.endedAtEq = &endedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetOutputsRequest) EndedAtNe(endedAtNe time.Time) ApiGetOutputsRequest {
	r.endedAtNe = &endedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) EndedAtGt(endedAtGt time.Time) ApiGetOutputsRequest {
	r.endedAtGt = &endedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) EndedAtGte(endedAtGte time.Time) ApiGetOutputsRequest {
	r.endedAtGte = &endedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) EndedAtLt(endedAtLt time.Time) ApiGetOutputsRequest {
	r.endedAtLt = &endedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) EndedAtLte(endedAtLte time.Time) ApiGetOutputsRequest {
	r.endedAtLte = &endedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) EndedAtIn(endedAtIn time.Time) ApiGetOutputsRequest {
	r.endedAtIn = &endedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) EndedAtNotin(endedAtNotin time.Time) ApiGetOutputsRequest {
	r.endedAtNotin = &endedAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetOutputsRequest) EndedAtContains(endedAtContains time.Time) ApiGetOutputsRequest {
	r.endedAtContains = &endedAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetOutputsRequest) EndedAtNotcontains(endedAtNotcontains time.Time) ApiGetOutputsRequest {
	r.endedAtNotcontains = &endedAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) EndedAtLike(endedAtLike time.Time) ApiGetOutputsRequest {
	r.endedAtLike = &endedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) EndedAtNotlike(endedAtNotlike time.Time) ApiGetOutputsRequest {
	r.endedAtNotlike = &endedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) EndedAtIlike(endedAtIlike time.Time) ApiGetOutputsRequest {
	r.endedAtIlike = &endedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) EndedAtNotilike(endedAtNotilike time.Time) ApiGetOutputsRequest {
	r.endedAtNotilike = &endedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) EndedAtDesc(endedAtDesc string) ApiGetOutputsRequest {
	r.endedAtDesc = &endedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) EndedAtAsc(endedAtAsc string) ApiGetOutputsRequest {
	r.endedAtAsc = &endedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetOutputsRequest) ExitStatusEq(exitStatusEq int64) ApiGetOutputsRequest {
	r.exitStatusEq = &exitStatusEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetOutputsRequest) ExitStatusNe(exitStatusNe int64) ApiGetOutputsRequest {
	r.exitStatusNe = &exitStatusNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) ExitStatusGt(exitStatusGt int64) ApiGetOutputsRequest {
	r.exitStatusGt = &exitStatusGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) ExitStatusGte(exitStatusGte int64) ApiGetOutputsRequest {
	r.exitStatusGte = &exitStatusGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) ExitStatusLt(exitStatusLt int64) ApiGetOutputsRequest {
	r.exitStatusLt = &exitStatusLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) ExitStatusLte(exitStatusLte int64) ApiGetOutputsRequest {
	r.exitStatusLte = &exitStatusLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) ExitStatusIn(exitStatusIn int64) ApiGetOutputsRequest {
	r.exitStatusIn = &exitStatusIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) ExitStatusNotin(exitStatusNotin int64) ApiGetOutputsRequest {
	r.exitStatusNotin = &exitStatusNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetOutputsRequest) ExitStatusContains(exitStatusContains int64) ApiGetOutputsRequest {
	r.exitStatusContains = &exitStatusContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetOutputsRequest) ExitStatusNotcontains(exitStatusNotcontains int64) ApiGetOutputsRequest {
	r.exitStatusNotcontains = &exitStatusNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) ExitStatusDesc(exitStatusDesc string) ApiGetOutputsRequest {
	r.exitStatusDesc = &exitStatusDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) ExitStatusAsc(exitStatusAsc string) ApiGetOutputsRequest {
	r.exitStatusAsc = &exitStatusAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetOutputsRequest) ErrorEq(errorEq string) ApiGetOutputsRequest {
	r.errorEq = &errorEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetOutputsRequest) ErrorNe(errorNe string) ApiGetOutputsRequest {
	r.errorNe = &errorNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) ErrorGt(errorGt string) ApiGetOutputsRequest {
	r.errorGt = &errorGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) ErrorGte(errorGte string) ApiGetOutputsRequest {
	r.errorGte = &errorGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) ErrorLt(errorLt string) ApiGetOutputsRequest {
	r.errorLt = &errorLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) ErrorLte(errorLte string) ApiGetOutputsRequest {
	r.errorLte = &errorLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) ErrorIn(errorIn string) ApiGetOutputsRequest {
	r.errorIn = &errorIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) ErrorNotin(errorNotin string) ApiGetOutputsRequest {
	r.errorNotin = &errorNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetOutputsRequest) ErrorContains(errorContains string) ApiGetOutputsRequest {
	r.errorContains = &errorContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetOutputsRequest) ErrorNotcontains(errorNotcontains string) ApiGetOutputsRequest {
	r.errorNotcontains = &errorNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) ErrorLike(errorLike string) ApiGetOutputsRequest {
	r.errorLike = &errorLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) ErrorNotlike(errorNotlike string) ApiGetOutputsRequest {
	r.errorNotlike = &errorNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) ErrorIlike(errorIlike string) ApiGetOutputsRequest {
	r.errorIlike = &errorIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) ErrorNotilike(errorNotilike string) ApiGetOutputsRequest {
	r.errorNotilike = &errorNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) ErrorDesc(errorDesc string) ApiGetOutputsRequest {
	r.errorDesc = &errorDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) ErrorAsc(errorAsc string) ApiGetOutputsRequest {
	r.errorAsc = &errorAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetOutputsRequest) ExecutionIdEq(executionIdEq string) ApiGetOutputsRequest {
	r.executionIdEq = &executionIdEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetOutputsRequest) ExecutionIdNe(executionIdNe string) ApiGetOutputsRequest {
	r.executionIdNe = &executionIdNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) ExecutionIdGt(executionIdGt string) ApiGetOutputsRequest {
	r.executionIdGt = &executionIdGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) ExecutionIdGte(executionIdGte string) ApiGetOutputsRequest {
	r.executionIdGte = &executionIdGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) ExecutionIdLt(executionIdLt string) ApiGetOutputsRequest {
	r.executionIdLt = &executionIdLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) ExecutionIdLte(executionIdLte string) ApiGetOutputsRequest {
	r.executionIdLte = &executionIdLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) ExecutionIdIn(executionIdIn string) ApiGetOutputsRequest {
	r.executionIdIn = &executionIdIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) ExecutionIdNotin(executionIdNotin string) ApiGetOutputsRequest {
	r.executionIdNotin = &executionIdNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetOutputsRequest) ExecutionIdContains(executionIdContains string) ApiGetOutputsRequest {
	r.executionIdContains = &executionIdContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetOutputsRequest) ExecutionIdNotcontains(executionIdNotcontains string) ApiGetOutputsRequest {
	r.executionIdNotcontains = &executionIdNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) ExecutionIdLike(executionIdLike string) ApiGetOutputsRequest {
	r.executionIdLike = &executionIdLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) ExecutionIdNotlike(executionIdNotlike string) ApiGetOutputsRequest {
	r.executionIdNotlike = &executionIdNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) ExecutionIdIlike(executionIdIlike string) ApiGetOutputsRequest {
	r.executionIdIlike = &executionIdIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) ExecutionIdNotilike(executionIdNotilike string) ApiGetOutputsRequest {
	r.executionIdNotilike = &executionIdNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) ExecutionIdDesc(executionIdDesc string) ApiGetOutputsRequest {
	r.executionIdDesc = &executionIdDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) ExecutionIdAsc(executionIdAsc string) ApiGetOutputsRequest {
	r.executionIdAsc = &executionIdAsc
	return r
}

// SQL @&gt; comparison
func (r ApiGetOutputsRequest) ExecutionIdObjectContains(executionIdObjectContains interface{}) ApiGetOutputsRequest {
	r.executionIdObjectContains = &executionIdObjectContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetOutputsRequest) ExecutionIdObjectNotcontains(executionIdObjectNotcontains interface{}) ApiGetOutputsRequest {
	r.executionIdObjectNotcontains = &executionIdObjectNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) ExecutionIdObjectDesc(executionIdObjectDesc string) ApiGetOutputsRequest {
	r.executionIdObjectDesc = &executionIdObjectDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) ExecutionIdObjectAsc(executionIdObjectAsc string) ApiGetOutputsRequest {
	r.executionIdObjectAsc = &executionIdObjectAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetOutputsRequest) TaskIdEq(taskIdEq string) ApiGetOutputsRequest {
	r.taskIdEq = &taskIdEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetOutputsRequest) TaskIdNe(taskIdNe string) ApiGetOutputsRequest {
	r.taskIdNe = &taskIdNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) TaskIdGt(taskIdGt string) ApiGetOutputsRequest {
	r.taskIdGt = &taskIdGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) TaskIdGte(taskIdGte string) ApiGetOutputsRequest {
	r.taskIdGte = &taskIdGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) TaskIdLt(taskIdLt string) ApiGetOutputsRequest {
	r.taskIdLt = &taskIdLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) TaskIdLte(taskIdLte string) ApiGetOutputsRequest {
	r.taskIdLte = &taskIdLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) TaskIdIn(taskIdIn string) ApiGetOutputsRequest {
	r.taskIdIn = &taskIdIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) TaskIdNotin(taskIdNotin string) ApiGetOutputsRequest {
	r.taskIdNotin = &taskIdNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetOutputsRequest) TaskIdContains(taskIdContains string) ApiGetOutputsRequest {
	r.taskIdContains = &taskIdContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetOutputsRequest) TaskIdNotcontains(taskIdNotcontains string) ApiGetOutputsRequest {
	r.taskIdNotcontains = &taskIdNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) TaskIdLike(taskIdLike string) ApiGetOutputsRequest {
	r.taskIdLike = &taskIdLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) TaskIdNotlike(taskIdNotlike string) ApiGetOutputsRequest {
	r.taskIdNotlike = &taskIdNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) TaskIdIlike(taskIdIlike string) ApiGetOutputsRequest {
	r.taskIdIlike = &taskIdIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) TaskIdNotilike(taskIdNotilike string) ApiGetOutputsRequest {
	r.taskIdNotilike = &taskIdNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) TaskIdDesc(taskIdDesc string) ApiGetOutputsRequest {
	r.taskIdDesc = &taskIdDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) TaskIdAsc(taskIdAsc string) ApiGetOutputsRequest {
	r.taskIdAsc = &taskIdAsc
	return r
}

// SQL @&gt; comparison
func (r ApiGetOutputsRequest) TaskIdObjectContains(taskIdObjectContains interface{}) ApiGetOutputsRequest {
	r.taskIdObjectContains = &taskIdObjectContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetOutputsRequest) TaskIdObjectNotcontains(taskIdObjectNotcontains interface{}) ApiGetOutputsRequest {
	r.taskIdObjectNotcontains = &taskIdObjectNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) TaskIdObjectDesc(taskIdObjectDesc string) ApiGetOutputsRequest {
	r.taskIdObjectDesc = &taskIdObjectDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) TaskIdObjectAsc(taskIdObjectAsc string) ApiGetOutputsRequest {
	r.taskIdObjectAsc = &taskIdObjectAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetOutputsRequest) LogIdEq(logIdEq string) ApiGetOutputsRequest {
	r.logIdEq = &logIdEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetOutputsRequest) LogIdNe(logIdNe string) ApiGetOutputsRequest {
	r.logIdNe = &logIdNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) LogIdGt(logIdGt string) ApiGetOutputsRequest {
	r.logIdGt = &logIdGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) LogIdGte(logIdGte string) ApiGetOutputsRequest {
	r.logIdGte = &logIdGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetOutputsRequest) LogIdLt(logIdLt string) ApiGetOutputsRequest {
	r.logIdLt = &logIdLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetOutputsRequest) LogIdLte(logIdLte string) ApiGetOutputsRequest {
	r.logIdLte = &logIdLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) LogIdIn(logIdIn string) ApiGetOutputsRequest {
	r.logIdIn = &logIdIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetOutputsRequest) LogIdNotin(logIdNotin string) ApiGetOutputsRequest {
	r.logIdNotin = &logIdNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetOutputsRequest) LogIdContains(logIdContains string) ApiGetOutputsRequest {
	r.logIdContains = &logIdContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetOutputsRequest) LogIdNotcontains(logIdNotcontains string) ApiGetOutputsRequest {
	r.logIdNotcontains = &logIdNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) LogIdLike(logIdLike string) ApiGetOutputsRequest {
	r.logIdLike = &logIdLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) LogIdNotlike(logIdNotlike string) ApiGetOutputsRequest {
	r.logIdNotlike = &logIdNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) LogIdIlike(logIdIlike string) ApiGetOutputsRequest {
	r.logIdIlike = &logIdIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetOutputsRequest) LogIdNotilike(logIdNotilike string) ApiGetOutputsRequest {
	r.logIdNotilike = &logIdNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) LogIdDesc(logIdDesc string) ApiGetOutputsRequest {
	r.logIdDesc = &logIdDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) LogIdAsc(logIdAsc string) ApiGetOutputsRequest {
	r.logIdAsc = &logIdAsc
	return r
}

// SQL @&gt; comparison
func (r ApiGetOutputsRequest) LogIdObjectContains(logIdObjectContains interface{}) ApiGetOutputsRequest {
	r.logIdObjectContains = &logIdObjectContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetOutputsRequest) LogIdObjectNotcontains(logIdObjectNotcontains interface{}) ApiGetOutputsRequest {
	r.logIdObjectNotcontains = &logIdObjectNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) LogIdObjectDesc(logIdObjectDesc string) ApiGetOutputsRequest {
	r.logIdObjectDesc = &logIdObjectDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) LogIdObjectAsc(logIdObjectAsc string) ApiGetOutputsRequest {
	r.logIdObjectAsc = &logIdObjectAsc
	return r
}

// SQL @&gt; comparison
func (r ApiGetOutputsRequest) ReferencedByLogOutputIdObjectsContains(referencedByLogOutputIdObjectsContains interface{}) ApiGetOutputsRequest {
	r.referencedByLogOutputIdObjectsContains = &referencedByLogOutputIdObjectsContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetOutputsRequest) ReferencedByLogOutputIdObjectsNotcontains(referencedByLogOutputIdObjectsNotcontains interface{}) ApiGetOutputsRequest {
	r.referencedByLogOutputIdObjectsNotcontains = &referencedByLogOutputIdObjectsNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) ReferencedByLogOutputIdObjectsDesc(referencedByLogOutputIdObjectsDesc string) ApiGetOutputsRequest {
	r.referencedByLogOutputIdObjectsDesc = &referencedByLogOutputIdObjectsDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetOutputsRequest) ReferencedByLogOutputIdObjectsAsc(referencedByLogOutputIdObjectsAsc string) ApiGetOutputsRequest {
	r.referencedByLogOutputIdObjectsAsc = &referencedByLogOutputIdObjectsAsc
	return r
}

func (r ApiGetOutputsRequest) Execute() (*ResponseWithGenericOfOutput, *http.Response, error) {
	return r.ApiService.GetOutputsExecute(r)
}

/*
GetOutputs Method for GetOutputs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetOutputsRequest
*/
func (a *OutputAPIService) GetOutputs(ctx context.Context) ApiGetOutputsRequest {
	return ApiGetOutputsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfOutput
func (a *OutputAPIService) GetOutputsExecute(r ApiGetOutputsRequest) (*ResponseWithGenericOfOutput, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfOutput
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OutputAPIService.GetOutputs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/outputs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	if r.executionLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "execution__load", r.executionLoad, "form", "")
	}
	if r.taskLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task__load", r.taskLoad, "form", "")
	}
	if r.logLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "log__load", r.logLoad, "form", "")
	}
	if r.referencedByLogLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_log__load", r.referencedByLogLoad, "form", "")
	}
	if r.idEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__eq", r.idEq, "form", "")
	}
	if r.idNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ne", r.idNe, "form", "")
	}
	if r.idGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gt", r.idGt, "form", "")
	}
	if r.idGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gte", r.idGte, "form", "")
	}
	if r.idLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lt", r.idLt, "form", "")
	}
	if r.idLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lte", r.idLte, "form", "")
	}
	if r.idIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__in", r.idIn, "form", "")
	}
	if r.idNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notin", r.idNotin, "form", "")
	}
	if r.idContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__contains", r.idContains, "form", "")
	}
	if r.idNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notcontains", r.idNotcontains, "form", "")
	}
	if r.idLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__like", r.idLike, "form", "")
	}
	if r.idNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notlike", r.idNotlike, "form", "")
	}
	if r.idIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ilike", r.idIlike, "form", "")
	}
	if r.idNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notilike", r.idNotilike, "form", "")
	}
	if r.idDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__desc", r.idDesc, "form", "")
	}
	if r.idAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__asc", r.idAsc, "form", "")
	}
	if r.createdAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__eq", r.createdAtEq, "form", "")
	}
	if r.createdAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ne", r.createdAtNe, "form", "")
	}
	if r.createdAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gt", r.createdAtGt, "form", "")
	}
	if r.createdAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gte", r.createdAtGte, "form", "")
	}
	if r.createdAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lt", r.createdAtLt, "form", "")
	}
	if r.createdAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lte", r.createdAtLte, "form", "")
	}
	if r.createdAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__in", r.createdAtIn, "form", "")
	}
	if r.createdAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notin", r.createdAtNotin, "form", "")
	}
	if r.createdAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__contains", r.createdAtContains, "form", "")
	}
	if r.createdAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notcontains", r.createdAtNotcontains, "form", "")
	}
	if r.createdAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__like", r.createdAtLike, "form", "")
	}
	if r.createdAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notlike", r.createdAtNotlike, "form", "")
	}
	if r.createdAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ilike", r.createdAtIlike, "form", "")
	}
	if r.createdAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notilike", r.createdAtNotilike, "form", "")
	}
	if r.createdAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__desc", r.createdAtDesc, "form", "")
	}
	if r.createdAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__asc", r.createdAtAsc, "form", "")
	}
	if r.updatedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__eq", r.updatedAtEq, "form", "")
	}
	if r.updatedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ne", r.updatedAtNe, "form", "")
	}
	if r.updatedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gt", r.updatedAtGt, "form", "")
	}
	if r.updatedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gte", r.updatedAtGte, "form", "")
	}
	if r.updatedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lt", r.updatedAtLt, "form", "")
	}
	if r.updatedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lte", r.updatedAtLte, "form", "")
	}
	if r.updatedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__in", r.updatedAtIn, "form", "")
	}
	if r.updatedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notin", r.updatedAtNotin, "form", "")
	}
	if r.updatedAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__contains", r.updatedAtContains, "form", "")
	}
	if r.updatedAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notcontains", r.updatedAtNotcontains, "form", "")
	}
	if r.updatedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__like", r.updatedAtLike, "form", "")
	}
	if r.updatedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notlike", r.updatedAtNotlike, "form", "")
	}
	if r.updatedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ilike", r.updatedAtIlike, "form", "")
	}
	if r.updatedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notilike", r.updatedAtNotilike, "form", "")
	}
	if r.updatedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__desc", r.updatedAtDesc, "form", "")
	}
	if r.updatedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__asc", r.updatedAtAsc, "form", "")
	}
	if r.deletedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__eq", r.deletedAtEq, "form", "")
	}
	if r.deletedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ne", r.deletedAtNe, "form", "")
	}
	if r.deletedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gt", r.deletedAtGt, "form", "")
	}
	if r.deletedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gte", r.deletedAtGte, "form", "")
	}
	if r.deletedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lt", r.deletedAtLt, "form", "")
	}
	if r.deletedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lte", r.deletedAtLte, "form", "")
	}
	if r.deletedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__in", r.deletedAtIn, "form", "")
	}
	if r.deletedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notin", r.deletedAtNotin, "form", "")
	}
	if r.deletedAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__contains", r.deletedAtContains, "form", "")
	}
	if r.deletedAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notcontains", r.deletedAtNotcontains, "form", "")
	}
	if r.deletedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__like", r.deletedAtLike, "form", "")
	}
	if r.deletedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notlike", r.deletedAtNotlike, "form", "")
	}
	if r.deletedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ilike", r.deletedAtIlike, "form", "")
	}
	if r.deletedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notilike", r.deletedAtNotilike, "form", "")
	}
	if r.deletedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__desc", r.deletedAtDesc, "form", "")
	}
	if r.deletedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__asc", r.deletedAtAsc, "form", "")
	}
	if r.statusEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__eq", r.statusEq, "form", "")
	}
	if r.statusNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__ne", r.statusNe, "form", "")
	}
	if r.statusGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__gt", r.statusGt, "form", "")
	}
	if r.statusGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__gte", r.statusGte, "form", "")
	}
	if r.statusLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__lt", r.statusLt, "form", "")
	}
	if r.statusLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__lte", r.statusLte, "form", "")
	}
	if r.statusIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__in", r.statusIn, "form", "")
	}
	if r.statusNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__notin", r.statusNotin, "form", "")
	}
	if r.statusContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__contains", r.statusContains, "form", "")
	}
	if r.statusNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__notcontains", r.statusNotcontains, "form", "")
	}
	if r.statusLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__like", r.statusLike, "form", "")
	}
	if r.statusNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__notlike", r.statusNotlike, "form", "")
	}
	if r.statusIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__ilike", r.statusIlike, "form", "")
	}
	if r.statusNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__notilike", r.statusNotilike, "form", "")
	}
	if r.statusDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__desc", r.statusDesc, "form", "")
	}
	if r.statusAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status__asc", r.statusAsc, "form", "")
	}
	if r.startedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__eq", r.startedAtEq, "form", "")
	}
	if r.startedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__ne", r.startedAtNe, "form", "")
	}
	if r.startedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__gt", r.startedAtGt, "form", "")
	}
	if r.startedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__gte", r.startedAtGte, "form", "")
	}
	if r.startedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__lt", r.startedAtLt, "form", "")
	}
	if r.startedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__lte", r.startedAtLte, "form", "")
	}
	if r.startedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__in", r.startedAtIn, "form", "")
	}
	if r.startedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__notin", r.startedAtNotin, "form", "")
	}
	if r.startedAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__contains", r.startedAtContains, "form", "")
	}
	if r.startedAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__notcontains", r.startedAtNotcontains, "form", "")
	}
	if r.startedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__like", r.startedAtLike, "form", "")
	}
	if r.startedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__notlike", r.startedAtNotlike, "form", "")
	}
	if r.startedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__ilike", r.startedAtIlike, "form", "")
	}
	if r.startedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__notilike", r.startedAtNotilike, "form", "")
	}
	if r.startedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__desc", r.startedAtDesc, "form", "")
	}
	if r.startedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_at__asc", r.startedAtAsc, "form", "")
	}
	if r.endedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__eq", r.endedAtEq, "form", "")
	}
	if r.endedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__ne", r.endedAtNe, "form", "")
	}
	if r.endedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__gt", r.endedAtGt, "form", "")
	}
	if r.endedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__gte", r.endedAtGte, "form", "")
	}
	if r.endedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__lt", r.endedAtLt, "form", "")
	}
	if r.endedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__lte", r.endedAtLte, "form", "")
	}
	if r.endedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__in", r.endedAtIn, "form", "")
	}
	if r.endedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__notin", r.endedAtNotin, "form", "")
	}
	if r.endedAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__contains", r.endedAtContains, "form", "")
	}
	if r.endedAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__notcontains", r.endedAtNotcontains, "form", "")
	}
	if r.endedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__like", r.endedAtLike, "form", "")
	}
	if r.endedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__notlike", r.endedAtNotlike, "form", "")
	}
	if r.endedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__ilike", r.endedAtIlike, "form", "")
	}
	if r.endedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__notilike", r.endedAtNotilike, "form", "")
	}
	if r.endedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__desc", r.endedAtDesc, "form", "")
	}
	if r.endedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ended_at__asc", r.endedAtAsc, "form", "")
	}
	if r.exitStatusEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exit_status__eq", r.exitStatusEq, "form", "")
	}
	if r.exitStatusNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exit_status__ne", r.exitStatusNe, "form", "")
	}
	if r.exitStatusGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exit_status__gt", r.exitStatusGt, "form", "")
	}
	if r.exitStatusGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exit_status__gte", r.exitStatusGte, "form", "")
	}
	if r.exitStatusLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exit_status__lt", r.exitStatusLt, "form", "")
	}
	if r.exitStatusLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exit_status__lte", r.exitStatusLte, "form", "")
	}
	if r.exitStatusIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exit_status__in", r.exitStatusIn, "form", "")
	}
	if r.exitStatusNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exit_status__notin", r.exitStatusNotin, "form", "")
	}
	if r.exitStatusContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exit_status__contains", r.exitStatusContains, "form", "")
	}
	if r.exitStatusNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exit_status__notcontains", r.exitStatusNotcontains, "form", "")
	}
	if r.exitStatusDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exit_status__desc", r.exitStatusDesc, "form", "")
	}
	if r.exitStatusAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exit_status__asc", r.exitStatusAsc, "form", "")
	}
	if r.errorEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error__eq", r.errorEq, "form", "")
	}
	if r.errorNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error__ne", r.errorNe, "form", "")
	}
	if r.errorGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error__gt", r.errorGt, "form", "")
	}
	if r.errorGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error__gte", r.errorGte, "form", "")
	}
	if r.errorLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error__lt", r.errorLt, "form", "")
	}
	if r.errorLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error__lte", r.errorLte, "form", "")
	}
	if r.errorIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error__in", r.errorIn, "form", "")
	}
	if r.errorNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error__notin", r.errorNotin, "form", "")
	}
	if r.errorContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error__contains", r.errorContains, "form", "")
	}
	if r.errorNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error__notcontains", r.errorNotcontains, "form", "")
	}
	if r.errorLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error__like", r.errorLike, "form", "")
	}
	if r.errorNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error__notlike", r.errorNotlike, "form", "")
	}
	if r.errorIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error__ilike", r.errorIlike, "form", "")
	}
	if r.errorNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error__notilike", r.errorNotilike, "form", "")
	}
	if r.errorDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error__desc", r.errorDesc, "form", "")
	}
	if r.errorAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error__asc", r.errorAsc, "form", "")
	}
	if r.executionIdEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "execution_id__eq", r.executionIdEq, "form", "")
	}
	if r.executionIdNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "execution_id__ne", r.executionIdNe, "form", "")
	}
	if r.executionIdGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "execution_id__gt", r.executionIdGt, "form", "")
	}
	if r.executionIdGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "execution_id__gte", r.executionIdGte, "form", "")
	}
	if r.executionIdLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "execution_id__lt", r.executionIdLt, "form", "")
	}
	if r.executionIdLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "execution_id__lte", r.executionIdLte, "form", "")
	}
	if r.executionIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "execution_id__in", r.executionIdIn, "form", "")
	}
	if r.executionIdNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "execution_id__notin", r.executionIdNotin, "form", "")
	}
	if r.executionIdContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "execution_id__contains", r.executionIdContains, "form", "")
	}
	if r.executionIdNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "execution_id__notcontains", r.executionIdNotcontains, "form", "")
	}
	if r.executionIdLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "execution_id__like", r.executionIdLike, "form", "")
	}
	if r.executionIdNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "execution_id__notlike", r.executionIdNotlike, "form", "")
	}
	if r.executionIdIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "execution_id__ilike", r.executionIdIlike, "form", "")
	}
	if r.executionIdNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "execution_id__notilike", r.executionIdNotilike, "form", "")
	}
	if r.executionIdDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "execution_id__desc", r.executionIdDesc, "form", "")
	}
	if r.executionIdAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "execution_id__asc", r.executionIdAsc, "form", "")
	}
	if r.executionIdObjectContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "execution_id_object__contains", r.executionIdObjectContains, "form", "")
	}
	if r.executionIdObjectNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "execution_id_object__notcontains", r.executionIdObjectNotcontains, "form", "")
	}
	if r.executionIdObjectDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "execution_id_object__desc", r.executionIdObjectDesc, "form", "")
	}
	if r.executionIdObjectAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "execution_id_object__asc", r.executionIdObjectAsc, "form", "")
	}
	if r.taskIdEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__eq", r.taskIdEq, "form", "")
	}
	if r.taskIdNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__ne", r.taskIdNe, "form", "")
	}
	if r.taskIdGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__gt", r.taskIdGt, "form", "")
	}
	if r.taskIdGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__gte", r.taskIdGte, "form", "")
	}
	if r.taskIdLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__lt", r.taskIdLt, "form", "")
	}
	if r.taskIdLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__lte", r.taskIdLte, "form", "")
	}
	if r.taskIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__in", r.taskIdIn, "form", "")
	}
	if r.taskIdNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__notin", r.taskIdNotin, "form", "")
	}
	if r.taskIdContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__contains", r.taskIdContains, "form", "")
	}
	if r.taskIdNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__notcontains", r.taskIdNotcontains, "form", "")
	}
	if r.taskIdLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__like", r.taskIdLike, "form", "")
	}
	if r.taskIdNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__notlike", r.taskIdNotlike, "form", "")
	}
	if r.taskIdIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__ilike", r.taskIdIlike, "form", "")
	}
	if r.taskIdNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__notilike", r.taskIdNotilike, "form", "")
	}
	if r.taskIdDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__desc", r.taskIdDesc, "form", "")
	}
	if r.taskIdAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id__asc", r.taskIdAsc, "form", "")
	}
	if r.taskIdObjectContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id_object__contains", r.taskIdObjectContains, "form", "")
	}
	if r.taskIdObjectNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id_object__notcontains", r.taskIdObjectNotcontains, "form", "")
	}
	if r.taskIdObjectDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id_object__desc", r.taskIdObjectDesc, "form", "")
	}
	if r.taskIdObjectAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id_object__asc", r.taskIdObjectAsc, "form", "")
	}
	if r.logIdEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "log_id__eq", r.logIdEq, "form", "")
	}
	if r.logIdNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "log_id__ne", r.logIdNe, "form", "")
	}
	if r.logIdGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "log_id__gt", r.logIdGt, "form", "")
	}
	if r.logIdGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "log_id__gte", r.logIdGte, "form", "")
	}
	if r.logIdLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "log_id__lt", r.logIdLt, "form", "")
	}
	if r.logIdLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "log_id__lte", r.logIdLte, "form", "")
	}
	if r.logIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "log_id__in", r.logIdIn, "form", "")
	}
	if r.logIdNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "log_id__notin", r.logIdNotin, "form", "")
	}
	if r.logIdContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "log_id__contains", r.logIdContains, "form", "")
	}
	if r.logIdNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "log_id__notcontains", r.logIdNotcontains, "form", "")
	}
	if r.logIdLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "log_id__like", r.logIdLike, "form", "")
	}
	if r.logIdNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "log_id__notlike", r.logIdNotlike, "form", "")
	}
	if r.logIdIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "log_id__ilike", r.logIdIlike, "form", "")
	}
	if r.logIdNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "log_id__notilike", r.logIdNotilike, "form", "")
	}
	if r.logIdDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "log_id__desc", r.logIdDesc, "form", "")
	}
	if r.logIdAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "log_id__asc", r.logIdAsc, "form", "")
	}
	if r.logIdObjectContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "log_id_object__contains", r.logIdObjectContains, "form", "")
	}
	if r.logIdObjectNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "log_id_object__notcontains", r.logIdObjectNotcontains, "form", "")
	}
	if r.logIdObjectDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "log_id_object__desc", r.logIdObjectDesc, "form", "")
	}
	if r.logIdObjectAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "log_id_object__asc", r.logIdObjectAsc, "form", "")
	}
	if r.referencedByLogOutputIdObjectsContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_log_output_id_objects__contains", r.referencedByLogOutputIdObjectsContains, "form", "")
	}
	if r.referencedByLogOutputIdObjectsNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_log_output_id_objects__notcontains", r.referencedByLogOutputIdObjectsNotcontains, "form", "")
	}
	if r.referencedByLogOutputIdObjectsDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_log_output_id_objects__desc", r.referencedByLogOutputIdObjectsDesc, "form", "")
	}
	if r.referencedByLogOutputIdObjectsAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_log_output_id_objects__asc", r.referencedByLogOutputIdObjectsAsc, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchOutputRequest struct {
	ctx context.Context
	ApiService *OutputAPIService
	primaryKey string
	output *Output
	depth *int64
}

func (r ApiPatchOutputRequest) Output(output Output) ApiPatchOutputRequest {
	r.output = &output
	return r
}

// Query parameter depth
func (r ApiPatchOutputRequest) Depth(depth int64) ApiPatchOutputRequest {
	r.depth = &depth
	return r
}

func (r ApiPatchOutputRequest) Execute() (*ResponseWithGenericOfOutput, *http.Response, error) {
	return r.ApiService.PatchOutputExecute(r)
}

/*
PatchOutput Method for PatchOutput

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiPatchOutputRequest
*/
func (a *OutputAPIService) PatchOutput(ctx context.Context, primaryKey string) ApiPatchOutputRequest {
	return ApiPatchOutputRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfOutput
func (a *OutputAPIService) PatchOutputExecute(r ApiPatchOutputRequest) (*ResponseWithGenericOfOutput, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfOutput
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OutputAPIService.PatchOutput")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/outputs/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.output == nil {
		return localVarReturnValue, nil, reportError("output is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.output
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostOutputsRequest struct {
	ctx context.Context
	ApiService *OutputAPIService
	output *[]Output
	depth *int64
}

func (r ApiPostOutputsRequest) Output(output []Output) ApiPostOutputsRequest {
	r.output = &output
	return r
}

// Query parameter depth
func (r ApiPostOutputsRequest) Depth(depth int64) ApiPostOutputsRequest {
	r.depth = &depth
	return r
}

func (r ApiPostOutputsRequest) Execute() (*ResponseWithGenericOfOutput, *http.Response, error) {
	return r.ApiService.PostOutputsExecute(r)
}

/*
PostOutputs Method for PostOutputs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostOutputsRequest
*/
func (a *OutputAPIService) PostOutputs(ctx context.Context) ApiPostOutputsRequest {
	return ApiPostOutputsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfOutput
func (a *OutputAPIService) PostOutputsExecute(r ApiPostOutputsRequest) (*ResponseWithGenericOfOutput, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfOutput
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OutputAPIService.PostOutputs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/outputs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.output == nil {
		return localVarReturnValue, nil, reportError("output is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.output
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
