/*
Djangolang

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// M2mRuleTriggerJobAPIService M2mRuleTriggerJobAPI service
type M2mRuleTriggerJobAPIService service

type ApiDeleteM2mRuleTriggerJobRequest struct {
	ctx context.Context
	ApiService *M2mRuleTriggerJobAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiDeleteM2mRuleTriggerJobRequest) Depth(depth int64) ApiDeleteM2mRuleTriggerJobRequest {
	r.depth = &depth
	return r
}

func (r ApiDeleteM2mRuleTriggerJobRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteM2mRuleTriggerJobExecute(r)
}

/*
DeleteM2mRuleTriggerJob Method for DeleteM2mRuleTriggerJob

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiDeleteM2mRuleTriggerJobRequest
*/
func (a *M2mRuleTriggerJobAPIService) DeleteM2mRuleTriggerJob(ctx context.Context, primaryKey string) ApiDeleteM2mRuleTriggerJobRequest {
	return ApiDeleteM2mRuleTriggerJobRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
func (a *M2mRuleTriggerJobAPIService) DeleteM2mRuleTriggerJobExecute(r ApiDeleteM2mRuleTriggerJobRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "M2mRuleTriggerJobAPIService.DeleteM2mRuleTriggerJob")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/m-2m-rule-trigger-jobs/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetM2mRuleTriggerJobRequest struct {
	ctx context.Context
	ApiService *M2mRuleTriggerJobAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiGetM2mRuleTriggerJobRequest) Depth(depth int64) ApiGetM2mRuleTriggerJobRequest {
	r.depth = &depth
	return r
}

func (r ApiGetM2mRuleTriggerJobRequest) Execute() (*ResponseWithGenericOfM2mRuleTriggerJob, *http.Response, error) {
	return r.ApiService.GetM2mRuleTriggerJobExecute(r)
}

/*
GetM2mRuleTriggerJob Method for GetM2mRuleTriggerJob

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiGetM2mRuleTriggerJobRequest
*/
func (a *M2mRuleTriggerJobAPIService) GetM2mRuleTriggerJob(ctx context.Context, primaryKey string) ApiGetM2mRuleTriggerJobRequest {
	return ApiGetM2mRuleTriggerJobRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfM2mRuleTriggerJob
func (a *M2mRuleTriggerJobAPIService) GetM2mRuleTriggerJobExecute(r ApiGetM2mRuleTriggerJobRequest) (*ResponseWithGenericOfM2mRuleTriggerJob, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfM2mRuleTriggerJob
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "M2mRuleTriggerJobAPIService.GetM2mRuleTriggerJob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/m-2m-rule-trigger-jobs/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetM2mRuleTriggerJobsRequest struct {
	ctx context.Context
	ApiService *M2mRuleTriggerJobAPIService
	limit *int32
	offset *int32
	depth *int32
	referencedByExecutionLoad *string
	idEq *string
	idNe *string
	idGt *string
	idGte *string
	idLt *string
	idLte *string
	idIn *string
	idNotin *string
	idLike *string
	idNotlike *string
	idIlike *string
	idNotilike *string
	idDesc *string
	idAsc *string
	createdAtEq *time.Time
	createdAtNe *time.Time
	createdAtGt *time.Time
	createdAtGte *time.Time
	createdAtLt *time.Time
	createdAtLte *time.Time
	createdAtIn *time.Time
	createdAtNotin *time.Time
	createdAtLike *time.Time
	createdAtNotlike *time.Time
	createdAtIlike *time.Time
	createdAtNotilike *time.Time
	createdAtDesc *string
	createdAtAsc *string
	updatedAtEq *time.Time
	updatedAtNe *time.Time
	updatedAtGt *time.Time
	updatedAtGte *time.Time
	updatedAtLt *time.Time
	updatedAtLte *time.Time
	updatedAtIn *time.Time
	updatedAtNotin *time.Time
	updatedAtLike *time.Time
	updatedAtNotlike *time.Time
	updatedAtIlike *time.Time
	updatedAtNotilike *time.Time
	updatedAtDesc *string
	updatedAtAsc *string
	deletedAtEq *time.Time
	deletedAtNe *time.Time
	deletedAtGt *time.Time
	deletedAtGte *time.Time
	deletedAtLt *time.Time
	deletedAtLte *time.Time
	deletedAtIn *time.Time
	deletedAtNotin *time.Time
	deletedAtLike *time.Time
	deletedAtNotlike *time.Time
	deletedAtIlike *time.Time
	deletedAtNotilike *time.Time
	deletedAtDesc *string
	deletedAtAsc *string
	referencedByExecutionM2mRuleTriggerJobIdObjectsDesc *string
	referencedByExecutionM2mRuleTriggerJobIdObjectsAsc *string
}

// SQL LIMIT operator
func (r ApiGetM2mRuleTriggerJobsRequest) Limit(limit int32) ApiGetM2mRuleTriggerJobsRequest {
	r.limit = &limit
	return r
}

// SQL OFFSET operator
func (r ApiGetM2mRuleTriggerJobsRequest) Offset(offset int32) ApiGetM2mRuleTriggerJobsRequest {
	r.offset = &offset
	return r
}

// Max recursion depth for loading foreign objects; default &#x3D; 1  (0 &#x3D; recurse until graph cycle detected, 1 &#x3D; this object only, 2 &#x3D; this object + neighbours, 3 &#x3D; this object + neighbours + their neighbours... etc)
func (r ApiGetM2mRuleTriggerJobsRequest) Depth(depth int32) ApiGetM2mRuleTriggerJobsRequest {
	r.depth = &depth
	return r
}

// load the given indirectly related Djangolang objects, value is ignored (presence of key is sufficient)
func (r ApiGetM2mRuleTriggerJobsRequest) ReferencedByExecutionLoad(referencedByExecutionLoad string) ApiGetM2mRuleTriggerJobsRequest {
	r.referencedByExecutionLoad = &referencedByExecutionLoad
	return r
}

// SQL &#x3D; comparison
func (r ApiGetM2mRuleTriggerJobsRequest) IdEq(idEq string) ApiGetM2mRuleTriggerJobsRequest {
	r.idEq = &idEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetM2mRuleTriggerJobsRequest) IdNe(idNe string) ApiGetM2mRuleTriggerJobsRequest {
	r.idNe = &idNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetM2mRuleTriggerJobsRequest) IdGt(idGt string) ApiGetM2mRuleTriggerJobsRequest {
	r.idGt = &idGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetM2mRuleTriggerJobsRequest) IdGte(idGte string) ApiGetM2mRuleTriggerJobsRequest {
	r.idGte = &idGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetM2mRuleTriggerJobsRequest) IdLt(idLt string) ApiGetM2mRuleTriggerJobsRequest {
	r.idLt = &idLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetM2mRuleTriggerJobsRequest) IdLte(idLte string) ApiGetM2mRuleTriggerJobsRequest {
	r.idLte = &idLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetM2mRuleTriggerJobsRequest) IdIn(idIn string) ApiGetM2mRuleTriggerJobsRequest {
	r.idIn = &idIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetM2mRuleTriggerJobsRequest) IdNotin(idNotin string) ApiGetM2mRuleTriggerJobsRequest {
	r.idNotin = &idNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetM2mRuleTriggerJobsRequest) IdLike(idLike string) ApiGetM2mRuleTriggerJobsRequest {
	r.idLike = &idLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetM2mRuleTriggerJobsRequest) IdNotlike(idNotlike string) ApiGetM2mRuleTriggerJobsRequest {
	r.idNotlike = &idNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetM2mRuleTriggerJobsRequest) IdIlike(idIlike string) ApiGetM2mRuleTriggerJobsRequest {
	r.idIlike = &idIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetM2mRuleTriggerJobsRequest) IdNotilike(idNotilike string) ApiGetM2mRuleTriggerJobsRequest {
	r.idNotilike = &idNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetM2mRuleTriggerJobsRequest) IdDesc(idDesc string) ApiGetM2mRuleTriggerJobsRequest {
	r.idDesc = &idDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetM2mRuleTriggerJobsRequest) IdAsc(idAsc string) ApiGetM2mRuleTriggerJobsRequest {
	r.idAsc = &idAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetM2mRuleTriggerJobsRequest) CreatedAtEq(createdAtEq time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.createdAtEq = &createdAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetM2mRuleTriggerJobsRequest) CreatedAtNe(createdAtNe time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.createdAtNe = &createdAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetM2mRuleTriggerJobsRequest) CreatedAtGt(createdAtGt time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.createdAtGt = &createdAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetM2mRuleTriggerJobsRequest) CreatedAtGte(createdAtGte time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.createdAtGte = &createdAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetM2mRuleTriggerJobsRequest) CreatedAtLt(createdAtLt time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.createdAtLt = &createdAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetM2mRuleTriggerJobsRequest) CreatedAtLte(createdAtLte time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.createdAtLte = &createdAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetM2mRuleTriggerJobsRequest) CreatedAtIn(createdAtIn time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.createdAtIn = &createdAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetM2mRuleTriggerJobsRequest) CreatedAtNotin(createdAtNotin time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.createdAtNotin = &createdAtNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetM2mRuleTriggerJobsRequest) CreatedAtLike(createdAtLike time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.createdAtLike = &createdAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetM2mRuleTriggerJobsRequest) CreatedAtNotlike(createdAtNotlike time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.createdAtNotlike = &createdAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetM2mRuleTriggerJobsRequest) CreatedAtIlike(createdAtIlike time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.createdAtIlike = &createdAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetM2mRuleTriggerJobsRequest) CreatedAtNotilike(createdAtNotilike time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.createdAtNotilike = &createdAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetM2mRuleTriggerJobsRequest) CreatedAtDesc(createdAtDesc string) ApiGetM2mRuleTriggerJobsRequest {
	r.createdAtDesc = &createdAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetM2mRuleTriggerJobsRequest) CreatedAtAsc(createdAtAsc string) ApiGetM2mRuleTriggerJobsRequest {
	r.createdAtAsc = &createdAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetM2mRuleTriggerJobsRequest) UpdatedAtEq(updatedAtEq time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.updatedAtEq = &updatedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetM2mRuleTriggerJobsRequest) UpdatedAtNe(updatedAtNe time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.updatedAtNe = &updatedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetM2mRuleTriggerJobsRequest) UpdatedAtGt(updatedAtGt time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.updatedAtGt = &updatedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetM2mRuleTriggerJobsRequest) UpdatedAtGte(updatedAtGte time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.updatedAtGte = &updatedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetM2mRuleTriggerJobsRequest) UpdatedAtLt(updatedAtLt time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.updatedAtLt = &updatedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetM2mRuleTriggerJobsRequest) UpdatedAtLte(updatedAtLte time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.updatedAtLte = &updatedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetM2mRuleTriggerJobsRequest) UpdatedAtIn(updatedAtIn time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.updatedAtIn = &updatedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetM2mRuleTriggerJobsRequest) UpdatedAtNotin(updatedAtNotin time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.updatedAtNotin = &updatedAtNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetM2mRuleTriggerJobsRequest) UpdatedAtLike(updatedAtLike time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.updatedAtLike = &updatedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetM2mRuleTriggerJobsRequest) UpdatedAtNotlike(updatedAtNotlike time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.updatedAtNotlike = &updatedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetM2mRuleTriggerJobsRequest) UpdatedAtIlike(updatedAtIlike time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.updatedAtIlike = &updatedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetM2mRuleTriggerJobsRequest) UpdatedAtNotilike(updatedAtNotilike time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.updatedAtNotilike = &updatedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetM2mRuleTriggerJobsRequest) UpdatedAtDesc(updatedAtDesc string) ApiGetM2mRuleTriggerJobsRequest {
	r.updatedAtDesc = &updatedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetM2mRuleTriggerJobsRequest) UpdatedAtAsc(updatedAtAsc string) ApiGetM2mRuleTriggerJobsRequest {
	r.updatedAtAsc = &updatedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetM2mRuleTriggerJobsRequest) DeletedAtEq(deletedAtEq time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.deletedAtEq = &deletedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetM2mRuleTriggerJobsRequest) DeletedAtNe(deletedAtNe time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.deletedAtNe = &deletedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetM2mRuleTriggerJobsRequest) DeletedAtGt(deletedAtGt time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.deletedAtGt = &deletedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetM2mRuleTriggerJobsRequest) DeletedAtGte(deletedAtGte time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.deletedAtGte = &deletedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetM2mRuleTriggerJobsRequest) DeletedAtLt(deletedAtLt time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.deletedAtLt = &deletedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetM2mRuleTriggerJobsRequest) DeletedAtLte(deletedAtLte time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.deletedAtLte = &deletedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetM2mRuleTriggerJobsRequest) DeletedAtIn(deletedAtIn time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.deletedAtIn = &deletedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetM2mRuleTriggerJobsRequest) DeletedAtNotin(deletedAtNotin time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.deletedAtNotin = &deletedAtNotin
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetM2mRuleTriggerJobsRequest) DeletedAtLike(deletedAtLike time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.deletedAtLike = &deletedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetM2mRuleTriggerJobsRequest) DeletedAtNotlike(deletedAtNotlike time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.deletedAtNotlike = &deletedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetM2mRuleTriggerJobsRequest) DeletedAtIlike(deletedAtIlike time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.deletedAtIlike = &deletedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetM2mRuleTriggerJobsRequest) DeletedAtNotilike(deletedAtNotilike time.Time) ApiGetM2mRuleTriggerJobsRequest {
	r.deletedAtNotilike = &deletedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetM2mRuleTriggerJobsRequest) DeletedAtDesc(deletedAtDesc string) ApiGetM2mRuleTriggerJobsRequest {
	r.deletedAtDesc = &deletedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetM2mRuleTriggerJobsRequest) DeletedAtAsc(deletedAtAsc string) ApiGetM2mRuleTriggerJobsRequest {
	r.deletedAtAsc = &deletedAtAsc
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetM2mRuleTriggerJobsRequest) ReferencedByExecutionM2mRuleTriggerJobIdObjectsDesc(referencedByExecutionM2mRuleTriggerJobIdObjectsDesc string) ApiGetM2mRuleTriggerJobsRequest {
	r.referencedByExecutionM2mRuleTriggerJobIdObjectsDesc = &referencedByExecutionM2mRuleTriggerJobIdObjectsDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetM2mRuleTriggerJobsRequest) ReferencedByExecutionM2mRuleTriggerJobIdObjectsAsc(referencedByExecutionM2mRuleTriggerJobIdObjectsAsc string) ApiGetM2mRuleTriggerJobsRequest {
	r.referencedByExecutionM2mRuleTriggerJobIdObjectsAsc = &referencedByExecutionM2mRuleTriggerJobIdObjectsAsc
	return r
}

func (r ApiGetM2mRuleTriggerJobsRequest) Execute() (*ResponseWithGenericOfM2mRuleTriggerJob, *http.Response, error) {
	return r.ApiService.GetM2mRuleTriggerJobsExecute(r)
}

/*
GetM2mRuleTriggerJobs Method for GetM2mRuleTriggerJobs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetM2mRuleTriggerJobsRequest
*/
func (a *M2mRuleTriggerJobAPIService) GetM2mRuleTriggerJobs(ctx context.Context) ApiGetM2mRuleTriggerJobsRequest {
	return ApiGetM2mRuleTriggerJobsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfM2mRuleTriggerJob
func (a *M2mRuleTriggerJobAPIService) GetM2mRuleTriggerJobsExecute(r ApiGetM2mRuleTriggerJobsRequest) (*ResponseWithGenericOfM2mRuleTriggerJob, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfM2mRuleTriggerJob
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "M2mRuleTriggerJobAPIService.GetM2mRuleTriggerJobs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/m-2m-rule-trigger-jobs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	if r.referencedByExecutionLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_execution__load", r.referencedByExecutionLoad, "form", "")
	}
	if r.idEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__eq", r.idEq, "form", "")
	}
	if r.idNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ne", r.idNe, "form", "")
	}
	if r.idGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gt", r.idGt, "form", "")
	}
	if r.idGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gte", r.idGte, "form", "")
	}
	if r.idLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lt", r.idLt, "form", "")
	}
	if r.idLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lte", r.idLte, "form", "")
	}
	if r.idIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__in", r.idIn, "form", "")
	}
	if r.idNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notin", r.idNotin, "form", "")
	}
	if r.idLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__like", r.idLike, "form", "")
	}
	if r.idNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notlike", r.idNotlike, "form", "")
	}
	if r.idIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ilike", r.idIlike, "form", "")
	}
	if r.idNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notilike", r.idNotilike, "form", "")
	}
	if r.idDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__desc", r.idDesc, "form", "")
	}
	if r.idAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__asc", r.idAsc, "form", "")
	}
	if r.createdAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__eq", r.createdAtEq, "form", "")
	}
	if r.createdAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ne", r.createdAtNe, "form", "")
	}
	if r.createdAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gt", r.createdAtGt, "form", "")
	}
	if r.createdAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gte", r.createdAtGte, "form", "")
	}
	if r.createdAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lt", r.createdAtLt, "form", "")
	}
	if r.createdAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lte", r.createdAtLte, "form", "")
	}
	if r.createdAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__in", r.createdAtIn, "form", "")
	}
	if r.createdAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notin", r.createdAtNotin, "form", "")
	}
	if r.createdAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__like", r.createdAtLike, "form", "")
	}
	if r.createdAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notlike", r.createdAtNotlike, "form", "")
	}
	if r.createdAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ilike", r.createdAtIlike, "form", "")
	}
	if r.createdAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notilike", r.createdAtNotilike, "form", "")
	}
	if r.createdAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__desc", r.createdAtDesc, "form", "")
	}
	if r.createdAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__asc", r.createdAtAsc, "form", "")
	}
	if r.updatedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__eq", r.updatedAtEq, "form", "")
	}
	if r.updatedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ne", r.updatedAtNe, "form", "")
	}
	if r.updatedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gt", r.updatedAtGt, "form", "")
	}
	if r.updatedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gte", r.updatedAtGte, "form", "")
	}
	if r.updatedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lt", r.updatedAtLt, "form", "")
	}
	if r.updatedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lte", r.updatedAtLte, "form", "")
	}
	if r.updatedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__in", r.updatedAtIn, "form", "")
	}
	if r.updatedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notin", r.updatedAtNotin, "form", "")
	}
	if r.updatedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__like", r.updatedAtLike, "form", "")
	}
	if r.updatedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notlike", r.updatedAtNotlike, "form", "")
	}
	if r.updatedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ilike", r.updatedAtIlike, "form", "")
	}
	if r.updatedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notilike", r.updatedAtNotilike, "form", "")
	}
	if r.updatedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__desc", r.updatedAtDesc, "form", "")
	}
	if r.updatedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__asc", r.updatedAtAsc, "form", "")
	}
	if r.deletedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__eq", r.deletedAtEq, "form", "")
	}
	if r.deletedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ne", r.deletedAtNe, "form", "")
	}
	if r.deletedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gt", r.deletedAtGt, "form", "")
	}
	if r.deletedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gte", r.deletedAtGte, "form", "")
	}
	if r.deletedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lt", r.deletedAtLt, "form", "")
	}
	if r.deletedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lte", r.deletedAtLte, "form", "")
	}
	if r.deletedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__in", r.deletedAtIn, "form", "")
	}
	if r.deletedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notin", r.deletedAtNotin, "form", "")
	}
	if r.deletedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__like", r.deletedAtLike, "form", "")
	}
	if r.deletedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notlike", r.deletedAtNotlike, "form", "")
	}
	if r.deletedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ilike", r.deletedAtIlike, "form", "")
	}
	if r.deletedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notilike", r.deletedAtNotilike, "form", "")
	}
	if r.deletedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__desc", r.deletedAtDesc, "form", "")
	}
	if r.deletedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__asc", r.deletedAtAsc, "form", "")
	}
	if r.referencedByExecutionM2mRuleTriggerJobIdObjectsDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_execution_m2m_rule_trigger_job_id_objects__desc", r.referencedByExecutionM2mRuleTriggerJobIdObjectsDesc, "form", "")
	}
	if r.referencedByExecutionM2mRuleTriggerJobIdObjectsAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_execution_m2m_rule_trigger_job_id_objects__asc", r.referencedByExecutionM2mRuleTriggerJobIdObjectsAsc, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchM2mRuleTriggerJobRequest struct {
	ctx context.Context
	ApiService *M2mRuleTriggerJobAPIService
	primaryKey string
	m2MRuleTriggerJob *M2MRuleTriggerJob
	depth *int64
}

func (r ApiPatchM2mRuleTriggerJobRequest) M2MRuleTriggerJob(m2MRuleTriggerJob M2MRuleTriggerJob) ApiPatchM2mRuleTriggerJobRequest {
	r.m2MRuleTriggerJob = &m2MRuleTriggerJob
	return r
}

// Query parameter depth
func (r ApiPatchM2mRuleTriggerJobRequest) Depth(depth int64) ApiPatchM2mRuleTriggerJobRequest {
	r.depth = &depth
	return r
}

func (r ApiPatchM2mRuleTriggerJobRequest) Execute() (*ResponseWithGenericOfM2mRuleTriggerJob, *http.Response, error) {
	return r.ApiService.PatchM2mRuleTriggerJobExecute(r)
}

/*
PatchM2mRuleTriggerJob Method for PatchM2mRuleTriggerJob

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiPatchM2mRuleTriggerJobRequest
*/
func (a *M2mRuleTriggerJobAPIService) PatchM2mRuleTriggerJob(ctx context.Context, primaryKey string) ApiPatchM2mRuleTriggerJobRequest {
	return ApiPatchM2mRuleTriggerJobRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfM2mRuleTriggerJob
func (a *M2mRuleTriggerJobAPIService) PatchM2mRuleTriggerJobExecute(r ApiPatchM2mRuleTriggerJobRequest) (*ResponseWithGenericOfM2mRuleTriggerJob, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfM2mRuleTriggerJob
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "M2mRuleTriggerJobAPIService.PatchM2mRuleTriggerJob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/m-2m-rule-trigger-jobs/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.m2MRuleTriggerJob == nil {
		return localVarReturnValue, nil, reportError("m2MRuleTriggerJob is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.m2MRuleTriggerJob
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostM2mRuleTriggerJobsRequest struct {
	ctx context.Context
	ApiService *M2mRuleTriggerJobAPIService
	m2MRuleTriggerJob *[]M2MRuleTriggerJob
	depth *int64
}

func (r ApiPostM2mRuleTriggerJobsRequest) M2MRuleTriggerJob(m2MRuleTriggerJob []M2MRuleTriggerJob) ApiPostM2mRuleTriggerJobsRequest {
	r.m2MRuleTriggerJob = &m2MRuleTriggerJob
	return r
}

// Query parameter depth
func (r ApiPostM2mRuleTriggerJobsRequest) Depth(depth int64) ApiPostM2mRuleTriggerJobsRequest {
	r.depth = &depth
	return r
}

func (r ApiPostM2mRuleTriggerJobsRequest) Execute() (*ResponseWithGenericOfM2mRuleTriggerJob, *http.Response, error) {
	return r.ApiService.PostM2mRuleTriggerJobsExecute(r)
}

/*
PostM2mRuleTriggerJobs Method for PostM2mRuleTriggerJobs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostM2mRuleTriggerJobsRequest
*/
func (a *M2mRuleTriggerJobAPIService) PostM2mRuleTriggerJobs(ctx context.Context) ApiPostM2mRuleTriggerJobsRequest {
	return ApiPostM2mRuleTriggerJobsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfM2mRuleTriggerJob
func (a *M2mRuleTriggerJobAPIService) PostM2mRuleTriggerJobsExecute(r ApiPostM2mRuleTriggerJobsRequest) (*ResponseWithGenericOfM2mRuleTriggerJob, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfM2mRuleTriggerJob
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "M2mRuleTriggerJobAPIService.PostM2mRuleTriggerJobs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/m-2m-rule-trigger-jobs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.m2MRuleTriggerJob == nil {
		return localVarReturnValue, nil, reportError("m2MRuleTriggerJob is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.m2MRuleTriggerJob
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GetChangesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
